Repository BOINC/boinc, pull requests merged in 2018-09, with the labels that each got.

#2697 [client] Verify chunk improvements
  client/async_file.cpp
Labels: C: Client - Daemon, E: 1 day, P: Trivial, T: Enhancement

#2708 Improve .gitignore by adding .vscode folder
  .gitignore
Labels: C: Undetermined, P: Trivial, T: Enhancement

#2707 client/scheduler: update NVidia detection
  lib/coproc.cpp
Labels: C: Client - Daemon

#2713 client: fixes for launching GPU detection
  client/gpu_detect.cpp
  client/main.cpp
  configure.ac
  lib/filesys.cpp
  lib/filesys.h
  lib/util.cpp
Labels: C: Client - Daemon
