Repository BOINC/boinc, pull requests merged in 2018-12, with the labels that each got.

#2862 [Android] Add work unit buffer to preference
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsListItemWrapperValue.java
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Manager, P: Minor, T: Enhancement

#2875 [Android] The setBackgroundDrawable was deprecated in API level 16.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectControlsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2876 [Android] Remove unnecessary SDK_INT checks
  android/BOINC/app/src/main/java/edu/berkeley/boinc/util/SystemUiHider.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/util/SystemUiHiderHoneycomb.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2878 [Android] Fix 'equals()' between objects of inconvertible types
  android/BOINC/app/build.gradle
Labels: C: Android - Build, P: Trivial, T: Enhancement

#2879 [Android] Fix the isSpace deprecated function.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/MessagesParser.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2880 [Android] Fix android.text.ClipboardManager deprecated.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogActivity.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2883 [Android] Remove unnecessary semicolons
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/TimePreferences.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2884 [Android] Fix string performance warnings
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectInfo.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2885 [Android] Remove Unused imports
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogClientFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogGuiFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchProcessingActivity.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2887 [Android] Update Charger Type attribute to use the API's constant
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/DeviceStatus.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2889 [Android] Fix Java language level migration aids
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogClientFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogGuiFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/NoticesFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/GalleryAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchProcessingActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/NoticeNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AcctMgrRPCReply.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AppVersionsParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AppsParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/CcState.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Md5.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/MessagesParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/NoticesParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Project.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectAttachReply.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectConfig.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectConfigReplyParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectInfoParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectsParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ResultsParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/TransfersParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/WorkunitsParser.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2882 [Android] Fix deprecated NotificationCompat.Builder(Context context)
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/NoticeNotification.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2886 [Android] Fix javadoc errors
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/DeviceStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountIn.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2909 [MINGW] Added include windows.h before winhttp.h when building with mingw
  lib/boinc_win.h
Labels: C: Client - Windows

#2898 [Android] Fix misused 'continue' statements.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
Labels: C: Android - Manager, C: Client - Android, P: Trivial, T: Enhancement

#2906 web: add options for not collecting or showing URL and country
  html/inc/account.inc
  html/inc/forum.inc
  html/inc/user.inc
  html/inc/user_util.inc
  html/inc/util.inc
  html/inc/util_basic.inc
  html/inc/xml.inc
  html/user/am_set_info.php
  html/user/edit_user_info_action.php
  html/user/edit_user_info_form.php
  lib/util.cpp
  sched/db_dump.cpp
  sched/sched_config.cpp
  sched/sched_config.h
Labels: C: Web - Project

#2837 client: fix work fetch edge case to avoid idleness
  client/client_state.h
  client/hostinfo_unix.cpp
  client/makefile_sim
  client/work_fetch.cpp
Labels: C: Client - Daemon

#2908 [Android] Add option to edit the device name
  android/BOINC/app/src/main/aidl/edu/berkeley/boinc/client/IMonitor.aidl
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsListItemWrapperText.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/res/layout/prefs_layout_dialog_text.xml
  android/BOINC/app/src/main/res/values/strings.xml
  client/gui_rpc_server_ops.cpp
Labels: C: Android - Manager, C: Client - Android

#2900 [Android] Fix control flow issues
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/DeviceStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/App.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Project.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectConfigReplyParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/VersionInfo.java
Labels: C: Android - Manager, C: Client - Android, P: Trivial, T: Enhancement

#2903 [Android] Fix 'Unused assignment' inspection.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogClientFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogGuiFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/GalleryAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectInfoFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/CcState.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.java
Labels: C: Android - Manager, C: Client - Android, P: Trivial, T: Enhancement

#2901 [Android] Fix 'Catch block may ignore exception' inspection.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogClientFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/NoticesFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/StatusFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchProcessingActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/IndividualCredentialInputFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/mutex/BoincMutex.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountOutParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AcctMgrInfoParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AppVersionsParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/CcStateParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/CcStatusParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/GlobalPreferencesParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/HostInfoParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/MessageCountParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/MessagesParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectAttachReplyParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectConfigReplyParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectsParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ResultsParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/TransfersParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/VersionInfoParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/WorkunitsParser.java
Labels: C: Android - Manager, C: Client - Android, P: Trivial, T: Enhancement

#2922 [Android] Fix to return the user name with the team name.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
Labels: C: Android - Manager, E: 1 day, P: Trivial, R: fixed, T: Defect

#2923 [Android] Add missing 'param' tag to Javadoc.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2932 [Android] Fix number comparison
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2933 [Android] Fix incorrect constants.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2934 [Android] Fix WifiManager Leak issue.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement
