Repository BOINC/boinc, pull requests merged in 2019-02, with the labels that each got.

#2916 web: add consent preferences to column view of project preferences page.
  html/inc/prefs_project.inc
  html/inc/prefs_util.inc
Labels: C: Web - Project

#2979 Do not allow page_head() to be called twice
  html/inc/util.inc
Labels: C: Web - Project

#3001 client: fix possible overflow in peak FLOPS calculation for OpenCL GPUs
  client/gpu_amd.cpp
  client/gpu_nvidia.cpp
  client/gpu_opencl.cpp
  lib/coproc.cpp
  lib/coproc.h
  sched/plan_class_spec.cpp
Labels: C: Client - Daemon, P: Critical

#2871 client: unsuspend jobs before telling them to quit
  client/app_control.cpp
Labels: C: Client - Daemon
