Repository BOINC/boinc, pull requests merged in 2019-06, with the labels that each got.

#3160 client: clear the vm_extensions_disabled flag on startup.
  client/client_state.cpp
Labels: C: Client - Daemon, E: 1 day

#3183 Lib: increased size of opencl extensions[] from 1024 to 2048
  lib/opencl_boinc.h
Labels: C: Client - Windows

#3201 [Manager] Enable 'Other Options' menu for SimpleView when no client i…
  clientgui/sg_BoincSimpleFrame.cpp
Labels: C: Manager - Simple View, E: 1 day, P: Minor
