Repository BOINC/boinc, pull requests merged in 2019-03, with the labels that each got.

#2743 web: fix layout problem with forum tables
  html/inc/forum.inc
  html/inc/text_transform.inc
  html/inc/user.inc
Labels: C: Web - Forums

#3029 FLOPS Fix for Server Release Branch
  client/gpu_amd.cpp
  client/gpu_nvidia.cpp
  client/gpu_opencl.cpp
  lib/coproc.cpp
  lib/coproc.h
  sched/plan_class_spec.cpp
Labels: C: Server - Scheduler

#2843 Manager: in select exclusive app, don't check for existence, executability, or filename extension
  clientgui/DlgExclusiveApps.cpp
Labels: C: Manager

#2748 run_program() fixes
  client/gpu_detect.cpp
  clientgui/AdvancedFrame.cpp
  clientgui/MainDocument.cpp
  clientscr/screensaver.cpp
  lib/util.cpp
Labels: C: Client - Daemon

#2971 Web: fix deprecated php stuff
  html/inc/bolt_ex.inc
  html/inc/translation.inc
  html/ops/mass_email_script.php
  html/user/bolt_sched.php
Labels: C: Web - Project

#3049 [web][android][lib] Add conditional terms of use consent requirement to create_account RPC
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AcctMgrFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCErrors.java
  android/BOINC/app/src/main/res/values/strings.xml
  html/inc/common_defs.inc
  html/user/create_account.php
  lib/error_numbers.h
  lib/str_util.cpp
  py/Boinc/setup_project.py
Labels: C: Account Manager System, C: Android - Manager, C: Client - Android, C: Library, C: Manager, C: Web - Project, E: 1 day, P: Major, T: Enhancement

#3070 Fix prototype warnings in the BOINC API headers
  api/boinc_api.h
  api/graphics_api.h
  lib/diagnostics.h
Labels: C: BOINC - API, E: 1 day, P: Trivial, T: Enhancement

#3069 [Manager] Make proper UTF-8 decoding of AM info
  clientgui/AccountManagerInfoPage.cpp
Labels: C: Manager, E: 1 day
