Repository BOINC/boinc, pull requests merged in 2019-01, with the labels that each got.

#2943 [Android] Clean up the MIPS architecture.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/res/values/configuration.xml
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#2939 [Android] Add 'Bug report' menu item
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Manager, E: 1 day, P: Trivial, T: Enhancement

#2872 web: add ability to put extra stuff in <head> element of all pages
  html/inc/util.inc
Labels: C: Web - Project
