Repository BOINC/boinc, pull requests merged in 2019-10, with the labels that each got.

#3323 Fix wrapper not ending critical section
  samples/wrapper/wrapper.cpp
Labels: C: Apps - Wrapper, P: Trivial, T: Enhancement

#3276 Declaring iterators where they are used, not "globally"
  clientgui/sg_ProjectPanel.cpp
Labels: C: Manager, P: Trivial, T: Enhancement

#3335 [Android] Update AndroidManifest.xml to include ndroid.permission.FOR…
  android/BOINC/app/src/main/AndroidManifest.xml
Labels: C: Android - Manager, E: 1 day

#3325 [AppVeyor] Update config to ignore more directories
  appveyor.yml
Labels: C: Build System, P: Trivial

#3339 [GUI][AM] Show error from response when conencting to AM
  clientgui/AccountManagerProcessingPage.cpp
Labels: C: Manager, P: Trivial, T: Enhancement

#3351 [Manager] Fix connection to second local client instance
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  clientgui/MainDocument.cpp
Labels: C: Manager, E: 1 day, P: Trivial, T: Bugfix
