Repository BOINC/boinc, pull requests merged in 2019-07, with the labels that each got.

#3202 [Client] Ignore 'skip_cpu_benckmark' flag if requested via RPC
  client/client_state.h
  client/cs_benchmark.cpp
  client/gui_rpc_server_ops.cpp
Labels: C: Client - Daemon, E: 1 day, P: Minor

#3197 [Android] Add .nomedia file to client folder to tell Android Media Server not to check this folder for media files.
  android/BOINC/app/src/main/assets/nomedia
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/res/values/configuration.xml
Labels: C: Android - Manager, E: 1 day, P: Minor, R: fixed, T: Defect

#2835 client, mgr: add support for registering user's consent to project's terms of use
  client/acct_setup.cpp
  client/acct_setup.h
  client/boinc_cmd.cpp
  client/gui_rpc_server.h
  client/gui_rpc_server_ops.cpp
  clientgui/AsyncRPC.cpp
  clientgui/AsyncRPC.h
  clientgui/MainDocument.cpp
  clientgui/ProjectProcessingPage.cpp
  clientgui/TermsOfUsePage.cpp
  clientgui/WizardAttach.cpp
  clientgui/WizardAttach.h
  lib/error_numbers.h
  lib/gui_rpc_client.h
  lib/gui_rpc_client_ops.cpp
  lib/str_util.cpp
Labels: C: Manager

#3225 [Android] Remove notification on user click
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/NoticeNotification.java
Labels: C: Android - Manager, E: 1 day, P: Trivial

#3226 [Android] Change notification priority from PRIORITY_MIN to PRIORITY_LOW
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.java
Labels: C: Android - Manager, E: 1 day, P: Trivial

#3230 [AppVeyor] Fix VS2013 build
  appveyor.yml
Labels: C: Build System, E: 1 day, P: Major, T: Defect

#3233 Fix incorrect variable printed to sched debug
  sched/plan_class_spec.cpp
Labels: C: Server - Scheduler
