Repository BOINC/boinc, pull requests merged in 2019-05, with the labels that each got.

#2867 [WIP] [Android] Add option to manually enter Account Manager URL
  android/BOINC/app/src/main/aidl/edu/berkeley/boinc/client/IMonitor.aidl
  android/BOINC/app/src/main/aidl/edu/berkeley/boinc/rpc/AccountManager.aidl
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AccountManagerSpinner.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AcctMgrFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountManager.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountManagerParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AcctMgrInfo.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/res/layout/attach_project_acctmgr_dialog.xml
  android/BOINC/app/src/main/res/values/configuration.xml
Labels: C: Android - Manager, C: Client - Android, P: Minor, T: Enhancement

#3110 [Android] Remove XML CDATA tag from Event Log messages
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Message.java
Labels: C: Android - Manager, E: 1 day, P: Major, R: fixed, T: Defect

#3114 [Android] Fix Vagrant build
  .gitignore
  android/Vagrantfile
Labels: C: Android - Build, E: 1 day, P: Minor, R: fixed, T: Defect

#3117 Add Codecov status badge to README.md
  README.md
Labels: C: Undetermined, P: Trivial, T: Enhancement

#3076 Re-enable work buffering in the presence of max concurrent constraints.
  client/app_config.cpp
  client/rr_sim.cpp
  client/work_fetch.cpp
  client/work_fetch.h
  lib/cc_config.cpp
  lib/cc_config.h
Labels: C: Client - Daemon, C: Client - Work Fetch Policy, P: Critical

#3120 [Android] Update the Android Gradle plugin to version 3.4.0 and Gradl…
  android/BOINC/build.gradle
  android/BOINC/gradle/wrapper/gradle-wrapper.properties
Labels: C: Android - Build, E: 1 day, P: Trivial, R: fixed, T: Enhancement

#3111 [Android] Fix issue when 'Add Project' list shows projects that have …
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
Labels: C: Android - Manager, E: 1 day, P: Minor, R: fixed, T: Defect

#3121 [Android] Add guide to Vagrant Readme on how to push to GitHub without password using ssh-key
  android/Vagrant.README.md
Labels: C: Undetermined, E: 1 day, P: Trivial, T: Informational

#3118 [Android] Change the Desktop Environment from Mate to Lubuntu in Vagrant
  android/Vagrantfile
Labels: C: Android - Build, E: 1 day, P: Trivial, T: Enhancement

#3123 [Android] Fix Javadoc issues.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/util/SystemUiHider.java
Labels: C: Android - Manager, E: 1 day, P: Trivial, R: fixed, T: Enhancement

#3126 [Android] Delete unused imports.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/StatusFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
Labels: C: Android - Manager, E: 1 day, P: Trivial, R: fixed, T: Enhancement

#3127 [Android] Fix code style issues
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/IndividualCredentialInputFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Boinc.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Md5.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/util/SystemUiHider.java
Labels: C: Android - Manager, E: 1 day, P: Trivial, R: fixed, T: Enhancement

#3128 [Android] Suppress WakeLock warning message. To run BOINC in the back…
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
Labels: C: Android - Manager, E: 1 day, P: Trivial, R: fixed, T: Enhancement

#3135 [Android] Fix spelling typo
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
Labels: C: Android - Manager, E: 1 day, P: Trivial, R: fixed, T: Defect

#3122 [Android] Use apply() instead of commit on shared preferences. Wherea…
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/AppPreferences.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/PersistentStorage.java
Labels: C: Android - Manager, E: 1 day, P: Trivial, R: fixed, T: Enhancement

#3124 [Android] Fix Obsolete sdk version checks.
  android/BOINC/app/src/main/res/values-v14/theme.xml
  android/BOINC/app/src/main/res/values/styles.xml
  android/BOINC/app/src/main/res/values/theme.xml
Labels: C: Android - Manager, E: 1 day, P: Trivial, R: fixed, T: Enhancement

#3143 [Android] Change color to white in drop-down menus
  android/BOINC/app/src/main/res/values/theme.xml
Labels: C: Android - Manager, E: 1 day, P: Minor, R: fixed, T: Defect

#3142 [Android] Fix menu button icon
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.java
Labels: C: Android - Manager, E: 1 day, P: Minor, R: fixed, T: Defect

#3137 [Android] Add Cancel button to 'Add Project' screen
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.java
  android/BOINC/app/src/main/res/layout/attach_project_list_layout.xml
Labels: C: Android - Manager, E: 1 day, P: Minor, R: fixed, T: Enhancement

#3144 [Windows] [AppVeyor] Use secure windows git dependencies path
  appveyor.yml
Labels: C: Build System, E: 1 day, P: Trivial

#3140 [Android] Fix build_all.sh script to run CI script
  android/Vagrantfile
  android/buildAndroidBOINC-CI.sh
  android/build_all.sh
Labels: C: Android - Build, E: 1 day, P: Minor, R: fixed, T: Defect

#3146 db_purge: fix bugs in zlib support
  sched/db_purge.cpp
Labels: C: Server - Scheduler, E: 1 day, P: Major, R: fixed, T: Defect

#2873 systemd hardening
  client/scripts/boinc-client.service.in
Labels: C: Client - Linux

#3159 [Android] Remove unreachable code
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectConfigReplyParser.java
Labels: C: Android - Manager, P: Trivial

#3161 [Android] Fix day_prefs parse
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/GlobalPreferencesParser.java
Labels: C: Android - Manager, E: 1 day, P: Minor, R: fixed, T: Defect
