Repository BOINC/boinc, pull requests merged in 2020-07, with the labels that each got.

#3859 [Android] Use RecyclerView in event log fragments.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogClientFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogGuiFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ClientLogListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ClientLogRecyclerViewAdapter.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/GuiLogRecyclerViewAdapter.kt
  android/BOINC/app/src/main/res/layout/event_log_client_layout.xml
  android/BOINC/app/src/main/res/layout/event_log_client_list_item_layout.xml
  android/BOINC/app/src/main/res/layout/event_log_gui_layout.xml
  android/BOINC/app/src/main/res/layout/event_log_gui_list_item_layout.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3863 [Android] Use RecyclerView in NoticesFragment.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/NoticesFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NoticesListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NoticesRecyclerViewAdapter.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/TasksListAdapter.java
  android/BOINC/app/src/main/res/layout/notices_layout.xml
  android/BOINC/app/src/main/res/layout/notices_layout_list_item.xml
  android/BOINC/app/src/main/res/layout/tasks_layout_listitem.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3864 [Android] Use RecyclerView in SelectionListActivity.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectListEntry.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/SelectionRecyclerViewAdapter.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListAdapter.java
  android/BOINC/app/src/main/res/layout/attach_project_batch_conflicts_layout.xml
  android/BOINC/app/src/main/res/layout/attach_project_list_layout.xml
  android/BOINC/app/src/main/res/layout/attach_project_list_layout_list_item.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3868 [Android] Inject ClientNotification into Monitor using Dagger.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3872 [Android] Fix white text on yellow warning in dark mode.
  android/BOINC/app/src/main/res/layout/projects_layout_listitem.xml
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Bugfix

#3866 [Android][Scripts] Fix touch files.
  android/buildAndroidBOINC-CI.sh
  android/build_curl_arm.sh
  android/build_curl_arm64.sh
  android/build_curl_x86.sh
  android/build_curl_x86_64.sh
  android/build_openssl_arm.sh
  android/build_openssl_arm64.sh
  android/build_openssl_x86.sh
  android/build_openssl_x86_64.sh
Labels: C: Android - Build, P: Minor, PR: Reviewed, T: Bugfix

#3861 [Android] Use RecyclerView in TasksFragment.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/TaskRecyclerViewAdapter.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/TasksListAdapter.java
  android/BOINC/app/src/main/res/layout/tasks_layout.xml
  android/BOINC/app/src/main/res/layout/tasks_layout_list_item.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3865 [Android] Add XML attributes that provide RTL layout support.
  android/BOINC/app/src/main/res/layout/attach_project_acct_mgr_dialog.xml
  android/BOINC/app/src/main/res/layout/attach_project_batch_conflicts_layout.xml
  android/BOINC/app/src/main/res/layout/attach_project_batch_conflicts_listitem.xml
  android/BOINC/app/src/main/res/layout/attach_project_batch_processing_layout.xml
  android/BOINC/app/src/main/res/layout/attach_project_credential_input_dialog.xml
  android/BOINC/app/src/main/res/layout/attach_project_credential_input_layout.xml
  android/BOINC/app/src/main/res/layout/attach_project_hint_contribution_layout.xml
  android/BOINC/app/src/main/res/layout/attach_project_hint_projectwebsite_layout.xml
  android/BOINC/app/src/main/res/layout/attach_project_info_layout.xml
  android/BOINC/app/src/main/res/layout/attach_project_manual_url_input_dialog.xml
  android/BOINC/app/src/main/res/layout/dialog_about.xml
  android/BOINC/app/src/main/res/layout/dialog_confirm.xml
  android/BOINC/app/src/main/res/layout/event_log_client_list_item_layout.xml
  android/BOINC/app/src/main/res/layout/project_details_layout.xml
  android/BOINC/app/src/main/res/layout/projects_layout_listitem.xml
  android/BOINC/app/src/main/res/layout/status_layout.xml
  android/BOINC/app/src/main/res/layout/tasks_layout_list_item.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3874 [VS2019][Windows] Enable unit tests
  appveyor.yml
  tests/unit-tests/lib/test_str_util.cpp
  win_build/boinc_vs2019.sln
  win_build/unittests_vs2019.vcxproj
  win_build/vcpkg_3rdparty_dependencies_vs2019.vcxproj
Labels: C: Build System, P: Trivial, PR: Review required, T: Unit/Integration Test

#3883 [Android] Use ContextCompat methods.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectControlsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3880 [Android][Scripts] Upgrade android scripts to ndk r-21d
  .gitignore
  .travis.yml
  android/buildAndroidBOINC-CI.sh
  android/build_boinc_arm.sh
  android/build_boinc_arm64.sh
  android/build_boinc_x86.sh
  android/build_boinc_x86_64.sh
  android/build_curl_arm.sh
  android/build_curl_arm64.sh
  android/build_curl_x86.sh
  android/build_curl_x86_64.sh
  android/build_openssl_arm.sh
  android/build_openssl_arm64.sh
  android/build_openssl_x86.sh
  android/build_openssl_x86_64.sh
  android/travis_build_all.sh
Labels: C: Android - Build, P: Minor, PR: Reviewed, T: Enhancement

#3887 [VS2019] Fix CI build
  appveyor.yml
Labels: C: Build System, P: Major, T: Bugfix

#3881 [Android] Alter some strings to use placeholders.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchProcessingActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/res/values-ar/strings.xml
  android/BOINC/app/src/main/res/values-az/strings.xml
  android/BOINC/app/src/main/res/values-b+sr+Latn/strings.xml
  android/BOINC/app/src/main/res/values-bg/strings.xml
  android/BOINC/app/src/main/res/values-ca/strings.xml
  android/BOINC/app/src/main/res/values-cs/strings.xml
  android/BOINC/app/src/main/res/values-da/strings.xml
  android/BOINC/app/src/main/res/values-de/strings.xml
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values-es/strings.xml
  android/BOINC/app/src/main/res/values-eu/strings.xml
  android/BOINC/app/src/main/res/values-fi/strings.xml
  android/BOINC/app/src/main/res/values-fr/strings.xml
  android/BOINC/app/src/main/res/values-he/strings.xml
  android/BOINC/app/src/main/res/values-hu/strings.xml
  android/BOINC/app/src/main/res/values-it-rIT/strings.xml
  android/BOINC/app/src/main/res/values-ja/strings.xml
  android/BOINC/app/src/main/res/values-ka/strings.xml
  android/BOINC/app/src/main/res/values-ko/strings.xml
  android/BOINC/app/src/main/res/values-lt/strings.xml
  android/BOINC/app/src/main/res/values-lv/strings.xml
  android/BOINC/app/src/main/res/values-nb/strings.xml
  android/BOINC/app/src/main/res/values-nl/strings.xml
  android/BOINC/app/src/main/res/values-pl/strings.xml
  android/BOINC/app/src/main/res/values-pt-rBR/strings.xml
  android/BOINC/app/src/main/res/values-pt-rPT/strings.xml
  android/BOINC/app/src/main/res/values-ro/strings.xml
  android/BOINC/app/src/main/res/values-ru/strings.xml
  android/BOINC/app/src/main/res/values-sk/strings.xml
  android/BOINC/app/src/main/res/values-sl/strings.xml
  android/BOINC/app/src/main/res/values-sv/strings.xml
  android/BOINC/app/src/main/res/values-tr/strings.xml
  android/BOINC/app/src/main/res/values-uk/strings.xml
  android/BOINC/app/src/main/res/values-zh-rCN/strings.xml
  android/BOINC/app/src/main/res/values-zh-rTW/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3884 [Android] Use RecyclerView in BatchConflictListActivity.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictRecyclerViewAdapter.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/IndividualCredentialInputFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.kt
  android/BOINC/app/src/main/res/layout/attach_project_batch_conflicts_layout.xml
  android/BOINC/app/src/main/res/layout/attach_project_batch_conflicts_list_item.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3885 [Android] Update project dependencies.
  android/BOINC/.idea/misc.xml
  android/BOINC/app/build.gradle
Labels: C: Android - Build, P: Trivial, PR: Reviewed, T: Enhancement

#3897 When parsing NVIDIA driver version, max minor version with 99.
  client/gpu_nvidia.cpp
Labels: C: Client - Daemon, E: 1 day, P: Major, PR: Reviewed, T: Bugfix

#3892 [Android] Update Android Gradle plugin to 4.1 beta 2.
  .travis.yml
  android/BOINC/build.gradle
  android/BOINC/gradle/wrapper/gradle-wrapper.properties
Labels: C: Android - Build, P: Trivial, PR: Reviewed, T: Enhancement

#3882 [Android] Remove unused strings.
  android/BOINC/app/src/main/res/values-ar/strings.xml
  android/BOINC/app/src/main/res/values-az/strings.xml
  android/BOINC/app/src/main/res/values-b+sr+Latn/strings.xml
  android/BOINC/app/src/main/res/values-bg/strings.xml
  android/BOINC/app/src/main/res/values-ca/strings.xml
  android/BOINC/app/src/main/res/values-cs/strings.xml
  android/BOINC/app/src/main/res/values-da/strings.xml
  android/BOINC/app/src/main/res/values-de/strings.xml
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values-es/strings.xml
  android/BOINC/app/src/main/res/values-eu/strings.xml
  android/BOINC/app/src/main/res/values-fi/strings.xml
  android/BOINC/app/src/main/res/values-fr/strings.xml
  android/BOINC/app/src/main/res/values-he/strings.xml
  android/BOINC/app/src/main/res/values-hu/strings.xml
  android/BOINC/app/src/main/res/values-it-rIT/strings.xml
  android/BOINC/app/src/main/res/values-ja/strings.xml
  android/BOINC/app/src/main/res/values-ka/strings.xml
  android/BOINC/app/src/main/res/values-ko/strings.xml
  android/BOINC/app/src/main/res/values-lt/strings.xml
  android/BOINC/app/src/main/res/values-lv/strings.xml
  android/BOINC/app/src/main/res/values-nb/strings.xml
  android/BOINC/app/src/main/res/values-nl/strings.xml
  android/BOINC/app/src/main/res/values-pl/strings.xml
  android/BOINC/app/src/main/res/values-pt-rBR/strings.xml
  android/BOINC/app/src/main/res/values-pt-rPT/strings.xml
  android/BOINC/app/src/main/res/values-ro/strings.xml
  android/BOINC/app/src/main/res/values-ru/strings.xml
  android/BOINC/app/src/main/res/values-sk/strings.xml
  android/BOINC/app/src/main/res/values-sl/strings.xml
  android/BOINC/app/src/main/res/values-sv/strings.xml
  android/BOINC/app/src/main/res/values-tr/strings.xml
  android/BOINC/app/src/main/res/values-uk/strings.xml
  android/BOINC/app/src/main/res/values-zh-rCN/strings.xml
  android/BOINC/app/src/main/res/values-zh-rTW/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3888 [Android] Make use of ViewPager2 in EventLogActivity.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/AndroidManifest.xml
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogActivityTabListener.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ui/eventlog/EventLogActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ui/eventlog/EventLogClientFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ui/eventlog/EventLogGuiFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ui/eventlog/EventLogPagerAdapter.kt
  android/BOINC/app/src/main/res/layout/activity_event_log.xml
  android/BOINC/app/src/main/res/values-land/styles.xml
  android/BOINC/app/src/main/res/values-w820dp/dimens.xml
  android/BOINC/app/src/main/res/values/dimens.xml
  android/BOINC/app/src/main/res/values/styles.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3889 [Android][Scripts] Remove neon optimization from openssl
  android/buildAndroidBOINC-CI.sh
  android/build_openssl_arm.sh
  android/build_openssl_arm64.sh
  android/build_openssl_x86.sh
  android/build_openssl_x86_64.sh
  android/clear_environment.sh
Labels: C: Android - Build, P: Minor, PR: Reviewed, T: Enhancement

#3890 [Android] Use compound drawables.
  android/BOINC/app/src/main/res/layout/attach_project_hint_platforms_layout.xml
  android/BOINC/app/src/main/res/layout/dialog_about.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3791 Update ca-bundle.crt
  curl/ca-bundle.crt
Labels: PR: Review required

#3898 [Android] Upgrade to Android Studio 4.1.0-beta03
  android/BOINC/.idea/compiler.xml
  android/BOINC/.idea/misc.xml
  android/BOINC/build.gradle
  android/BOINC/gradle/wrapper/gradle-wrapper.properties
Labels: C: Android - Build, P: Minor, T: Enhancement

#3894 Drupal: fixed regression in df966c74
  drupal/sites/default/boinc/modules/boinccore/boinccore.module
Labels: C: Web - Other, E: 1 day, P: Major, T: Bugfix

#3906 [Android] Suppress warnings displayed during compilation.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchProcessingActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/MonitorExtensions.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3912 [Android] Fix task execution issue.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Bugfix

#3913 [Android] Fix notification preference.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/AppPreferences.kt
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Bugfix

#3905 [Android] Use Okio.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/MonitorExtensions.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3921 [Android] Add null checks in NavDrawerListAdapter.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Bugfix

#3922 [Android] Fix client copy issue.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/MonitorExtensions.kt
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Bugfix

#3923 [Android] Use SwipeRefreshLayout in event log fragments.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ui/eventlog/EventLogClientFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ui/eventlog/EventLogGuiFragment.java
  android/BOINC/app/src/main/res/layout/event_log_client_layout.xml
  android/BOINC/app/src/main/res/layout/event_log_gui_layout.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3945 [Windows] Enlarge default generated password to be 32 symbols long
  clientsetup/win/CACreateBOINCAccounts.cpp
Labels: C: Installer - Windows, P: Minor, PR: Review required, T: Enhancement

#3926 web: don't show error messages on user page if no other projects yet
  html/inc/user.inc
Labels: PR: Review required

#3920 GUI RPC: bind to INADDR_ANY if a remote host is actually configured
  client/gui_rpc_server.cpp
  client/gui_rpc_server.h
Labels: PR: Review required

#3915 Manager: remove cookie-based autoattach schemes
  .travis.yml
  3rdParty/buildMacDependencies.sh
  clientgui/AccountInfoPage.cpp
  clientgui/AccountInfoPage.h
  clientgui/AdvancedFrame.cpp
  clientgui/BOINCBaseFrame.cpp
  clientgui/Makefile.am
  clientgui/NoticeListCtrl.cpp
  clientgui/ProjectProcessingPage.cpp
  clientgui/ProjectPropertiesPage.cpp
  clientgui/ProjectWelcomePage.cpp
  clientgui/WizardAttach.cpp
  clientgui/WizardAttach.h
  clientgui/browser.cpp
  clientgui/browser.h
  clientgui/mac/browser_safari.mm
  clientgui/sg_BoincSimpleFrame.cpp
  configure.ac
  lib/gui_rpc_client.h
  lib/gui_rpc_client_ops.cpp
  lib/project_init.cpp
  m4/sqlite3.m4
  mac_build/HowToBuildBOINC_XCode.pdf
  mac_build/HowToBuildBOINC_XCode.rtf
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_build/buildsqlite3.sh
  mac_build/dependencyNames.sh
  mac_build/setupForBOINC.sh
  win_build/boincmgr.vcxproj
  win_build/boincmgr_vs2013.vcxproj
  win_build/boincmgr_vs2019.vcxproj
  win_build/installerv2/BOINC.ism
  win_build/installerv2/BOINC_vbox.ism
  win_build/installerv2/BOINCx64.ism
  win_build/installerv2/BOINCx64_vbox.ism
  win_build/installerv2/CharityEngine.ism
  win_build/installerv2/Progress.ism
  win_build/installerv2/WCG.ism
  win_build/load_dependencies.bat
  win_build/vcpkg_3rdparty_dependencies_vs2019.vcxproj
  win_build/wcg_boincmgr.vcxproj
  xcompile/xcompile.MinGW32_on_cygwin.sh
Labels: C: Manager, P: Minor, PR: Review required, T: Enhancement

#3900 Client: if AM reply includes a project we're attached to under a different account, honor the params in the AM reply, e.g resource share.
  client/acct_mgr.cpp
  clientgui/DlgItemProperties.cpp
Labels: PR: Review required
