Repository BOINC/boinc, pull requests merged in 2020-06, with the labels that each got.

#3801 [Android] Fix typo in script boinc x86.
  android/build_boinc_x86.sh
Labels: C: Android - Build, P: Trivial, T: Bugfix

#3685 Add doc on building BOINC Android on WSL
  android/WSL.README.md
  android/build_all.sh
Labels: C: Android - Build, P: Minor, T: Informational

#3717 Fix 32bit ARM Android build in Automake 1.16.1
  client/Makefile.am
Labels: C: Android - Build, P: Major, T: Bugfix

#3749 client: don't show "no work" messages as notices
  client/client_state.h
  client/cs_notice.cpp
  client/cs_notice.h
  client/project.cpp
Labels: PR: Review required

#3807 [Android] [Scripts] Remove exit from script
  android/build_all.sh
Labels: C: Android - Build, P: Major, T: Bugfix

#3753 Client: let a project master URL change from http: to https: without involving the user.
  client/app_control.cpp
  client/client_state.cpp
  client/cs_scheduler.cpp
  client/gui_rpc_server_ops.cpp
  client/log_flags.cpp
  client/project.cpp
  lib/url.cpp
  lib/url.h
Labels: C: Client - Daemon, P: Minor, T: Enhancement

#3786 [Android] Use view binding.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogClientFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogGuiFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/NoticesFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NoticesListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/TasksListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AcctMgrFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchProcessingActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/CredentialInputActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/IndividualCredentialInputFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectInfoFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.kt
  android/BOINC/app/src/main/res/layout/attach_project_acct_mgr_dialog.xml
  android/BOINC/app/src/main/res/layout/attach_project_credential_input_dialog.xml
  android/BOINC/app/src/main/res/layout/event_log_client_layout.xml
  android/BOINC/app/src/main/res/layout/event_log_gui_layout.xml
  android/BOINC/app/src/main/res/layout/main.xml
  android/BOINC/app/src/main/res/layout/notices_layout_listitem.xml
  android/BOINC/app/src/main/res/layout/projects_layout.xml
  android/BOINC/app/src/main/res/layout/tasks_layout.xml
  android/BOINC/app/src/main/res/layout/tasks_layout_listitem.xml
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3781 [Android] Add dark mode setting.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCApplication.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsListItemWrapperClasses.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsSelectionDialogListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/SelectionDialogOption.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/AppPreferences.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/receiver/BOINCReceivers.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
  android/BOINC/app/src/main/res/layout/prefs_layout_dialog_number.xml
  android/BOINC/app/src/main/res/layout/prefs_layout_dialog_pct.xml
  android/BOINC/app/src/main/res/layout/prefs_layout_dialog_selection.xml
  android/BOINC/app/src/main/res/layout/prefs_layout_dialog_text.xml
  android/BOINC/app/src/main/res/layout/prefs_layout_listitem.xml
  android/BOINC/app/src/main/res/layout/prefs_layout_listitem_bool.xml
  android/BOINC/app/src/main/res/layout/prefs_layout_listitem_category.xml
  android/BOINC/app/src/main/res/values-ar/strings.xml
  android/BOINC/app/src/main/res/values-az/strings.xml
  android/BOINC/app/src/main/res/values-b+sr+Latn/strings.xml
  android/BOINC/app/src/main/res/values-bg/strings.xml
  android/BOINC/app/src/main/res/values-ca/strings.xml
  android/BOINC/app/src/main/res/values-cs/strings.xml
  android/BOINC/app/src/main/res/values-da/strings.xml
  android/BOINC/app/src/main/res/values-de/strings.xml
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values-es/strings.xml
  android/BOINC/app/src/main/res/values-eu/strings.xml
  android/BOINC/app/src/main/res/values-fi/strings.xml
  android/BOINC/app/src/main/res/values-fr/strings.xml
  android/BOINC/app/src/main/res/values-he/strings.xml
  android/BOINC/app/src/main/res/values-hu/strings.xml
  android/BOINC/app/src/main/res/values-it-rIT/strings.xml
  android/BOINC/app/src/main/res/values-ja/strings.xml
  android/BOINC/app/src/main/res/values-ka/strings.xml
  android/BOINC/app/src/main/res/values-ko/strings.xml
  android/BOINC/app/src/main/res/values-lt/strings.xml
  android/BOINC/app/src/main/res/values-lv/strings.xml
  android/BOINC/app/src/main/res/values-nb/strings.xml
  android/BOINC/app/src/main/res/values-nl/strings.xml
  android/BOINC/app/src/main/res/values-pl/strings.xml
  android/BOINC/app/src/main/res/values-pt-rBR/strings.xml
  android/BOINC/app/src/main/res/values-pt-rPT/strings.xml
  android/BOINC/app/src/main/res/values-ro/strings.xml
  android/BOINC/app/src/main/res/values-ru/strings.xml
  android/BOINC/app/src/main/res/values-sk/strings.xml
  android/BOINC/app/src/main/res/values-sl/strings.xml
  android/BOINC/app/src/main/res/values-sv/strings.xml
  android/BOINC/app/src/main/res/values-tr/strings.xml
  android/BOINC/app/src/main/res/values-uk/strings.xml
  android/BOINC/app/src/main/res/values-v29/arrays.xml
  android/BOINC/app/src/main/res/values-zh-rCN/strings.xml
  android/BOINC/app/src/main/res/values-zh-rTW/strings.xml
  android/BOINC/app/src/main/res/values/arrays.xml
  android/BOINC/app/src/main/res/values/strings.xml
  android/BOINC/app/src/main/res/xml/root_preferences.xml
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/GlobalPreferencesParserTest.java
Labels: C: Android - Manager, P: Major, T: Enhancement

#3788 [Android] Simplify installFile() using FileUtils.copyInputStreamToFile().
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3798 Client and manager, Win: fix crashes and runtime warnings with VS2019
  client/main.cpp
  clientgui/AccountInfoPage.cpp
  clientgui/AccountManagerInfoPage.cpp
  clientgui/MainDocument.cpp
  lib/diagnostics.cpp
  lib/diagnostics.h
Labels: C: Client - Daemon, C: Manager, P: Critical, PR: Reviewed, T: Bugfix

#3787 [Android] Add launcher icons created using Image Asset Studio.
  android/BOINC/app/src/main/AndroidManifest.xml
  android/BOINC/app/src/main/ic_launcher-playstore.png
  android/BOINC/app/src/main/res/drawable/ic_launcher_foreground.xml
  android/BOINC/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/BOINC/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/BOINC/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/BOINC/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/BOINC/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/BOINC/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/BOINC/app/src/main/res/values/ic_launcher_background.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3803 client/manager, Win: remove references to _STDWX_H_; not used anymore
  api/boinc_api.cpp
  api/boinc_opencl.cpp
  api/graphics2_win.cpp
  api/graphics_api.cpp
  api/graphics_impl.cpp
  api/gutil.cpp
  api/gutil_text.cpp
  api/reduce_lib.cpp
  api/reduce_main.cpp
  api/ttfont.cpp
  api/windows_opengl.cpp
  client/boinc_cmd.cpp
  client/boinc_log.cpp
  client/hostinfo_win.cpp
  clientctrl/boincsvcctrl.cpp
  clientgui/browser.cpp
  lib/app_ipc.cpp
  lib/base64.cpp
  lib/cert_sig.cpp
  lib/coproc.cpp
  lib/crypt.cpp
  lib/daemonmgt_win.cpp
  lib/diagnostics.cpp
  lib/diagnostics_win.cpp
  lib/filesys.cpp
  lib/gui_rpc_client.cpp
  lib/gui_rpc_client_ops.cpp
  lib/gui_rpc_client_print.cpp
  lib/hostinfo.cpp
  lib/idlemon_win.cpp
  lib/md5_file.cpp
  lib/mem_usage.cpp
  lib/mfile.cpp
  lib/miofile.cpp
  lib/network.cpp
  lib/notice.cpp
  lib/opencl_boinc.cpp
  lib/parse.cpp
  lib/prefs.cpp
  lib/proc_control.cpp
  lib/procinfo.cpp
  lib/project_init.cpp
  lib/run_app_windows.cpp
  lib/shmem.cpp
  lib/stackwalker_win.cpp
  lib/str_util.cpp
  lib/url.cpp
  lib/util.cpp
  lib/win_util.cpp
Labels: C: Client - Windows, C: Manager, P: Minor, PR: Reviewed, T: Enhancement

#3813 [Android] Correct string unit to GB.
  android/BOINC/app/src/main/res/values-en/strings.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Bugfix

#3790 [Android] Initialize more variables using dependency injection.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/DeviceStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/NoticeNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/PersistentStorage.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/di/AppComponent.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/DeviceStatusData.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/MonitorTest.kt
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3793 [Android] Simplify MD5 calculations using Apache Commons Codec.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/StringExtensions.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/RpcClientTest.java
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3799 [Android] Fix crash on API levels < 21.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCApplication.kt
Labels: C: Android - Manager, P: Trivial, T: Bugfix

#3805 [Android] Fix: Set action menu text color to white.
  android/BOINC/app/src/main/res/values/styles.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3815 [Android] Fix DigestUtils usage to prevent a blank MD5 hash being returned.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Bugfix

#3816 [Android] Fix remaining settings issues.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
  android/BOINC/app/src/main/res/xml/root_preferences.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3772 Fix CORS for GUI RPC via HTTP
  client/gui_rpc_server_ops.cpp
Labels: PR: Review required

#3757 Add example Makefile for building validators and assimilators
  sched/Makefile.example
Labels: PR: Review required

#3762 Web: if define('DARK_MODE', true) in project.inc, support dark mode
  html/inc/util.inc
  html/user/bootstrap_darkly.min.css
  html/user/custom_dark.css
Labels: PR: Review required

#3777 Add subdirectory support to update_versions
  tools/update_versions
Labels: C: Server - Other, PR: Review required

#3825 [Android] Fix possible crash when selecting a check box after switching between themes.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Bugfix

#3821 [Android] Remove neon optimization from arm.
  android/build_boinc_arm.sh
  client/Makefile.am
Labels: C: Android - Build, C: Client - Android, P: Minor, PR: Reviewed, T: Bugfix

#3820 [Android][Scripts] Add flag verbose for makefiles.
  android/buildAndroidBOINC-CI.sh
  android/build_all.sh
  android/build_boinc_arm.sh
  android/build_boinc_arm64.sh
  android/build_boinc_x86.sh
  android/build_boinc_x86_64.sh
  android/build_curl_arm.sh
  android/build_curl_arm64.sh
  android/build_curl_x86.sh
  android/build_curl_x86_64.sh
  android/build_openssl_arm.sh
  android/build_openssl_arm64.sh
  android/build_openssl_x86.sh
  android/build_openssl_x86_64.sh
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3830 [Android] Use AppCompat theme for BoincNotExclusiveDialog.
  android/BOINC/app/src/main/AndroidManifest.xml
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#3831 [Android] Fix bug that status image always black.
  android/BOINC/app/src/main/res/layout/attach_project_batch_conflicts_listitem.xml
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Bugfix

#3637 ClientGui: Fix potential buffer overflow in lstrcpyn
  clientgui/msw/taskbarex.cpp
Labels: PR: Reviewed

#3835 Windows: fix many VS2019 compile warnings. No functional changes.
  client/cs_benchmark.cpp
  clientgui/AccountManagerInfoPage.cpp
  clientgui/AccountManagerProcessingPage.cpp
  clientgui/AccountManagerPropertiesPage.cpp
  clientgui/BOINCBaseFrame.cpp
  clientgui/BOINCBaseView.cpp
  clientgui/MainDocument.cpp
  clientgui/ProjectInfoPage.cpp
  clientgui/ProjectProcessingPage.cpp
  clientgui/ProjectPropertiesPage.cpp
  clientgui/ProjectWelcomePage.cpp
  clientgui/ProxyInfoPage.cpp
  clientgui/TermsOfUsePage.cpp
  clientgui/sg_BoincSimpleFrame.cpp
  lib/diagnostics.cpp
  lib/diagnostics_win.cpp
  lib/gui_rpc_client.cpp
  lib/mfile.cpp
Labels: C: Client - Windows, C: Manager, P: Minor, PR: Reviewed, T: Enhancement

#3834 [Android] Set light theme as default and remove "Set by Battery Saver" option.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCApplication.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
  android/BOINC/app/src/main/res/values-v29/arrays.xml
  android/BOINC/app/src/main/res/values/arrays.xml
  android/BOINC/app/src/main/res/values/strings.xml
  android/BOINC/app/src/main/res/xml/root_preferences.xml
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Bugfix

#3836 [Android][Scripts] Add android 4.1 api 16 support in cpp compilation.
  android/build_androidtc_arm.sh
  android/build_boinc_arm.sh
  android/build_curl_arm.sh
  android/build_openssl_arm.sh
  lib/filesys.cpp
Labels: C: Android - Build, C: Android - Manager, C: Client - Android, P: Minor, PR: Reviewed, T: Enhancement

#3848 [Android] Support x86 API 16
  android/build_androidtc_x86.sh
  android/build_boinc_x86.sh
  android/build_curl_x86.sh
  android/build_openssl_x86.sh
Labels: C: Android - Build, C: Android - Manager, C: Client - Android, P: Minor, PR: Reviewed, T: Enhancement

#3837 [Android] Reintroduce support for API level 16 and higher.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/NoticeNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
  android/BOINC/app/src/main/res/mipmap-hdpi/ic_boinc_paused_notification.png
  android/BOINC/app/src/main/res/mipmap-hdpi/ic_mail.png
  android/BOINC/app/src/main/res/mipmap-mdpi/ic_boinc_paused_notification.png
  android/BOINC/app/src/main/res/mipmap-mdpi/ic_mail.png
  android/BOINC/app/src/main/res/mipmap-xhdpi/ic_boinc_paused_notification.png
  android/BOINC/app/src/main/res/mipmap-xhdpi/ic_mail.png
  android/BOINC/app/src/main/res/mipmap-xxhdpi/ic_boinc_paused_notification.png
  android/BOINC/app/src/main/res/mipmap-xxhdpi/ic_mail.png
  android/BOINC/app/src/main/res/mipmap-xxxhdpi/ic_boinc_paused_notification.png
  android/BOINC/app/src/main/res/mipmap-xxxhdpi/ic_mail.png
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#3846 [Android] Make Monitor and ProjectAttachService extend LifecycleService.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchProcessingActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/MonitorExtensions.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/MonitorTest.kt
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3853 [Android] Fix issue that causes app to stop updating after turning the screen off.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Bugfix

#3845 [VS2019] Add boinccas.vcxproj
  clientsetup/win/boinccas.rc
  win_build/boinc_vs2019.sln
  win_build/boinccas_vs2019.vcxproj
Labels: PR: Review required

#3740 Fix boinc platform strings for Android
  m4/boinc_platform.m4
Labels: C: Android - Build, C: Client - Android, P: Trivial, PR: Reviewed, T: Enhancement

#3851 [Android] Update isOnline test for Android versions below Marshmallow.
  android/BOINC/app/src/test/java/edu/berkeley/boinc/utils/BOINCUtilsIsOnlineTest.kt
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Unit/Integration Test

#3852 [Android] Set small notification icons to white for android 4.4 and below.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/NoticeNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
  android/BOINC/app/src/main/res/drawable/ic_boinc_paused_white.xml
  android/BOINC/app/src/main/res/drawable/ic_boinc_white.xml
  android/BOINC/app/src/main/res/mipmap-hdpi/ic_boinc_paused_white.png
  android/BOINC/app/src/main/res/mipmap-hdpi/ic_boinc_white.png
  android/BOINC/app/src/main/res/mipmap-hdpi/ic_email_white.png
  android/BOINC/app/src/main/res/mipmap-mdpi/ic_boinc_paused_white.png
  android/BOINC/app/src/main/res/mipmap-mdpi/ic_boinc_white.png
  android/BOINC/app/src/main/res/mipmap-mdpi/ic_email_white.png
  android/BOINC/app/src/main/res/mipmap-xhdpi/ic_boinc_paused_white.png
  android/BOINC/app/src/main/res/mipmap-xhdpi/ic_boinc_white.png
  android/BOINC/app/src/main/res/mipmap-xhdpi/ic_email_white.png
  android/BOINC/app/src/main/res/mipmap-xxhdpi/ic_boinc_paused_white.png
  android/BOINC/app/src/main/res/mipmap-xxhdpi/ic_boinc_white.png
  android/BOINC/app/src/main/res/mipmap-xxhdpi/ic_email_white.png
  android/BOINC/app/src/main/res/mipmap-xxxhdpi/ic_boinc_paused_white.png
  android/BOINC/app/src/main/res/mipmap-xxxhdpi/ic_boinc_white.png
  android/BOINC/app/src/main/res/mipmap-xxxhdpi/ic_email_white.png
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3855 [Android] Fix dailyTransferLimitMB default and title.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
  android/BOINC/app/src/main/res/xml/root_preferences.xml
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Bugfix

#3857 [Android] Correct the way in which the value of ramMaxUsedIdleFrac is assigned.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/main/res/xml/root_preferences.xml
Labels: C: Android - Manager, E: 1 week, P: Trivial, PR: Reviewed, T: Enhancement

#3860 [VS2019] Add code signing.
  win_build/boinc.props
  win_build/boinc_cli_vs2019.vcxproj
  win_build/boinc_os_ss_vs2019.vcxproj
  win_build/boinc_signing.targets
  win_build/boinc_ss_vs2019.vcxproj
  win_build/boinccas_vs2019.vcxproj
  win_build/boinccmd_vs2019.vcxproj
  win_build/boinclog_vs2019.vcxproj
  win_build/boincmgr_vs2019.vcxproj
  win_build/boincsvcctrl_vs2019.vcxproj
  win_build/boinctray_vs2019.vcxproj
  win_build/example_app_atiopencl_vs2019.vcxproj
  win_build/example_app_multi_thread_vs2019.vcxproj
  win_build/example_app_nvcuda_vs2019.vcxproj
  win_build/example_app_nvopencl_vs2019.vcxproj
  win_build/glut_vs2019.vcxproj
  win_build/htmlgfx_vs2019.vcxproj
  win_build/image_libs_vs2019.vcxproj
  win_build/jpeglib_vs2019.vcxproj
  win_build/libboinc_vs2019.vcxproj
  win_build/libboincapi_staticcrt_vs2019.vcxproj
  win_build/libboincopencl_staticcrt_vs2019.vcxproj
  win_build/libboinczip_staticcrt_vs2019.vcxproj
  win_build/libgraphics2_vs2019.vcxproj
  win_build/sim_vs2019.vcxproj
  win_build/sleeper_vs2019.vcxproj
  win_build/slide_show_vs2019.vcxproj
  win_build/test_boinc_zip_vs2019.vcxproj
  win_build/test_boinc_zip_zlib_conflicts_vs2019.vcxproj
  win_build/uc2_dll_vs2019.vcxproj
  win_build/uc2_graphics_vs2019.vcxproj
  win_build/uc2_vs2019.vcxproj
  win_build/vboxwrapper_vs2019.vcxproj
  win_build/vcpkg_3rdparty_dependencies_2019.vcxproj
  win_build/worker_vs2019.vcxproj
  win_build/wrapper_vs2019.vcxproj
  win_build/wrappture_example_vs2019.vcxproj
Labels: C: Build System, P: Minor, PR: Review required, T: Enhancement

#3841 [AppVeyor] Add support of vcpkg cache for CI
  appveyor.yml
  win_build/boinc.props
  win_build/boinc_cli_vs2019.vcxproj
  win_build/boinc_os_ss_vs2019.vcxproj
  win_build/boinc_ss_vs2019.vcxproj
  win_build/boinccmd_vs2019.vcxproj
  win_build/boinclog_vs2019.vcxproj
  win_build/boincmgr_vs2019.vcxproj
  win_build/boincsvcctrl_vs2019.vcxproj
  win_build/boinctray_vs2019.vcxproj
  win_build/example_app_atiopencl_vs2019.vcxproj
  win_build/example_app_multi_thread_vs2019.vcxproj
  win_build/example_app_nvopencl_vs2019.vcxproj
  win_build/glut_vs2019.vcxproj
  win_build/htmlgfx_vs2019.vcxproj
  win_build/image_libs_vs2019.vcxproj
  win_build/jpeglib_vs2019.vcxproj
  win_build/libboinc_vs2019.vcxproj
  win_build/libboincapi_staticcrt_vs2019.vcxproj
  win_build/libboincopencl_staticcrt_vs2019.vcxproj
  win_build/libboinczip_staticcrt_vs2019.vcxproj
  win_build/libgraphics2_vs2019.vcxproj
  win_build/sim_vs2019.vcxproj
  win_build/sleeper_vs2019.vcxproj
  win_build/slide_show_vs2019.vcxproj
  win_build/test_boinc_zip_vs2019.vcxproj
  win_build/test_boinc_zip_zlib_conflicts_vs2019.vcxproj
  win_build/uc2_dll_vs2019.vcxproj
  win_build/uc2_graphics_vs2019.vcxproj
  win_build/uc2_vs2019.vcxproj
  win_build/vboxwrapper_vs2019.vcxproj
  win_build/vcpkg_3rdparty_dependencies_2019.vcxproj
  win_build/worker_vs2019.vcxproj
  win_build/wrapper_vs2019.vcxproj
  win_build/wrappture_example_vs2019.vcxproj
Labels: C: Build System, P: Minor, T: Enhancement

#3871 [VS2019] Fix VcpkgCacheDir location path
  win_build/boinc.props
Labels: C: Build System, P: Blocker, T: Bugfix
