Repository BOINC/boinc, pull requests merged in 2020-04, with the labels that each got.

#3546 Create notification channel for use on Android Oreo and later.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.java
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Manager, E: 1 day, P: Major, T: Bugfix

#3541 Add unit tests for the RPC parser and data classes, as well as RpcClient.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountIn.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/App.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AppVersionsParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AppsParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/BaseParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/CcState.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/CcStatusParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Md5.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Message.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/MessageCountParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/PlatformInfo.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Project.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectRelatedClasses.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/SimpleReplyParser.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountManagerTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountOutParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountOutTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrInfoTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrRPCReplyParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrRPCReplyTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppVersionTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppVersionsParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppsParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/BaseParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStateParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStateTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStateTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStatusTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/GlobalPreferencesTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/GuiUrlTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/HostInfoTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessageCountParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessageTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessagesParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/NoticeTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/PlatformInfoTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectAttachReplyTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectConfigTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectInfoTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ResultTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/RpcClientTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/SimpleReplyParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/TimePreferencesTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/TimeSpanTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/TransferTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/VersionInfoTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/WorkUnitTest.kt
Labels: C: Android - Manager, T: Unit/Integration Test

#3548 Use getActiveNetwork() to retrieve current network on Android Marshmallow and later.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ManualUrlInputFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/DeviceStatus.java
Labels: C: Android - Manager, P: Major, T: Enhancement

#3555 network.cpp: getaddrinfo error msg: "\n" added
  lib/network.cpp
Labels: C: Library, P: Trivial, T: Bugfix

#3557 Convert the boolean wrapper variables in Logging to primitives.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/Logging.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3558 Use writeBoolean() and readBoolean() in Parcelable implementations on Android Q and later.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountIn.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountManagerClasses.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/GlobalPreferences.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Notice.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Project.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectRelatedClasses.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Result.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Transfer.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3554 Rewrite MessagesParser to extend BaseParser.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AcctMgrRPCReplyParser.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Message.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/MessagesParser.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectAttachReplyParser.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RPCCommonTags.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrRPCReplyParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessagesParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectAttachReplyParserTest.java
Labels: C: Android - Manager, P: Minor, T: Enhancement

#3534 [Codecov] Fix uploading CodeCov reports
  .travis.yml
  tests/executeUnitTests.sh
Labels: C: Build System, E: 1 day, P: Trivial, T: Bugfix, T: Unit/Integration Test

#3567 Enable code shrinking and update Android Gradle plugin.
  android/BOINC/app/build.gradle
  android/BOINC/build.gradle
Labels: C: Android - Build, P: Trivial, T: Enhancement

#3580 [Android] Add SAXException tests for RPC parser classes.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AcctMgrInfoParser.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountManagerParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountOutParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrInfoParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrRPCReplyParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppVersionsParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppsParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStateParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStatusParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/GlobalPreferencesParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/HostInfoParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessageCountParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessagesParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/NoticesParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectAttachReplyParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectConfigReplyParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectInfoParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectsParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ResultsParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/SimpleReplyParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/TransfersParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/VersionInfoParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/WorkUnitsParserTest.java
Labels: C: Android - Manager, P: Trivial, T: Unit/Integration Test

#3579 [Android] Add unit tests for BOINCUtils.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/test/java/edu/berkeley/boinc/utils/BOINCUtilsTest.java
Labels: C: Android - Manager, P: Trivial, T: Unit/Integration Test

#3585 [Android] Fix Result's Parcelable implementation.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Result.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3593 Manager: don't let user attach to account manager as a project.
  clientgui/ProjectPropertiesPage.cpp
Labels: C: Manager, P: Minor, T: Bugfix

#3597 [Android] Create local Eclipse Collections list factory constant variables.
  android/BOINC/app/proguard-rules.txt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/ECLists.java
Labels: C: Android - Manager, P: Major, T: Bugfix

#3599 [Android] Use Apache Commons static methods to avoid potential NPEs and simplify null checks.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/TasksListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AcctMgrFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/CredentialInputActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectInfoFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3604 [Android] Migrate unit tests not using PowerMock to JUnit 5.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountManagerTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountOutTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrInfoTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrRPCReplyTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppVersionTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/BaseParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStateTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStatusTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/GlobalPreferencesTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/GuiUrlTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/HostInfoTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessageTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/NoticeTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/PlatformInfoTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectAttachReplyTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectConfigTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectInfoTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ResultTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/TimePreferencesTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/TimeSpanTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/TransferTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/VersionInfoTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/WorkUnitTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/utils/BOINCUtilsTest.java
Labels: C: Android - Manager, P: Trivial, T: Unit/Integration Test

#3605 [Android] Simplify the readAuthToken() method.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3609 Use Files.delete() to delete file on Android Oreo and later.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3611 [Android] Replace onAttach(Activity) with onAttach(Context) implementation.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3612 Use getActiveNetwork() to retrieve current active network in AcctMgrFragment on Android Marshmallow and later.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AcctMgrFragment.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3617 Update Android plugin and Kotlin versions.
  android/BOINC/build.gradle
Labels: C: Android - Build, P: Trivial, T: Enhancement

#3620 client: allow specifying device name in cc_config.xml
  client/hostinfo_network.cpp
  client/log_flags.cpp
  lib/cc_config.cpp
  lib/cc_config.h
Labels: C: Client - Daemon, P: Minor, T: Enhancement

#3614 Use StringUtils methods in PackageReplacedReceiver.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/receiver/PackageReplacedReceiver.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3615 [Android] Add missing annotations.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/NoticesFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/StatusFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NoticesListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsSelectionDialogListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectControlsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchProcessingActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/CredentialInputActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/IndividualCredentialInputFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ManualUrlInputFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3622 [Android] Convert Md5 to Kotlin.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/BaseParser.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Md5.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/StringExtensions.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/RpcClientTest.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3623 [Android] Convert classes in utils package to Kotlin.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AcctMgrFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCDefs.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCDefs.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCErrors.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCErrors.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/ErrorCodeDescription.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/ErrorCodeDescription.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/utils/BOINCUtilsTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/utils/BOINCUtilsTest.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement, T: Unit/Integration Test

#3624 [Android] Convert ProjectInfoParser to Kotlin.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectInfoParser.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectInfoParser.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectInfoParserTest.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3625 Use Android KTX in AppPreferences.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/AppPreferences.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3626 [Android] Use ParcelCompat's readBoolean() and writeBoolean() methods.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountClasses.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountManagerClasses.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/GlobalPreferences.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Notice.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Project.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Result.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Transfer.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3627 [Android] Use Spy annotation instead of a separate mock variable.
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/RpcClientTest.java
Labels: C: Android - Manager, P: Trivial, T: Unit/Integration Test

#3628 Use new TaskDescription constructor on Android Pie and later.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3629 [Android] Use KTX to retrieve a view in NoticesFragment.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/NoticesFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/NoticesFragment.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3636 [Android] Add JUnit Vintage Engine dependency.
  android/BOINC/app/build.gradle
Labels: C: Android - Manager, P: Trivial, T: Unit/Integration Test

#3641 [Travis] Run tests for the Android app only during release builds.
  .travis.yml
  android/BOINC/app/build.gradle
Labels: C: Android - Build, P: Trivial, T: Unit/Integration Test

#3643 client: initialize log flags to tasks, sched_ops, file_xfer
  lib/cc_config.cpp
  lib/cc_config.h
Labels: C: Manager, E: 1 day, P: Trivial, T: Bugfix
