Repository BOINC/boinc, pull requests merged in 2020-02, with the labels that each got.

#3447 Update copyright year
  android/BOINC/app/src/main/res/values/strings.xml
  clientgui/DlgAbout.cpp
  clientsetup/win/boinccas.rc
  doc/manpages/boinc.xml
  doc/manpages/boinccmd.xml
  doc/manpages/boincmgr.xml
  win_build/installerv2/BOINC.ism
  win_build/installerv2/BOINC_vbox.ism
  win_build/installerv2/BOINCx64.ism
  win_build/installerv2/BOINCx64_vbox.ism
  win_build/installerv2/CharityEngine.ism
  win_build/installerv2/Progress.ism
  win_build/installerv2/WCG.ism
Labels: C: Android - Manager, C: Manager, P: Trivial

#3437 [client] [Win]: don't truncate p_features at 255 characters
  client/hostinfo_unix.cpp
  client/hostinfo_win.cpp
  lib/hostinfo.cpp
  lib/hostinfo.h
Labels: C: Client - Linux, C: Client - Windows, E: 1 day, P: Major

#3443 client: fix bug in GPU detection
  client/boinc_cmd.cpp
  client/gpu_detect.cpp
  client/gpu_nvidia.cpp
  lib/app_ipc.cpp
  lib/coproc.h
  lib/gui_rpc_client_ops.cpp
  lib/hostinfo.cpp
  lib/hostinfo.h
Labels: C: Client - Daemon, E: 1 day, P: Major

#3459 client: fix stall when --skip_cpu_benchmarks used
  client/cs_account.cpp
  client/cs_benchmark.cpp
  client/hostinfo_unix.cpp
  lib/coproc.cpp
  lib/coproc.h
Labels: C: Client - Daemon, E: 1 day, T: Bugfix

#3457 [Android] Hide 'Connect to Account Manager' option when user has alrea…
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.java
Labels: C: Android - Manager, E: 1 day, P: Minor, T: Enhancement

#3456 [Android] Tiny cleanup project list logic
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.java
Labels: C: Android - Manager, E: 1 day, P: Trivial, T: Enhancement

#3452 client: idle time detection code reorg; no functional change
  client/client_state.cpp
  client/cs_prefs.cpp
  client/hostinfo_unix.cpp
  client/hostinfo_win.cpp
  lib/hostinfo.h
Labels: C: Client - Daemon

#3453 client (Win): find and show # of processor groups at startup;
  client/app_start.cpp
  client/hostinfo_win.cpp
  lib/hostinfo.h
Labels: C: Client - Daemon, C: Client - Windows

#3465 [Android] Remove boinccmd binary from apk
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/res/values/configuration.xml
  android/build_boinc_arm.sh
  android/build_boinc_arm64.sh
  android/build_boinc_x86.sh
  android/build_boinc_x86_64.sh
Labels: C: Android - Manager
