Repository BOINC/boinc, pull requests merged in 2020-03, with the labels that each got.

#3473 Add retina display support for BOINC Manager
  clientgui/mac/templates/Info.plist
Labels: C: Manager

#3500 Grammar in configure.ac
  configure.ac
Labels: P: Trivial

#3503 [Android] Fix WSL compatibility and improvement to script
  android/buildAndroidBOINC-CI.sh
  android/build_all.sh
Labels: C: Android - Build, P: Trivial

#3508 [TravisCI] Adjust script according to updated syntax
  .travis.yml
Labels: C: Build System, E: 1 day, P: Trivial, T: Enhancement

#3512 client (Linux): Fix X-based idle detection
  client/hostinfo_unix.cpp
Labels: C: Client - Daemon, C: Client - Linux, E: 1 day, P: Major, T: Bugfix

#3519 [Android] Upgrade build tools from 28 to 29
  .travis.yml
  android/BOINC/app/build.gradle
Labels: C: Android - Build

#3504 [Windows] Add MSVS 2019 with vcpkg support
  .gitignore
  3rdParty/vcpkg_ports/rappture/CMakeLists.txt
  3rdParty/vcpkg_ports/rappture/CONTROL
  3rdParty/vcpkg_ports/rappture/config.h
  3rdParty/vcpkg_ports/rappture/fixBuild.patch
  3rdParty/vcpkg_ports/rappture/portfile.cmake
  3rdParty/vcpkg_ports/rappture/unistd.h
  clientgui/msw/taskbarex.cpp
  clientgui/stdwx.h
  lib/diagnostics_win.h
  samples/nvcuda/cuda.h
  samples/openclapp/openclapp.hpp
  samples/wrappture/wrappture.cpp
  win_build/boinc.props
  win_build/boinc_cli_vs2019.vcxproj
  win_build/boinc_os_ss_vs2019.vcxproj
  win_build/boinc_ss_vs2019.vcxproj
  win_build/boinc_vs2019.sln
  win_build/boinccmd_vs2019.vcxproj
  win_build/boinclog_vs2019.vcxproj
  win_build/boincmgr_vs2019.vcxproj
  win_build/boincsvcctrl_vs2019.vcxproj
  win_build/boinctray_vs2019.vcxproj
  win_build/example_app_atiopencl_vs2019.vcxproj
  win_build/example_app_multi_thread_vs2019.vcxproj
  win_build/example_app_nvcuda_vs2019.vcxproj
  win_build/example_app_nvopencl_vs2019.vcxproj
  win_build/glut_vs2019.vcxproj
  win_build/htmlgfx_vs2019.vcxproj
  win_build/image_libs_vs2019.vcxproj
  win_build/jpeglib_vs2019.vcxproj
  win_build/libboinc_vs2019.vcxproj
  win_build/libboincapi_staticcrt_vs2019.vcxproj
  win_build/libboincopencl_staticcrt_vs2019.vcxproj
  win_build/libboinczip_staticcrt_vs2019.vcxproj
  win_build/libgraphics2_vs2019.vcxproj
  win_build/nvcuda.rules
  win_build/nvcuda.xml
  win_build/nvcuda_2019.props
  win_build/sim_vs2019.vcxproj
  win_build/sleeper_vs2019.vcxproj
  win_build/slide_show_vs2019.vcxproj
  win_build/test_boinc_zip_vs2019.vcxproj
  win_build/test_boinc_zip_zlib_conflicts_vs2019.vcxproj
  win_build/uc2_dll_vs2019.vcxproj
  win_build/uc2_graphics_vs2019.vcxproj
  win_build/uc2_vs2019.vcxproj
  win_build/vboxwrapper_vs2019.vcxproj
  win_build/vcpkg_3rdparty_dependencies_2019.vcxproj
  win_build/worker_vs2019.vcxproj
  win_build/wrapper_vs2019.vcxproj
  win_build/wrappture_example_vs2019.vcxproj
  zip/unzip/win32/nt.c
  zip/unzip/win32/win32.c
  zip/zip/win32/win32_boinc.c
  zip/zip/win32/win32i64.c
  zip/zip/win32/win32zip.c
  zip/zip/win32/z_nt.c
  zip/zip/zip.c
  zip/zip/zipfile.c
Labels: C: Build System, E: 1 month, P: Minor, T: Enhancement

#3523 Rewrite CcState using Kotlin.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/CcState.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/CcState.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/CcStateParser.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStateParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStateTest.java
  android/BOINC/build.gradle
Labels: C: Android - Manager, P: Trivial, T: Unit/Integration Test

#3524 Update .plist files unconditionally
  clientgui/mac/SetVersion.cpp
Labels: C: Build System, T: Bugfix

#3526 Remove unused classes, variables and methods in the Android app.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ConfirmationDialog.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/GalleryAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/util/SystemUiHider.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/util/SystemUiHiderBase.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/util/SystemUiHiderHoneycomb.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCDefs.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCErrors.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3525 Add Codecov support for the Android app.
  .codecov.yml
  .travis.yml
  android/BOINC/app/build.gradle
  android/BOINC/build.gradle
Labels: C: Android - Build, P: Trivial, T: Unit/Integration Test
