Repository BOINC/boinc, pull requests merged in 2020-05, with the labels that each got.

#3607 Client: place request_delay log flag under sched_ops control
  client/cs_scheduler.cpp
Labels: C: Client - Daemon, P: Trivial, T: Enhancement

#3640 Create aarch64-unknown-linux-gnu platform on project creation
  tools/project.xml
Labels: C: Server - Setup, P: Trivial, T: Enhancement

#3642 [Android] Fix build warnings.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AcctMgrFragment.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3651 added install target, $(CXX)
  samples/sleeper/Makefile
Labels: C: Build System, P: Trivial, T: Enhancement

#3653 Update Gradle Git plugins to their latest versions.
  android/BOINC/app/build.gradle
Labels: C: Android - Build, P: Trivial, T: Enhancement

#3662 [Android] Change downloading string from 'waiting for download' to 'downloading'.
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3600 Add check for "-L/..." in "$SSL_LIBS"
  m4/libcurl.m4
Labels: C: Client - Build, P: Trivial, T: Enhancement

#3664 [Android] Replace StringReader with CharSequenceReader in RpcClient.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3652 [Android] Add Robolectric tests.
  .travis.yml
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountClasses.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/ErrorCodeDescription.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountInParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountManagerParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountOutParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrInfoParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppVersionParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/GlobalPreferencesParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/GuiUrlParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/HostInfoParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessageParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/NoticeParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/PlatformInfoParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectConfigParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectInfoParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ResultParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/TimePreferencesParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/TransferParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/WorkUnitParcelableTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/utils/ErrorCodeDescriptionParcelableTest.kt
Labels: C: Android - Manager, P: Trivial, T: Unit/Integration Test

#3670 testCoverageEnabled true only in debug.
  .travis.yml
  android/BOINC/app/build.gradle
Labels: C: Android - Build, P: Trivial, T: Bugfix

#3677 [Android] Fix translation build errors.
  android/BOINC/app/src/main/res/values-sk/strings.xml
Labels: C: Android - Manager, C: Manager - Localization, P: Trivial, T: Bugfix

#3676 Eliminate some compile warnings in vda/.
  vda/des.h
  vda/vda_lib.cpp
  vda/vda_lib.h
  vda/vda_lib2.cpp
Labels: P: Trivial, T: Enhancement

#3681 Client: fix build error on FreeBSD (from Jason Darfus)
  client/client_state.cpp
  client/hostinfo_unix.cpp
Labels: C: Client - Linux, P: Trivial, T: Bugfix

#3689 update project list
  win_build/installerv2/redist/all_projects_list.xml
Labels: C: Client - Setup, P: Minor, T: Enhancement

#3690 Server programs: any time we can't connect to DB, try to explain why
  sched/antique_file_deleter.cpp
  sched/assimilator.cpp
  sched/census.cpp
  sched/credit_test.cpp
  sched/db_dump.cpp
  sched/db_purge.cpp
  sched/delete_file.cpp
  sched/file_deleter.cpp
  sched/get_file.cpp
  sched/make_work.cpp
  sched/message_handler.cpp
  sched/put_file.cpp
  sched/sample_work_generator.cpp
  sched/sched_main.cpp
  sched/target_batch.cpp
  sched/transitioner.cpp
  sched/trickle_handler.cpp
  sched/update_stats.cpp
  sched/validator.cpp
  sched/wu_check.cpp
Labels: C: Server - Scheduler, P: Trivial, T: Enhancement

#3481 Remove remnants to subversion
  configure.ac
Labels: C: Client - Build, P: Trivial, T: Enhancement

#3691 lib: PVS Studio static code analyzer fixes
  lib/coproc.cpp
  lib/daemonmgt_win.cpp
  lib/mfile.cpp
  lib/parse.cpp
  lib/procinfo_win.cpp
  lib/stackwalker_win.cpp
  lib/url.cpp
Labels: C: Library, P: Minor, T: Enhancement

#3673 Prefer curl-config from --with-libcurl
  m4/libcurl.m4
Labels: C: Client - Build, P: Trivial, T: Enhancement

#3683 [Android] Use ParcelCompat in ProjectConfig.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectRelatedClasses.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3672 Server programs: try to print error message if can't connect to DB
  db/db_base.cpp
Labels: C: Server - Other, P: Minor, T: Enhancement

#3692 client: PVS Studio static code analyzer fixes
  client/acct_mgr.cpp
  client/acct_mgr.h
  client/acct_setup.cpp
  client/app_control.cpp
  client/app_start.cpp
  client/async_file.cpp
  client/client_state.cpp
  client/client_types.cpp
  client/client_types.h
  client/cs_notice.cpp
  client/cs_scheduler.cpp
  client/cs_trickle.h
  client/current_version.cpp
  client/file_names.cpp
  client/gpu_amd.cpp
  client/gpu_nvidia.cpp
  client/gpu_opencl.cpp
  client/hostinfo_win.cpp
  client/hostinfo_wsl.cpp
  client/http_curl.cpp
  client/project.cpp
  client/result.cpp
  client/scheduler_op.cpp
  client/sysmon_win.cpp
  lib/crypt.h
  lib/msg_log.h
Labels: C: Client - Daemon, P: Trivial, T: Enhancement

#3674 [AppVeyor] Add VS2010 and VS2019 to CI
  3rdParty/vcpkg_ports/ports/rappture/CMakeLists.txt
  3rdParty/vcpkg_ports/ports/rappture/CONTROL
  3rdParty/vcpkg_ports/ports/rappture/config.h
  3rdParty/vcpkg_ports/ports/rappture/fixBuild.patch
  3rdParty/vcpkg_ports/ports/rappture/portfile.cmake
  3rdParty/vcpkg_ports/ports/rappture/unistd.h
  3rdParty/vcpkg_ports/triplets/ci/x64-windows-static.cmake
  3rdParty/vcpkg_ports/triplets/default/x64-windows-static.cmake
  appveyor.yml
  boinc_vs2010.sln.ci.patch
  win_build/vcpkg_3rdparty_dependencies_2019.vcxproj
Labels: C: Build System, P: Trivial, T: Enhancement

#3710 [Android] Fix some issues preventing the app from working as intended.
  .travis.yml
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/NoticesFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerItem.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/TasksListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/BaseParser.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Project.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectRelatedClasses.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/ECLists.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessagesParserTest.java
Labels: C: Android - Manager, P: Major, T: Bugfix

#3712 [Android] Add checks for Intent action strings.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/receiver/BOINCReceivers.kt
Labels: C: Android - Manager, P: Major, T: Enhancement

#3634 [Android] Add Java 8 API support.
  .travis.yml
  android/BOINC/.idea/jarRepositories.xml
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/AndroidManifest.xml
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/NoticesFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ClientLogListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NoticesListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/TasksListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Project.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectRelatedClasses.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/build.gradle
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3696 [Android] Use ContextCompat to retrieve system services.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ClientLogListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NoticesListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsSelectionDialogListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectControlsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/TasksListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AcctMgrFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ManualUrlInputFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/DeviceStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/NoticeNotification.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3729 Update prefix to be 3rdParty\buildCache
  android/buildAndroidBOINC-CI.sh
  android/build_all.sh
Labels: C: Android - Build, P: Trivial, T: Enhancement

#3680 [Android] Modify app to make use of dependency injection via Dagger.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/AndroidManifest.xml
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCApplication.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/AppPreferences.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/di/AppComponent.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/mutex/BoincMutex.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/mutex/MutexModule.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/mutex/BoincMutexTest.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3700 [Android] Add some tests for Monitor.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/MonitorTest.kt
Labels: C: Android - Manager, P: Trivial, T: Unit/Integration Test

#3701 [Android] Use asynchronous edit() extension function for SharedPreferences.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/AppPreferences.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/PersistentStorage.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3718 [Android] Use try-with resources in Monitor's installFile().
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3723 [Android] Simplify InputStream reading using IOUtils.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3719 [Android] Fix some issues with the app.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerItem.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountManagerParser.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AppVersionsParser.kt
  android/BOINC/app/src/main/res/values-sk/strings.xml
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3733 [Travis] Fix JDK warning.
  .travis.yml
Labels: C: Android - Build, P: Trivial, T: Enhancement

#3734 [Android] Fix issue in installFile() method.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.java
Labels: C: Android - Manager, P: Minor, T: Bugfix

#3735 [Android] Fix issue preventing an account manager being displayed.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountManagerClasses.kt
Labels: C: Android - Manager, P: Minor, T: Bugfix

#3736 [Android] Remove unused code.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountManagerClasses.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AcctMgrInfoParser.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrInfoParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrInfoTest.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3737 [Android] Fix account manager authentication
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.java
Labels: C: Android - Manager, P: Minor, T: Bugfix

#3684 Improve FreeBSD CPU detection & reporting format
  client/hostinfo_unix.cpp
Labels: PR: Review required

#3549 Drop X11 fallback
  client/hostinfo_unix.cpp
Labels: PR: Review required

#3707 Client: measure disk usage in terms of allocated disk space, not file size
  client/app.h
  client/cs_prefs.cpp
  client/gui_rpc_server_ops.cpp
  client/project.cpp
  lib/filesys.cpp
  lib/filesys.h
  lib/gui_rpc_client_print.cpp
Labels: PR: Review required

#3703 client: avoid CPU starvation when GPU computing is suspended
  client/rr_sim.cpp
Labels: PR: Review required

#3697 [Android] Add extension property to determine if the device is online.
  android/BOINC/.idea/misc.xml
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AcctMgrFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ManualUrlInputFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/utils/BOINCUtilsIsOnlineTest.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3741 [Android] Use Collection.removeIf() to remove elements of a collection conditionally.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3746 [Android]Add exist asserts for generated files from android scripts
  android/BOINC/app/build.gradle
Labels: C: Android - Build, P: Trivial, T: Enhancement

#3752 [Android] Make pause icon in status bar more descriptive
  android/BOINC/app/src/main/res/drawable/ic_baseline_pause_yellow_blue.xml
  android/BOINC/app/src/main/res/drawable/ic_boinc_paused.xml
Labels: C: Android - Manager, P: Major, T: Enhancement

#3739 [Android] Replace AsyncTask declarations with Kotlin coroutines.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogClientFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/EventLogClientFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/NoticesFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/PrefsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/StatusFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/StatusFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/PrefsListItemWrapperClasses.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectControlsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/TasksListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AcctMgrFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AcctMgrFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchConflictListActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchProcessingActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchProcessingActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectInfoFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectInfoFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectListEntry.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/NoticeNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3743 Add android tests doc.
  android/Android_Verification_Matrix.md
Labels: C: Android - Manager, P: Trivial, T: Informational

#3754 [Android] Fix image download issue in ProjectInfoFragment.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectRelatedClasses.kt
Labels: C: Android - Manager, P: Major, T: Bugfix

#3755 [Android] Display task progress in a percentage of upto 3 decimal places.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/TasksListAdapter.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3758 [Android] Update projects name in the drawer
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
Labels: C: Android - Manager, P: Minor, T: Bugfix

#3759 [Android] Use StringUtils.isEmpty() in NavDrawerListAdapter.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3761 [Android] Use Fragment KTX in BOINCActivity.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3767 [Android] Use Glide to handle image loading in ProjectInfoFragment.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectInfoFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/glide/ScaleBitmapBy2.kt
  android/BOINC/app/src/main/res/layout/attach_project_info_layout.xml
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3768 [Android] Remove unused packagingOptions configuration.
  android/BOINC/app/build.gradle
Labels: C: Android - Build, P: Trivial, T: Enhancement

#3769 [Android] Use ArraySet instead of ArrayList in ClientStatus' getSlideshowForProject().
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3771 [Android] Dark mode support to control list
  android/BOINC/app/src/main/res/drawable/navlist_dark_selector.xml
  android/BOINC/app/src/main/res/drawable/navlist_light_selector.xml
  android/BOINC/app/src/main/res/layout/dialog_list.xml
  android/BOINC/app/src/main/res/values-night/theme.xml
  android/BOINC/app/src/main/res/values/theme.xml
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3709 Client: don't allow empty GUI RPC password
  client/boinc_cmd.cpp
  client/boinc_log.cpp
  client/gui_rpc_server.cpp
  clientgui/BOINCBaseFrame.cpp
  clientgui/BOINCBaseFrame.h
  clientgui/BOINCClientManager.cpp
  clientgui/MainDocument.cpp
  clientgui/MainDocument.h
  clientscr/gfx_cleanup.mm
  clientscr/mac_saver_module.cpp
  lib/common_defs.h
  lib/gui_rpc_client.cpp
  lib/gui_rpc_client.h
Labels: PR: Discussion needed

#3782 [Android] Use toBitmap() extension function.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
Labels: C: Android - Manager, Feature Request, P: Trivial

#3783 [Android] Fix lint errors.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/StatusFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AcctMgrFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectInfoFragment.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#3784 [Android] Update Android Gradle plugin to 4.0.
  android/BOINC/build.gradle
Labels: C: Android - Build, P: Trivial, T: Enhancement

#3785 [Android] Fix compilation error in AcctMgrFragment.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AcctMgrFragment.kt
Labels: C: Android - Manager, P: Trivial, T: Bugfix
