Repository BOINC/boinc, pull requests merged in 2020-12, with the labels that each got.

#4127 Add Javax Annotation.
  android/BOINC/app/build.gradle
Labels: C: Android - Build, P: Minor, PR: Reviewed, T: Bugfix

#4130 [CI] replace Travis and AppVeyor with Github Actions
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/windows.yml
  .travis.yml
  README.md
  android/ci_build_all.sh
  appveyor.yml
  deploy/deploy_to_bintray.bat
  deploy/deploy_to_bintray.sh
  deploy/prepare_deployment.bat
  deploy/prepare_deployment.sh
  win_build/vcpkg_3rdparty_dependencies_vs2019.vcxproj
Labels: C: Android - Build, C: Build System, C: Client - Build, C: Server - Other, P: Major, PR: Reviewed, T: Task

#4131 [CI] add OSX workflow
  .github/workflows/osx.yml
  mac_build/HowToBuildBOINC_XCode.pdf
  mac_build/HowToBuildBOINC_XCode.rtf
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_build/buildcurl.sh
  mac_build/buildopenssl.sh
  mac_build/dependencyNames.sh
Labels: C: Build System, C: Client - Macintosh, C: Installer - Macintosh, P: Major, PR: Reviewed, T: Task

#3283 Complete list of files to be installed for tools
  tools/Makefile.am
Labels: PR: Review required

#3961 fix compilation without deprecated OpenSSL APIs
  lib/crypt.cpp
Labels: PR: Review required
