Repository BOINC/boinc, pull requests merged in 2020-09, with the labels that each got.

#4001 Win code cleanup; no functional changes
  api/graphics2.cpp
  client/app.cpp
  client/app_control.cpp
  client/app_start.cpp
  client/async_file.cpp
  client/boinc_log.cpp
  client/client_msgs.cpp
  client/client_state.cpp
  client/client_types.cpp
  client/cs_benchmark.cpp
  client/cs_files.cpp
  client/cs_notice.cpp
  client/cs_scheduler.cpp
  client/cs_statefile.cpp
  client/cs_trickle.cpp
  client/dhrystone.cpp
  client/file_names.cpp
  client/file_xfer.cpp
  client/gpu_amd.cpp
  client/gpu_detect.cpp
  client/gpu_nvidia.cpp
  client/gpu_opencl.cpp
  client/gui_rpc_server_ops.cpp
  client/hostinfo_win.cpp
  client/http_curl.cpp
  client/log_flags.cpp
  client/main.cpp
  client/project.cpp
  client/result.cpp
  client/rr_sim.cpp
  client/sandbox.cpp
  client/scheduler_op.cpp
  client/sysmon_win.cpp
  client/time_stats.cpp
  client/work_fetch.cpp
  clientgui/WizardAttach.cpp
  clientscr/ss_app.cpp
  lib/boinc_win.h
  lib/coproc.cpp
  lib/crypt.cpp
  lib/filesys.cpp
  lib/gui_rpc_client.cpp
  lib/md5_file.cpp
  lib/network.cpp
  lib/opencl_boinc.cpp
  lib/shmem.cpp
Labels: C: Client - Windows, C: Library, C: Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3996 [Android] Remove Ouya category.
  android/BOINC/app/src/main/AndroidManifest.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#3995 [Android] Create separate notification channel for notices.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCApplication.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/NoticeNotification.java
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4003 [Android] Use more extensions.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ClientLogRecyclerViewAdapter.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NoticesRecyclerViewAdapter.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/TaskRecyclerViewAdapter.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/glide/ScaleBitmapBy2.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4004 [Android] Use ContextCompat.getColor().
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/TaskRecyclerViewAdapter.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4005 [Android] Update dependencies.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/MonitorTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountManagerParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountOutParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrRPCReplyParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/HostInfoParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessagesParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/NoticesParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectConfigReplyParserTest.java
  android/BOINC/build.gradle
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#4006 [Android] Remove PNG's for large icon notification and use vector icon instead
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/NoticeNotification.java
  android/BOINC/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/BOINC/app/src/main/res/mipmap-hdpi/ic_boinc_notice.png
  android/BOINC/app/src/main/res/mipmap-hdpi/ic_boinc_paused_notification.png
  android/BOINC/app/src/main/res/mipmap-hdpi/ic_email_white.png
  android/BOINC/app/src/main/res/mipmap-mdpi/ic_boinc_notice.png
  android/BOINC/app/src/main/res/mipmap-mdpi/ic_boinc_paused_notification.png
  android/BOINC/app/src/main/res/mipmap-mdpi/ic_email_white.png
  android/BOINC/app/src/main/res/mipmap-xhdpi/ic_boinc_notice.png
  android/BOINC/app/src/main/res/mipmap-xhdpi/ic_boinc_paused_notification.png
  android/BOINC/app/src/main/res/mipmap-xhdpi/ic_email_white.png
  android/BOINC/app/src/main/res/mipmap-xxhdpi/ic_boinc_notice.png
  android/BOINC/app/src/main/res/mipmap-xxhdpi/ic_boinc_paused_notification.png
  android/BOINC/app/src/main/res/mipmap-xxhdpi/ic_email_white.png
  android/BOINC/app/src/main/res/mipmap-xxxhdpi/ic_boinc_notice.png
  android/BOINC/app/src/main/res/mipmap-xxxhdpi/ic_boinc_paused_notification.png
  android/BOINC/app/src/main/res/mipmap-xxxhdpi/ic_email_white.png
  android/BOINC/app/src/main/res/values/ic_launcher_background.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#4012 [Android] Fix blueish task screen.
  android/BOINC/app/src/main/res/layout/tasks_layout.xml
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Bugfix

#4013 [Android] Remove transparent background:
  android/BOINC/app/src/main/res/layout/attach_project_acct_mgr_dialog.xml
  android/BOINC/app/src/main/res/layout/attach_project_batch_conflicts_list_item.xml
  android/BOINC/app/src/main/res/layout/attach_project_batch_processing_layout.xml
  android/BOINC/app/src/main/res/layout/attach_project_credential_input_dialog.xml
  android/BOINC/app/src/main/res/layout/attach_project_info_layout.xml
  android/BOINC/app/src/main/res/layout/dialog_about.xml
  android/BOINC/app/src/main/res/layout/dialog_confirm.xml
  android/BOINC/app/src/main/res/layout/event_log_client_list_item_layout.xml
  android/BOINC/app/src/main/res/layout/event_log_gui_list_item_layout.xml
  android/BOINC/app/src/main/res/layout/main_loading.xml
  android/BOINC/app/src/main/res/layout/main_tab_layout.xml
  android/BOINC/app/src/main/res/layout/notices_layout_list_item.xml
  android/BOINC/app/src/main/res/layout/project_details_layout.xml
  android/BOINC/app/src/main/res/layout/projects_controls_listitem_layout.xml
  android/BOINC/app/src/main/res/layout/projects_layout_listitem.xml
  android/BOINC/app/src/main/res/layout/projects_layout_listitem_acctmgr.xml
  android/BOINC/app/src/main/res/layout/status_layout.xml
  android/BOINC/app/src/main/res/layout/tasks_layout_list_item.xml
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4022 Drupal: SA-CORE-2020-007 fix for ctools
  drupal/sites/default/boinc/modules/contrib/ctools/ctools.info
  drupal/sites/default/boinc/modules/contrib/ctools/js/ajax-responder.js
Labels: C: Web - Other, E: 1 day, P: Major, PR: Reviewed, T: Bugfix

#4028 [VS2019] Clean vcpkg buildtrees after build
  win_build/vcpkg_3rdparty_dependencies_vs2019.vcxproj
Labels: C: Build System, P: Trivial, T: Enhancement
