Repository BOINC/boinc, pull requests merged in 2021-06, with the labels that each got.

#4376 Fix Xcode build for Apple Silicon M1 Macs
  mac_build/boinc.xcodeproj/project.pbxproj
Labels: C: Build System, P: Major, PR: Review required, T: Bugfix

#4383 [vcpkg] Upload vcpkg binary cache to s3
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
  deploy/manage_vcpkg_archive_cache.py
Labels: C: Android - Build, C: Build System, P: Minor, PR: Review required, T: Enhancement

#4391 [vcpkg] Fix vcpkg cache upload to s3
  deploy/manage_vcpkg_archive_cache.py
Labels: C: Android - Build, C: Build System, P: Major, T: Bugfix

#4392 [CI] Compile android with java 11 in ci.
  .github/workflows/android.yml
Labels: C: Android - Build, P: Trivial, PR: Reviewed, T: Enhancement

#4397 [Documentation] Fix typo
  doc/manpages/boinccmd.xml
Labels: C: Client - Documentation, P: Trivial, PR: Review required, T: Bugfix

#4379 [Android] Convert ClientNotification class to Kotlin.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/ClientNotificationIconTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/ClientNotificationTest.kt
Labels: C: Android - Manager, C: Testing, P: Trivial, PR: Review required, T: Unit/Integration Test

#4400 [CI] Add maintenance script to clean outdated vcpkg archives.
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/maintenance.yml
  .github/workflows/windows.yml
  deploy/cleanup_vcpkg_archive_cache.py
  deploy/manage_vcpkg_archive_cache.py
  deploy/s3.py
Labels: C: Build System, P: Minor, PR: Reviewed, T: Enhancement

#4398 [Android] Run boinc after boot
  android/BOINC/app/src/main/AndroidManifest.xml
  android/BOINC/app/src/main/java/edu/berkeley/boinc/receiver/BOINCReceivers.kt
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Bugfix

#4402 [CI] Fix S3 Maintenance script
  .github/workflows/maintenance.yml
Labels: C: Build System, P: Major, PR: Review required, T: Bugfix

#4403 [CI] Improve cleanup_vcpkg_archive_cache.py by removing duplicates
  deploy/cleanup_vcpkg_archive_cache.py
  deploy/s3.py
Labels: C: Build System, P: Major, PR: Reviewed, T: Enhancement

#4408 [Android] Resume computations autostart after reboot after powersourc…
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/ClientNotificationTest.kt
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Bugfix

#4419 [Android] Update build version name and code
  android/BOINC/app/build.gradle
Labels: C: Android - Build, P: Minor, PR: Reviewed, T: Enhancement

#4421 [Android] localization update
  android/BOINC/app/src/main/res/values-ar/strings.xml
  android/BOINC/app/src/main/res/values-az/strings.xml
  android/BOINC/app/src/main/res/values-b+sr+Latn/strings.xml
  android/BOINC/app/src/main/res/values-be/strings.xml
  android/BOINC/app/src/main/res/values-bg/strings.xml
  android/BOINC/app/src/main/res/values-ca/strings.xml
  android/BOINC/app/src/main/res/values-cs/strings.xml
  android/BOINC/app/src/main/res/values-da/strings.xml
  android/BOINC/app/src/main/res/values-de/strings.xml
  android/BOINC/app/src/main/res/values-el/strings.xml
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values-eo/strings.xml
  android/BOINC/app/src/main/res/values-es/strings.xml
  android/BOINC/app/src/main/res/values-eu/strings.xml
  android/BOINC/app/src/main/res/values-fa-rIR/strings.xml
  android/BOINC/app/src/main/res/values-fi/strings.xml
  android/BOINC/app/src/main/res/values-fr/strings.xml
  android/BOINC/app/src/main/res/values-gl/strings.xml
  android/BOINC/app/src/main/res/values-he/strings.xml
  android/BOINC/app/src/main/res/values-hr/strings.xml
  android/BOINC/app/src/main/res/values-hu/strings.xml
  android/BOINC/app/src/main/res/values-hy/strings.xml
  android/BOINC/app/src/main/res/values-id/strings.xml
  android/BOINC/app/src/main/res/values-it-rIT/strings.xml
  android/BOINC/app/src/main/res/values-ja/strings.xml
  android/BOINC/app/src/main/res/values-ka/strings.xml
  android/BOINC/app/src/main/res/values-ko/strings.xml
  android/BOINC/app/src/main/res/values-lt/strings.xml
  android/BOINC/app/src/main/res/values-lv/strings.xml
  android/BOINC/app/src/main/res/values-nb/strings.xml
  android/BOINC/app/src/main/res/values-nl/strings.xml
  android/BOINC/app/src/main/res/values-pl/strings.xml
  android/BOINC/app/src/main/res/values-pt-rBR/strings.xml
  android/BOINC/app/src/main/res/values-pt-rPT/strings.xml
  android/BOINC/app/src/main/res/values-ro/strings.xml
  android/BOINC/app/src/main/res/values-ru/strings.xml
  android/BOINC/app/src/main/res/values-sk/strings.xml
  android/BOINC/app/src/main/res/values-sl/strings.xml
  android/BOINC/app/src/main/res/values-sv/strings.xml
  android/BOINC/app/src/main/res/values-th/strings.xml
  android/BOINC/app/src/main/res/values-tr/strings.xml
  android/BOINC/app/src/main/res/values-uk/strings.xml
  android/BOINC/app/src/main/res/values-vi/strings.xml
  android/BOINC/app/src/main/res/values-zh-rCH/strings.xml
  android/BOINC/app/src/main/res/values-zh-rCN/strings.xml
  android/BOINC/app/src/main/res/values-zh-rTW/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Manager, E: 1 week, P: Major, PR: Review required, T: Enhancement

#4409 [CI] Fix target folder used by s3 maintenance script
  .github/workflows/maintenance.yml
Labels: C: Build System, P: Minor, PR: Reviewed, T: Bugfix

#4426 [Drupal] Improvements to BOINC team module
  drupal/sites/default/boinc/modules/boincteam/includes/boincteam.forms.inc
Labels: C: Web - Other, E: 1 day, P: Minor, T: Bugfix
