Repository BOINC/boinc, pull requests merged in 2021-03, with the labels that each got.

#4234 [Android] Add Tcp Socket preparation
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4230 [Android] Add GUI authentication key in settings
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/main/res/values/strings.xml
  android/BOINC/app/src/main/res/xml/root_preferences.xml
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4239 [Android] Remote
  android/BOINC/app/src/main/aidl/edu/berkeley/boinc/client/IMonitor.aidl
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/AppPreferences.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
  android/BOINC/app/src/main/res/values/configuration.xml
  android/BOINC/app/src/main/res/values/strings.xml
  android/BOINC/app/src/main/res/xml/root_preferences.xml
Labels: C: Android - Manager, P: Minor, T: Enhancement

#4209 Support ARMv6 devices.
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/assets/armeabi/placeholder.txt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/res/values/configuration.xml
  android/buildAndroidBOINC-CI.sh
  android/build_all.sh
  android/build_androidtc_armv6.sh
  android/build_boinc_armv6.sh
  android/build_curl_armv6.sh
  android/build_openssl_armv6.sh
  android/ci_build_all.sh
  client/cs_benchmark.cpp
  client/hostinfo_unix.cpp
  configure.ac
Labels: C: Android - Build, C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4243 [Android] Fix build
  client/hostinfo_unix.cpp
Labels: C: Android - Build, P: Blocker, PR: Review required, T: Bugfix

#4248 [Android] MonitorAsync
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/StatusFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/MonitorAsync.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Notice.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
  android/BOINC/app/src/main/res/values-de/strings.xml
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values-ru/strings.xml
  android/BOINC/app/src/main/res/values-sv/strings.xml
  android/BOINC/app/src/main/res/values-uk/strings.xml
  android/BOINC/app/src/main/res/values-zh-rCN/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Enhancement

#4252 [Linux] Openclapp in CI
  .github/workflows/linux.yml
  configure.ac
  deploy/prepare_deployment.sh
  m4/ax_check_cl.m4
  samples/Makefile.am
  samples/openclapp/Makefile
Labels: C: Build System, P: Trivial, PR: Reviewed, T: Enhancement

#4254 [Drupal] Allow for HTTP redirects
  drupal/sites/default/boinc/modules/boincstats/boincstats.module
  drupal/sites/default/boinc/modules/boincuser/boincuser.module
Labels: C: Web - Other, E: 1 day, P: Major, T: Bugfix

#4206 Fix compile warnings in client/ and lib/.
  client/Makefile.linux
  client/acct_setup.cpp
  client/app_control.cpp
  client/app_start.cpp
  client/hostinfo_unix.cpp
  client/project.cpp
  lib/Makefile.linux
  lib/crypt.cpp
  lib/diagnostics.cpp
  lib/gui_rpc_client_ops.cpp
Labels: C: Client - Build, C: Library, P: Trivial, T: Enhancement

#4260 Fix gcc compile warnings, and fix code formatting
  client/hostinfo_unix.cpp
Labels: C: Client - Build, P: Minor, PR: Reviewed, T: Enhancement

#4274 client: put CDATA around link field of notice; may have &
  lib/notice.cpp
Labels: C: Client - Daemon, P: Major, T: Bugfix

#4171 [Linux] Adds desktop file to launch boinc manager
  Makefile.am
  clientgui/res/Makefile.am
  clientgui/res/boinc.desktop
  clientgui/res/boinc.png
  clientgui/res/boinc.svg
Labels: C: Manager, P: Minor, PR: Reviewed, T: Enhancement

#4275 client: Fix invalid XML tags in handle_set_app_config
  client/gui_rpc_server_ops.cpp
Labels: C: Client - Daemon, P: Major, T: Bugfix

#4268 Fix opencl check in configure.ac
  configure.ac
  m4/ax_check_cl.m4
  samples/Makefile.am
Labels: C: Build System, P: Major, T: Bugfix

#4270 Check for supports shared libraries
  configure.ac
Labels: C: Build System, P: Minor, PR: Reviewed, T: Bugfix

#4253 [Android] Compile apps for android
  android/buildAndroidBOINC-CI.sh
  android/build_apps.sh
  android/build_example_arm.sh
  android/build_example_arm64.sh
  android/build_example_armv6.sh
  android/build_example_x86.sh
  android/build_example_x86_64.sh
  android/build_libraries_arm64.sh
  android/build_libraries_x86_64.sh
  android/clear_environment.sh
  configure.ac
  deploy/prepare_deployment.sh
  samples/Makefile.am
  samples/condor/Makefile
  samples/example_app/Makefile
  samples/example_app/Makefile_android
  samples/multi_thread/Makefile
  samples/openclapp/Makefile
  samples/sleeper/Makefile
  samples/vboxmonitor/Makefile
  samples/vboxwrapper/Makefile
  samples/wrapper/Makefile
Labels: C: Android - Build, C: Build System, P: Minor, PR: Reviewed, T: Enhancement

#4245 fix API build for C apps
  lib/diagnostics.h
Labels: C: BOINC - API, P: Minor, PR: Reviewed, T: Bugfix

#4277 Add test class for md5 library using Google test suite.
  lib/md5_file.cpp
  tests/unit-tests/lib/test_md5_file.cpp
  tests/unit-tests/lib/test_md5_file.txt
  win_build/unittests_vs2019.vcxproj
Labels: C: Library, P: Trivial, T: Unit/Integration Test

#4228 [Android] Add fastlane structure for F-Droid
  fastlane/metadata/android/bg/full_description.txt
  fastlane/metadata/android/bg/short_description.txt
  fastlane/metadata/android/ca/full_description.txt
  fastlane/metadata/android/ca/short_description.txt
  fastlane/metadata/android/cs/full_description.txt
  fastlane/metadata/android/cs/short_description.txt
  fastlane/metadata/android/da/full_description.txt
  fastlane/metadata/android/da/short_description.txt
  fastlane/metadata/android/de/full_description.txt
  fastlane/metadata/android/de/short_description.txt
  fastlane/metadata/android/en-US/full_description.txt
  fastlane/metadata/android/en-US/images/featureGraphic.png
  fastlane/metadata/android/en-US/images/icon.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/1.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/2.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/3.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/4.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/5.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/6.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/7.png
  fastlane/metadata/android/en-US/images/phoneScreenshots/8.png
  fastlane/metadata/android/en-US/images/sevenInchScreenshots/1.png
  fastlane/metadata/android/en-US/images/sevenInchScreenshots/2.png
  fastlane/metadata/android/en-US/images/sevenInchScreenshots/3.png
  fastlane/metadata/android/en-US/images/sevenInchScreenshots/4.png
  fastlane/metadata/android/en-US/images/sevenInchScreenshots/5.png
  fastlane/metadata/android/en-US/images/sevenInchScreenshots/6.png
  fastlane/metadata/android/en-US/images/sevenInchScreenshots/7.png
  fastlane/metadata/android/en-US/short_description.txt
  fastlane/metadata/android/en-US/title.txt
  fastlane/metadata/android/es/full_description.txt
  fastlane/metadata/android/es/short_description.txt
  fastlane/metadata/android/fi/full_description.txt
  fastlane/metadata/android/fi/short_description.txt
  fastlane/metadata/android/fr/full_description.txt
  fastlane/metadata/android/fr/short_description.txt
  fastlane/metadata/android/it/full_description.txt
  fastlane/metadata/android/it/short_description.txt
  fastlane/metadata/android/ko/full_description.txt
  fastlane/metadata/android/ko/short_description.txt
  fastlane/metadata/android/lv/full_description.txt
  fastlane/metadata/android/lv/short_description.txt
  fastlane/metadata/android/nl/full_description.txt
  fastlane/metadata/android/nl/short_description.txt
  fastlane/metadata/android/pl/full_description.txt
  fastlane/metadata/android/pl/short_description.txt
  fastlane/metadata/android/ro/full_description.txt
  fastlane/metadata/android/ro/short_description.txt
  fastlane/metadata/android/ru/full_description.txt
  fastlane/metadata/android/ru/short_description.txt
  fastlane/metadata/android/tr/full_description.txt
  fastlane/metadata/android/tr/short_description.txt
  fastlane/metadata/android/uk/full_description.txt
  fastlane/metadata/android/uk/short_description.txt
  fastlane/metadata/android/zh-TW/full_description.txt
  fastlane/metadata/android/zh-TW/short_description.txt
Labels: C: Android - Build, P: Major, PR: Review required, T: Enhancement

#4279 [Android] armv6 ndk16b
  android/buildAndroidBOINC-CI.sh
Labels: C: Android - Build, P: Minor, PR: Reviewed, T: Enhancement

#4285 [Android] Switch to ndk 15c for armv6
  android/buildAndroidBOINC-CI.sh
  android/build_androidtc_armv6.sh
Labels: C: Android - Build, P: Major, PR: Reviewed, T: Bugfix

#4286 [Android] Fix cache
  android/buildAndroidBOINC-CI.sh
  android/build_apps.sh
  android/build_client.sh
Labels: C: Android - Build, P: Major, PR: Reviewed, T: Bugfix

#4288 [Codecov] Fix unit tests coverage report
  m4/boinc_set_compile_flags.m4
Labels: C: Testing, P: Trivial, T: Bugfix

#4266 Add test class for synch library.
  tests/unit-tests/lib/test_synch.cpp
Labels: C: Testing, P: Trivial, PR: Reviewed, T: Unit/Integration Test

#4290 [Linux][Android][Scripts][Ci] Compile wrappture app for linux and android
  .github/workflows/linux.yml
  .gitignore
  android/buildAndroidBOINC-CI.sh
  android/build_apps.sh
  android/build_component.sh
  android/build_example_arm.sh
  android/build_example_arm64.sh
  android/build_example_armv6.sh
  android/build_example_x86.sh
  android/build_example_x86_64.sh
  android/ci_build_apps.sh
  android/clear_environment.sh
  configure.ac
  deploy/prepare_deployment.sh
  linux/ci_configure_apps.sh
  samples/Makefile.am
  samples/wrappture/Makefile
  samples/wrappture/wrappture.cpp
Labels: C: Android - Build, C: Build System, P: Minor, PR: Reviewed, T: Enhancement

#4280 [Codecov] Use action to upload coverage report
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  tests/executeUnitTests.sh
Labels: C: Testing, P: Trivial, T: Unit/Integration Test

#4278 [Codecov] Fix codecov.yml to wait for all reports before reporting st…
  .codecov.yml
Labels: C: Build System, C: Testing, P: Trivial, T: Bugfix, T: Unit/Integration Test

#4294 Add test class for shmem library.
  tests/unit-tests/lib/test_shmem.cpp
  win_build/unittests_vs2019.vcxproj
Labels: C: Testing, P: Trivial, PR: Review required, T: Unit/Integration Test

#4289 [Android] Parallel make in Android scripts
  android/buildAndroidBOINC-CI.sh
  android/build_boinc_arm.sh
  android/build_boinc_arm64.sh
  android/build_boinc_armv6.sh
  android/build_boinc_x86.sh
  android/build_boinc_x86_64.sh
  android/build_component.sh
  android/build_curl_arm.sh
  android/build_curl_arm64.sh
  android/build_curl_armv6.sh
  android/build_curl_x86.sh
  android/build_curl_x86_64.sh
  android/build_example_arm.sh
  android/build_example_arm64.sh
  android/build_example_armv6.sh
  android/build_example_x86.sh
  android/build_example_x86_64.sh
  android/build_libraries_arm.sh
  android/build_libraries_arm64.sh
  android/build_libraries_armv6.sh
  android/build_libraries_x86.sh
  android/build_libraries_x86_64.sh
  android/build_openssl_arm.sh
  android/build_openssl_arm64.sh
  android/build_openssl_armv6.sh
  android/build_openssl_x86.sh
  android/build_openssl_x86_64.sh
Labels: C: Android - Build, P: Trivial, PR: Reviewed, T: Enhancement

#4293 [Android] Arrange android ci
  .github/workflows/android.yml
  android/buildAndroidBOINC-CI.sh
  android/build_curl_arm.sh
  android/build_curl_arm64.sh
  android/build_curl_armv6.sh
  android/build_curl_x86.sh
  android/build_curl_x86_64.sh
  android/build_openssl_arm.sh
  android/build_openssl_arm64.sh
  android/build_openssl_armv6.sh
  android/build_openssl_x86.sh
  android/build_openssl_x86_64.sh
  client/Makefile.curl.am
  client/Makefile.linux
Labels: C: Android - Build, P: Major, PR: Reviewed, T: Bugfix

#4291 Client: fix app_config write from RPC
  client/gui_rpc_server_ops.cpp
  lib/cc_config.cpp
Labels: C: Client - Daemon, P: Major, T: Bugfix

#4304 Mac: Fix Mac builds to support C++11
  client/dhrystone.cpp
  client/dhrystone.h
  clientgui/mac/MacAccessiblity.mm
  clientgui/sg_PanelBase.cpp
  clientscr/Mac_Saver_Module.h
  clientscr/mac_saver_module.cpp
  mac_build/BuildMacBOINC.sh
  mac_build/boinc.xcodeproj/project.pbxproj
Labels: C: Build System, C: Client - Build, P: Minor, PR: Reviewed, T: Enhancement

#4300 [Android] Fix copy of event log entries
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ui/eventlog/EventLogActivity.kt
Labels: C: Android - Manager, P: Major, PR: Review required, T: Bugfix
