Repository BOINC/boinc, pull requests merged in 2021-01, with the labels that each got.

#4136 add OSX CI badge to readme
  README.md
Labels: C: Build System, P: Trivial, PR: Reviewed, T: Informational

#3277 cppcheck: avoid chance to read from uninitialised data
  lib/crypt.cpp
Labels: C: Library, P: Trivial, PR: Reviewed, T: Enhancement

#4041 Add CTRL+A shortcut
  clientgui/AdvancedFrame.cpp
  clientgui/AdvancedFrame.h
  clientgui/Events.h
Labels: C: Manager, P: Minor, PR: Reviewed, T: Enhancement

#4108 Scheduler, XML plan class spec: parse Linux version correctly
  sched/plan_class_spec.cpp
Labels: C: Client - Daemon, P: Major, PR: Reviewed, T: Enhancement

#4138 [CI] make build artifacts available through github
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/windows.yml
Labels: C: Build System, P: Minor, T: Enhancement

#4120 Test base64 library
  .gitignore
  tests/.gitignore
  tests/unit-tests/lib/test_base64.cpp
  win_build/unittests_vs2019.vcxproj
Labels: PR: Review required

#4149 [VS2019] Add fallback sign server timestamp.globalsign.com to use it …
  win_build/boinc_signing.targets
Labels: C: Build System, P: Minor, T: Enhancement

#4147 [Android] Suppress deprecation warning in unit test
  android/BOINC/app/src/test/java/edu/berkeley/boinc/utils/BOINCUtilsIsOnlineTest.kt
Labels: C: Android - Manager, P: Trivial, PR: Review required, T: Unit/Integration Test

#4145 [Android] Add Xiaomi specific screens
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/AndroidManifest.xml
  android/BOINC/app/src/main/aidl/edu/berkeley/boinc/client/IMonitor.aidl
  android/BOINC/app/src/main/java/edu/berkeley/boinc/LicenseActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/WelcomeActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/SelectionListActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/res/layout/activity_license.xml
  android/BOINC/app/src/main/res/layout/activity_welcome.xml
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values-zh-rCN/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
  deploy/prepare_deployment.sh
Labels: C: Android - Build, C: Android - Manager, P: Minor, PR: Review required, T: Enhancement

#4157 [Android] Fix Tasks loading
  android/BOINC/app/src/main/aidl/edu/berkeley/boinc/client/IMonitor.aidl
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
Labels: C: Android - Manager, P: Critical, PR: Reviewed, T: Bugfix

#4158 [Android] Convert Logging module from Java to Kotlin
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/Logging.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/Logging.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/utils/LoggingTest.kt
Labels: C: Android - Manager, C: Testing, P: Trivial, T: Enhancement, T: Unit/Integration Test

#3262 Revisited Debian patch 'more_maxpathlen.patch'
  api/graphics2_util.cpp
  lib/filesys.cpp
Labels: C: BOINC - Graphics API, C: Library, P: Minor, PR: Reviewed, T: Enhancement

#4160 [Android] Fix display issue when the last removed task is still visib…
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.kt
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Bugfix

#4144 Drupal: ignore temporary field
  drupal/sites/default/boinc/modules/boincuser/boincuser.module
Labels: C: Web - Other, P: Minor, PR: Review required, T: Enhancement

#4150 Prettify README.md
  README.md
Labels: C: Undetermined, P: Trivial, T: Informational

#4162 [VS2019] Add more timestamp backup servers
  win_build/boinc_signing.targets
Labels: C: Build System, P: Major, T: Enhancement
