Repository BOINC/boinc, pull requests merged in 2021-02, with the labels that each got.

#4163 [Android] Convert BoincMutexTest to Kotlin
  android/BOINC/app/src/test/java/edu/berkeley/boinc/mutex/BoincMutexTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/mutex/BoincMutexTest.kt
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Unit/Integration Test

#4140 Detect GLIBC version by calling gnu_get_libc_version()
  client/hostinfo_unix.cpp
Labels: C: Client - Daemon, P: Minor, PR: Reviewed, T: Enhancement

#4159 Enhance clean commands for build unix
  Makefile.am
  api/Makefile.am
  client/Makefile.am
  packages/solaris/CSW/Makefile.am
  py/Makefile.am
  samples/Makefile.am
  sched/Makefile.am
  zip/Makefile.am
Labels: C: Client - Build, P: Minor, PR: Review required, T: Enhancement

#4177 doc: add links to github actions on badge status
  README.md
Labels: C: Build System, P: Trivial, PR: Reviewed, T: Enhancement

#4198 Manager: don't crash when alt-space is pressed
  clientgui/AdvancedFrame.cpp
  clientgui/sg_BoincSimpleFrame.cpp
Labels: C: Manager, P: Minor, PR: Reviewed, T: Bugfix

#4202 [linux] Fix CI build on Ubuntu 20.04
  .github/workflows/linux.yml
Labels: C: Build System, P: Critical, T: Enhancement

#4063 [linux] Remove config.h from installable headers.
  lib/gui_rpc_client.h
  lib/parse.cpp
  lib/parse.h
Labels: C: Build System, C: Client - Build, P: Minor, T: Bugfix

#4031 client/scheduler: update NVidia detection again
  lib/coproc.cpp
Labels: C: Client - Daemon, P: Minor, PR: Review required, PR: Reviewed, T: Enhancement

#4126 hostinfo_unix: Ignore tty(S|ACM) devices in TTY idle time calculation
  client/hostinfo_unix.cpp
Labels: C: Client - Linux, P: Minor, PR: Reviewed, T: Enhancement

#4210 Fix Disk tab in advanced view at Hebrew show as mirror view.
  clientgui/ViewResources.cpp
  clientgui/ViewStatistics.cpp
Labels: C: Manager - Localization, P: Minor, T: Bugfix

#4173 [CI] Linux: checkout two commits for codecov to work
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: C: Build System, P: Minor, T: Bugfix

#4224 Add finalize target that copy locale folder and ca-bundle.crt
  win_build/boinc_cli_vs2019.vcxproj
  win_build/boinc_finalize.targets
  win_build/boincmgr_vs2019.vcxproj
Labels: C: Build System, P: Trivial, PR: Waiting for author response, T: Enhancement
