Repository BOINC/boinc, pull requests merged in 2021-07, with the labels that each got.

#4418 [Android] Get latest and re-arrange dependencies
  android/BOINC/app/build.gradle
  android/BOINC/build.gradle
  android/BOINC/gradle/wrapper/gradle-wrapper.properties
  android/ci_build_vcpkg_manager.sh
Labels: C: Android - Build, P: Minor, PR: Reviewed, T: Enhancement

#4422 [Android] Remove android.cmake
  3rdParty/vcpkg_ports/toolchains/android.cmake
  3rdParty/vcpkg_ports/triplets/default/arm-android.cmake
  3rdParty/vcpkg_ports/triplets/default/arm-neon-android.cmake
  3rdParty/vcpkg_ports/triplets/default/arm64-android.cmake
  3rdParty/vcpkg_ports/triplets/default/armv6-android.cmake
  3rdParty/vcpkg_ports/triplets/default/x64-android.cmake
  3rdParty/vcpkg_ports/triplets/default/x86-android.cmake
Labels: C: Android - Build, P: Trivial, PR: Reviewed, T: Enhancement

#4425 [Linux] vcpkg in ci compile in release only
  3rdParty/vcpkg_ports/triplets/ci/x64-linux.cmake
  linux/update_vcpkg.sh
Labels: C: Build System, P: Trivial, PR: Reviewed, T: Enhancement

#4424 [Android] vcpkg in ci compile in release only
  3rdParty/vcpkg_ports/triplets/ci/arm-android.cmake
  3rdParty/vcpkg_ports/triplets/ci/arm-neon-android.cmake
  3rdParty/vcpkg_ports/triplets/ci/arm64-android.cmake
  3rdParty/vcpkg_ports/triplets/ci/armv6-android.cmake
  3rdParty/vcpkg_ports/triplets/ci/x64-android.cmake
  3rdParty/vcpkg_ports/triplets/ci/x86-android.cmake
  android/buildAndroidBOINC-CI.sh
Labels: C: Android - Build, P: Minor, PR: Reviewed, T: Enhancement

#4406 Mac installer: on arm64 Macs, optionally install Rosetta 2 if not already installed
  clientgui/mac/SetVersion.cpp
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_installer/Installer.cpp
  mac_installer/PostInstall.cpp
  mac_installer/ReadMe.rtf
  mac_installer/myDistribution
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
  mac_installer/wcgrid-ReadMe.rtf
Labels: C: Installer - Macintosh, P: Major, PR: Review required, T: Enhancement

#4434 [Android] Fix kotlin warning
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/App.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Project.kt
  android/ci_build_manager.sh
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4438 Update localizations
  locale/templates/BOINC-Client.pot
  locale/templates/BOINC-Manager.pot
  locale/templates/BOINC-Project-Generic.pot
  locale/templates/BOINC-Setup.pot
Labels: C: Manager - Localization, E: 1 day, P: Major, PR: Review required, T: Enhancement

#4439 [Android] Fix Kotlin and Java deprecations
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchProcessingActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/DeviceStatus.java
  android/BOINC/app/src/main/res/layout/attach_project_batch_processing_layout.xml
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4441 [Android] Add 'https://' prefix to the url field by default to 'Add p…
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ManualUrlInputFragment.java
Labels: C: Android - Manager, E: 1 day, P: Trivial, PR: Reviewed, T: Enhancement

#4443 [Android] Fix changing GUI log level.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
Labels: C: Android - Manager, E: 1 day, P: Major, PR: Reviewed, T: Bugfix

#4445 [Android] Convert NavDrawerListAdapter to Kotlin.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/adapter/NavDrawerItemTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/adapter/NavDrawerListAdapterTest.kt
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4446 [Android] Fix crash when show tabs
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/NavDrawerListAdapter.kt
Labels: C: Android - Manager, P: Blocker, PR: Reviewed, T: Bugfix

#4455 [Android] Change repeatedly debug msgs to verbose priority
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/StatusFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#4454 [Android] Fix deprecated hard coded data dir
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/res/values/configuration.xml
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/MonitorTest.kt
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4449 [Android] Update android packages
  android/BOINC/app/build.gradle
  android/BOINC/build.gradle
Labels: C: Android - Build, P: Minor, PR: Reviewed, T: Enhancement

#4453 [Android] Fix get list of available Account Managers when remote cont…
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AttachAccountManagerActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/MonitorAsync.kt
Labels: C: Android - Manager, P: Critical, PR: Reviewed, T: Bugfix

#4447 [Android] Fix localization issues.
  android/BOINC/app/src/main/res/values-ar/strings.xml
  android/BOINC/app/src/main/res/values-az/strings.xml
  android/BOINC/app/src/main/res/values-b+sr+Latn/strings.xml
  android/BOINC/app/src/main/res/values-be/strings.xml
  android/BOINC/app/src/main/res/values-bg/strings.xml
  android/BOINC/app/src/main/res/values-ca/strings.xml
  android/BOINC/app/src/main/res/values-cs/strings.xml
  android/BOINC/app/src/main/res/values-da/strings.xml
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values-es/strings.xml
  android/BOINC/app/src/main/res/values-eu/strings.xml
  android/BOINC/app/src/main/res/values-fi/strings.xml
  android/BOINC/app/src/main/res/values-fr/strings.xml
  android/BOINC/app/src/main/res/values-he/strings.xml
  android/BOINC/app/src/main/res/values-hu/strings.xml
  android/BOINC/app/src/main/res/values-it-rIT/strings.xml
  android/BOINC/app/src/main/res/values-ka/strings.xml
  android/BOINC/app/src/main/res/values-ko/strings.xml
  android/BOINC/app/src/main/res/values-lt/strings.xml
  android/BOINC/app/src/main/res/values-lv/strings.xml
  android/BOINC/app/src/main/res/values-nb/strings.xml
  android/BOINC/app/src/main/res/values-nl/strings.xml
  android/BOINC/app/src/main/res/values-pl/strings.xml
  android/BOINC/app/src/main/res/values-pt-rBR/strings.xml
  android/BOINC/app/src/main/res/values-pt-rPT/strings.xml
  android/BOINC/app/src/main/res/values-ro/strings.xml
  android/BOINC/app/src/main/res/values-ru/strings.xml
  android/BOINC/app/src/main/res/values-sk/strings.xml
  android/BOINC/app/src/main/res/values-sv/strings.xml
  android/BOINC/app/src/main/res/values-tr/strings.xml
  android/BOINC/app/src/main/res/values-uk/strings.xml
  android/BOINC/app/src/main/res/values-vi/strings.xml
  android/BOINC/app/src/main/res/values-zh-rCN/strings.xml
  android/BOINC/app/src/main/res/values-zh-rTW/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Localization, P: Minor, PR: Reviewed, T: Bugfix

#4458 [Android] Fix delicate api warning
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4459 [Android] Remove common-io (Not working on old android)
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/MonitorExtensions.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/utils/BOINCUtilsTest.kt
Labels: C: Android - Build, C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4461 [Android] Fix Message duplication class import
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4469 [Android] Optimized imports
  android/BOINC/.idea/codeStyles/Project.xml
  android/BOINC/app/build.gradle
  android/BOINC/app/proguard-rules-debug.txt
  android/BOINC/app/proguard-rules.txt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/StatusFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectControlsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/TaskRecyclerViewAdapter.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchProcessingActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/CredentialInputActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/HintFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/IndividualCredentialInputFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ManualUrlInputFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientInterfaceImplementation.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/DeviceStatus.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/MonitorAsync.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/NoticeNotification.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ui/eventlog/EventLogActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ui/eventlog/EventLogGuiFragment.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCUtils.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/adapter/ClientLogRecyclerViewAdapterTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/adapter/GuiLogRecyclerViewAdapterTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/adapter/NavDrawerItemTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/adapter/NavDrawerListAdapterTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/SimpleReplyParserTest.kt
  android/BOINC/build.gradle
  android/BOINC/gradle/wrapper/gradle-wrapper.properties
Labels: C: Android - Build, C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#4466 [Android] Switch to new jacoco
  android/BOINC/app/build.gradle
  android/BOINC/build.gradle
Labels: C: Android - Build, P: Minor, PR: Reviewed, T: Enhancement

#4470 [Android] Fix init jacoco exception
  android/BOINC/app/src/main/resources/jacoco-agent.properties
Labels: C: Android - Build, P: Major, PR: Reviewed, T: Bugfix

#4464 [Android] Refactor Log class mocking in unit tests
  android/BOINC/app/src/test/java/android/util/Log.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/RpcClientTest.kt
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Enhancement

#4465 [Maintenance] Cleanup script should create temp directory when downlo…
  deploy/s3.py
Labels: C: Build System, P: Major, PR: Reviewed, T: Enhancement

#4468 [Windows][Client] Update client to report correctly Windows 11
  client/hostinfo_win.cpp
Labels: C: Client - Windows, P: Minor, PR: Reviewed, T: Enhancement

#4478 [Android] Bug fix Loglevel
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Bugfix
