Repository BOINC/boinc, pull requests merged in 2021-11, with the labels that each got.

#4573 Fix version of boto3 library because of the issue with the newer one
  .github/workflows/linux.yml
  .github/workflows/maintenance.yml
Labels: P: Major, C: Build System, T: Bugfix

#4574 web: remove use of "group by" to avoid error w/ newer MySQL
  html/inc/team.inc
Labels: C: Web - Project, P: Minor, T: Bugfix, PR: Review required

#4583 Mac: ensure curl is built without needing libraries not normally available
  3rdParty/buildMacDependencies.sh
  mac_build/buildcurl.sh
Labels: P: Minor, T: Enhancement, C: Build System, PR: Reviewed

#4585 Change triplets file for new change of vcpkg.
  3rdParty/vcpkg_ports/triplets/ci/arm-android.cmake
  3rdParty/vcpkg_ports/triplets/ci/arm-neon-android.cmake
  3rdParty/vcpkg_ports/triplets/ci/arm64-android.cmake
  3rdParty/vcpkg_ports/triplets/ci/armv6-android.cmake
  3rdParty/vcpkg_ports/triplets/ci/x64-android.cmake
  3rdParty/vcpkg_ports/triplets/ci/x86-android.cmake
  3rdParty/vcpkg_ports/triplets/default/arm-android.cmake
  3rdParty/vcpkg_ports/triplets/default/arm-neon-android.cmake
  3rdParty/vcpkg_ports/triplets/default/arm64-android.cmake
  3rdParty/vcpkg_ports/triplets/default/armv6-android.cmake
  3rdParty/vcpkg_ports/triplets/default/x64-android.cmake
  3rdParty/vcpkg_ports/triplets/default/x86-android.cmake
Labels: P: Trivial, T: Enhancement, C: Android - Build, PR: Reviewed

#4590 [Android] Fix armv6 vcpkg build.
  android/buildAndroidBOINC-CI.sh
  android/build_boinc_armv6.sh
Labels: P: Blocker, C: Android - Build, T: Bugfix
