Repository BOINC/boinc, pull requests merged in 2021-12, with the labels that each got.

#4592 client: fix work-fetch logic when max concurrent limits are used
  client/rr_sim.cpp
  client/work_fetch.cpp
  client/work_fetch.h
Labels: C: Client - Scheduler Policy, P: Major, T: Bugfix

#4593 Add a new mechanism to discourage spam: if you put
  html/inc/util.inc
  html/user/create_profile.php
  html/user/forum_post.php
  html/user/forum_reply.php
  html/user/forum_report_post.php
  html/user/pm.php
Labels: C: Web - Forums, P: Minor, T: Enhancement, PR: Review required

#4575 client: fix overly aggressive project-wide file transfer backoff policy.
  client/client_types.cpp
  client/client_types.h
  client/project.cpp
Labels: C: Client - Daemon, P: Major, T: Bugfix, PR: Review required

#4595 Fix Flutter and mac os bugs in ci.
  .github/workflows/flutter-macos.yml
  .github/workflows/flutter-ubuntu.yml
  .github/workflows/osx.yml
  samples/flutter/boinc/android/app/build.gradle
Labels: P: Minor, C: Build System, T: Bugfix, PR: Reviewed
