Repository BOINC/boinc, pull requests merged in 2021-05, with the labels that each got.

#4355 [Android] Fix counter is up on retry transfer
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Transfer.kt
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Bugfix

#4356 [Android] Remove unused imports
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#4359 [Android] Fix build
  android/BOINC/build.gradle
Labels: C: Android - Build, P: Blocker, PR: Review required, T: Enhancement

#4360 [Android] Upgrade to android studio 4.2
  android/BOINC/.idea/compiler.xml
  android/BOINC/.idea/misc.xml
  android/BOINC/.idea/runConfigurations.xml
  android/BOINC/app/build.gradle
Labels: C: Android - Build, P: Trivial, PR: Reviewed, T: Enhancement

#4354 GPU list: strip leading "AMD" or "NVIDIA" from model to avoid dups in list
  html/user/gpu_list.php
Labels: C: Web - Project, P: Minor, T: Enhancement

#4362 [Android] Fix an issue when mutex acquisition was checked before real…
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BoincNotExclusiveDialog.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.kt
Labels: C: Android - Manager, P: Critical, T: Bugfix

#4361 [Android] Remove New Year text from Xiaomi specific screen.
  android/BOINC/app/src/main/res/layout/activity_welcome.xml
Labels: C: Android - Manager, P: Trivial, PR: Review required, T: Enhancement

#4358 [Android] Update on-screen instructions
  android/BOINC/app/src/main/res/layout/attach_project_hint_contribution_layout.xml
  android/BOINC/app/src/main/res/values-ar/strings.xml
  android/BOINC/app/src/main/res/values-az/strings.xml
  android/BOINC/app/src/main/res/values-b+sr+Latn/strings.xml
  android/BOINC/app/src/main/res/values-bg/strings.xml
  android/BOINC/app/src/main/res/values-ca/strings.xml
  android/BOINC/app/src/main/res/values-cs/strings.xml
  android/BOINC/app/src/main/res/values-da/strings.xml
  android/BOINC/app/src/main/res/values-de/strings.xml
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values-es/strings.xml
  android/BOINC/app/src/main/res/values-eu/strings.xml
  android/BOINC/app/src/main/res/values-fi/strings.xml
  android/BOINC/app/src/main/res/values-fr/strings.xml
  android/BOINC/app/src/main/res/values-he/strings.xml
  android/BOINC/app/src/main/res/values-hu/strings.xml
  android/BOINC/app/src/main/res/values-it-rIT/strings.xml
  android/BOINC/app/src/main/res/values-ja/strings.xml
  android/BOINC/app/src/main/res/values-ka/strings.xml
  android/BOINC/app/src/main/res/values-ko/strings.xml
  android/BOINC/app/src/main/res/values-lt/strings.xml
  android/BOINC/app/src/main/res/values-lv/strings.xml
  android/BOINC/app/src/main/res/values-nb/strings.xml
  android/BOINC/app/src/main/res/values-nl/strings.xml
  android/BOINC/app/src/main/res/values-pl/strings.xml
  android/BOINC/app/src/main/res/values-pt-rBR/strings.xml
  android/BOINC/app/src/main/res/values-pt-rPT/strings.xml
  android/BOINC/app/src/main/res/values-ro/strings.xml
  android/BOINC/app/src/main/res/values-ru/strings.xml
  android/BOINC/app/src/main/res/values-sk/strings.xml
  android/BOINC/app/src/main/res/values-sl/strings.xml
  android/BOINC/app/src/main/res/values-sv/strings.xml
  android/BOINC/app/src/main/res/values-tr/strings.xml
  android/BOINC/app/src/main/res/values-uk/strings.xml
  android/BOINC/app/src/main/res/values-zh-rCN/strings.xml
  android/BOINC/app/src/main/res/values-zh-rTW/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Manager, P: Trivial, PR: Reviewed, T: Enhancement

#4338 [Android][Linux][vcpkg][scripts] Switch to pkg-config for vcpkg
  android/build_boinc_arm.sh
  android/build_boinc_arm64.sh
  android/build_boinc_armv6.sh
  android/build_boinc_x86.sh
  android/build_boinc_x86_64.sh
  linux/ci_configure_client.sh
  m4/libcurl.m4
Labels: C: Android - Build, P: Major, PR: Reviewed, T: Enhancement

#4364 [Android][Scripts] Compile armv6 with vcpkg
  3rdParty/vcpkg_ports/toolchains/android.cmake
  3rdParty/vcpkg_ports/triplets/default/arm-android.cmake
  3rdParty/vcpkg_ports/triplets/default/arm-neon-android.cmake
  android/buildAndroidBOINC-CI.sh
  android/build_boinc_arm.sh
  android/build_boinc_arm64.sh
  android/build_boinc_armv6.sh
  android/build_boinc_x86.sh
  android/build_boinc_x86_64.sh
Labels: C: Android - Build, P: Minor, PR: Reviewed, T: Enhancement

#4366 [Android][Scripts] Clean android scripts
  android/build_boinc_arm.sh
  android/build_boinc_arm64.sh
  android/build_boinc_armv6.sh
  android/build_boinc_x86.sh
  android/build_boinc_x86_64.sh
  android/build_curl_arm.sh
  android/build_curl_arm64.sh
  android/build_curl_x86.sh
  android/build_curl_x86_64.sh
  android/build_example_arm.sh
  android/build_example_arm64.sh
  android/build_example_x86.sh
  android/build_example_x86_64.sh
  android/build_libraries_arm.sh
  android/build_libraries_arm64.sh
  android/build_libraries_armv6.sh
  android/build_libraries_x86.sh
  android/build_libraries_x86_64.sh
  android/build_openssl_arm.sh
  android/build_openssl_arm64.sh
  android/build_openssl_armv6.sh
  android/build_openssl_x86.sh
  android/build_openssl_x86_64.sh
Labels: C: Android - Build, P: Minor, PR: Reviewed, T: Enhancement

#4371 [Android] Update project files
  .gitignore
  android/BOINC/.idea/codeStyles/Project.xml
  android/BOINC/.idea/misc.xml
  android/BOINC/.project
Labels: C: Android - Build, P: Minor, PR: Review required, T: Enhancement

#4369 Mac: fix build scripts to be compatible with both bash and zsh shells
  mac_build/BuildMacBOINC.sh
  mac_build/buildFTGL.sh
  mac_build/buildWxMac.sh
  mac_build/buildc-ares.sh
  mac_build/buildcurl.sh
  mac_build/buildfreetype.sh
  mac_build/buildopenssl.sh
Labels: C: Build System, P: Minor, PR: Review required, T: Enhancement

#4370 [Android] Convert left java unit tests to Kotlin
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountOutParser.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/BaseParser.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountManagerParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountManagerParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountOutParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AccountOutParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrInfoParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrInfoParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrRPCReplyParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AcctMgrRPCReplyParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppVersionsParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppVersionsParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppsParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/AppsParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/BaseParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/BaseParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStateParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStateParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStatusParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/CcStatusParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/GlobalPreferencesParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/GlobalPreferencesParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/HostInfoParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/HostInfoParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessageCountParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessageCountParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessagesParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/MessagesParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/NoticesParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/NoticesParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectAttachReplyParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectAttachReplyParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectConfigReplyParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectConfigReplyParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectInfoParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectInfoParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectsParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ProjectsParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ResultsParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/ResultsParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/RpcClientTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/RpcClientTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/SimpleReplyParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/SimpleReplyParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/TransfersParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/TransfersParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/VersionInfoParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/VersionInfoParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/WorkUnitsParserTest.java
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/WorkUnitsParserTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/utils/BOINCUtilsTest.kt
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Unit/Integration Test

#4382 [Android] Upload build logs in case of build failure
  .github/workflows/android.yml
Labels: C: Android - Build, P: Trivial, T: Enhancement
