Repository BOINC/boinc, pull requests merged in 2021-04, with the labels that each got.

#4307 [Android][Script] Changes in android ci script
  3rdParty/vcpkg_ports/triplets/default/arm-android-neon.cmake
  3rdParty/vcpkg_ports/triplets/default/arm-android.cmake
  android/buildAndroidBOINC-CI.sh
  android/clear_environment.sh
Labels: C: Android - Build, P: Minor, PR: Reviewed, T: Enhancement

#4308 [Linux][Script] Change vcpkg dir and vcpkg cache dir location
  .github/workflows/linux.yml
  linux/ci_configure_apps.sh
  linux/update_vcpkg.sh
  samples/wrappture/Makefile
Labels: C: Build System, P: Trivial, PR: Reviewed, T: Enhancement

#4311 [Android][UnitTest] Add ClientLogRecyclerViewAdapterTest
  android/BOINC/app/src/test/java/edu/berkeley/boinc/adapter/ClientLogRecyclerViewAdapterTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/adapter/GuiLogRecyclerViewAdapterTest.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/adapter/ProjectListEntryTest.kt
Labels: C: Android - Manager, C: Testing, P: Trivial, PR: Review required, T: Unit/Integration Test

#4314 [Android] Fix verbosity level change
  android/BOINC/app/src/main/res/xml/root_preferences.xml
Labels: C: Android - Manager, P: Major, PR: Review required, T: Bugfix

#4318 [Apps][Linux][Android] Arrange apps makefiles
  samples/condor/Makefile
  samples/example_app/Makefile
  samples/multi_thread/Makefile
  samples/sleeper/Makefile
  samples/vboxmonitor/Makefile
  samples/vboxwrapper/Makefile
  samples/wrapper/Makefile
  samples/wrappture/Makefile
Labels: C: Build System, P: Trivial, PR: Reviewed, T: Enhancement

#4317 [Android] Upgrade Kotlin backend to 1.4.30 and enable IR compiler
  android/BOINC/app/build.gradle
  android/BOINC/build.gradle
Labels: C: Android - Build, P: Trivial, PR: Review required, T: Enhancement

#4325 [Windows][Codecov] Add Codecov support to Windows builds
  .codecov.yml
  .github/workflows/windows.yml
Labels: C: Testing, P: Trivial, PR: Review required, T: Unit/Integration Test

#4333 [Android] Remove deprecated 'kotlin-android-extensions' plugin
  android/BOINC/app/build.gradle
Labels: C: Android - Build, P: Trivial, PR: Review required, T: Enhancement

#4337 Client: fix work_fetch after app_config write from RPC
  lib/cc_config.cpp
Labels: C: Client - Daemon, C: Client - Scheduler Policy, P: Major, PR: Reviewed, T: Bugfix

#4335 [Android] Fix notification action
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.java
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Bugfix

#4340 [Android] Remove forced dark mode for API 29
  android/BOINC/app/src/main/res/values-night-v29/styles.xml
  android/BOINC/app/src/main/res/values-v29/styles.xml
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Bugfix

#4343 [Android] Fix Einstein@home attach
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.kt
Labels: C: Android - Manager, P: Major, PR: Reviewed, T: Bugfix

#4346 [CI] Upload build logs on failure for android, linux, windows
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: C: Build System, P: Minor, PR: Reviewed, T: Enhancement

#4347 [Android] Upgrade org.jetbrains.kotlinx:kotlinx-coroutines-core and o…
  android/BOINC/app/build.gradle
Labels: C: Android - Build, P: Trivial, PR: Reviewed, T: Enhancement

#4344 [Android] Fix AccountOut parser
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectAttachService.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/AccountOutParser.kt
Labels: C: Android - Manager, P: Minor, PR: Reviewed, T: Bugfix

#4349 [CI] Remove BinTray deployment
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/windows.yml
  deploy/cleanup_bintray.sh
  deploy/deploy_to_bintray.bat
  deploy/deploy_to_bintray.sh
Labels: C: Build System, P: Minor, PR: Reviewed, T: Enhancement

#4342 [Android][Scripts] Add green color in message done
  android/build_boinc_arm.sh
  android/build_boinc_arm64.sh
  android/build_boinc_armv6.sh
  android/build_boinc_x86.sh
  android/build_boinc_x86_64.sh
  android/build_curl_arm.sh
  android/build_curl_arm64.sh
  android/build_curl_armv6.sh
  android/build_curl_x86.sh
  android/build_curl_x86_64.sh
  android/build_example_arm.sh
  android/build_example_arm64.sh
  android/build_example_armv6.sh
  android/build_example_x86.sh
  android/build_example_x86_64.sh
  android/build_libraries_arm.sh
  android/build_libraries_arm64.sh
  android/build_libraries_armv6.sh
  android/build_libraries_x86.sh
  android/build_libraries_x86_64.sh
  android/build_openssl_arm.sh
  android/build_openssl_arm64.sh
  android/build_openssl_armv6.sh
  android/build_openssl_x86.sh
  android/build_openssl_x86_64.sh
Labels: C: Android - Build, P: Trivial, PR: Reviewed, T: Enhancement
