Repository BOINC/boinc, pull requests merged in 2022-11, with the labels that each got.

#4994 Avoid character conversion
  samples/vboxwrapper/vbox_vboxmanage.cpp
Labels: P: Critical, C: Apps - VboxWrapper, T: Bugfix, PR: Reviewed

#4997 Added an option to have task details always expanded #4214
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.kt
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values/configuration.xml
  android/BOINC/app/src/main/res/values/strings.xml
  android/BOINC/app/src/main/res/xml/root_preferences.xml
Labels: C: Android - Manager, P: Trivial, T: Enhancement, PR: Reviewed

#5002 Mac: Fixes for MacOS 13 and Xcode 14
  client/check_security.cpp
  client/gui_rpc_server_ops.cpp
  client/sandbox.cpp
  client/sandbox.h
  client/setprojectgrp.cpp
  client/switcher.cpp
  clientgui/MainDocument.cpp
  clientgui/MainDocument.h
  clientgui/mac/SetupSecurity.cpp
  clientscr/gfx_switcher.cpp
  clientscr/mac_saver_module.cpp
  clientscr/res/BOINCSaver.xib
  clientscr/res/mac_restrict_access.sb
  clientscr/screensaver.cpp
  lib/gui_rpc_client_ops.cpp
  mac_build/Mac_SA_Secure.sh
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_installer/finish_install.cpp
Labels: C: Manager - Localization, P: Critical, T: Enhancement, C: Installer - Macintosh, C: Client - Macintosh, PR: Reviewed

#5003 [Android] Upgrade grgit dependency to 5.0.0
  android/BOINC/app/build.gradle
Labels: P: Blocker, C: Android - Build, T: Bugfix

#4995 web: show disk size in TB if needed
  html/inc/util.inc
Labels: C: Server - Other, P: Trivial, T: Enhancement, PR: Review required

#4992 scheduler: when sending a job, decrement work request time by the correct amount.
  sched/sched_send.cpp
Labels: C: Server - Scheduler, P: Major, T: Bugfix, PR: Review required

#4996 update_versions: add --noconfirm option
  tools/update_versions
Labels: P: Trivial, T: Enhancement, C: Server - Remote Submission, PR: Review required

#5010 Mac: More fixes for MacOS 13 and Xcode 14
  client/check_security.cpp
  client/gui_rpc_server_ops.cpp
  client/sandbox.cpp
  client/sandbox.h
  client/setprojectgrp.cpp
  client/switcher.cpp
  clientscr/gfx_cleanup.mm
  clientscr/gfx_switcher.cpp
  clientscr/screensaver.cpp
  lib/gui_rpc_client.cpp
  mac_build/Mac_SA_Secure.sh
  mac_build/boinc.xcodeproj/project.pbxproj
Labels: P: Major, C: Client - Macintosh, T: Bugfix, PR: Reviewed

#5015 Fix compile errors caused by missing header file
  samples/vboxwrapper/vboxlogging.cpp
Labels: P: Trivial, C: Apps - VboxWrapper, T: Bugfix, PR: Reviewed

#5022 MSW: Fix "Stop graphics" button operation on MS Windows
  clientgui/MainDocument.cpp
Labels: C: Manager, P: Minor, T: Bugfix, PR: Reviewed

#5028 [CI][Windows] Fix build after expat update on vcpkg
  win_build/wrappture_example_vs2019.vcxproj
Labels: P: Blocker, C: Build System, T: Bugfix

#4955 [Manager] [Advanced View] Add warning message in preferences for suspension
  clientgui/DlgAdvPreferences.cpp
Labels: C: Manager, P: Minor, T: Enhancement, PR: Reviewed
