Repository BOINC/boinc, pull requests merged in 2022-08, with the labels that each got.

#4843 Vboxwrapper improvements
  samples/vboxwrapper/vbox_common.cpp
  samples/vboxwrapper/vbox_vboxmanage.cpp
Labels: P: Minor, T: Enhancement, C: Apps - VboxWrapper, PR: Reviewed

#4862 Increase msg_buf size
  client/sandbox.cpp
  lib/gui_rpc_client.cpp
Labels: C: Client - Daemon, P: Trivial, T: Enhancement, C: Library, PR: Reviewed

#4859 fix non-BOINC CPU usage limit on Win and Linux
  client/app.cpp
  client/cs_prefs.cpp
  lib/procinfo.cpp
  lib/procinfo.h
  lib/procinfo_unix.cpp
  lib/procinfo_win.cpp
Labels: C: Client - Scheduler Policy, P: Minor, T: Enhancement, PR: Reviewed

#4865 Fix missing '-lz' parameter when building 'stage_file_native' tool
  tools/Makefile.am
Labels: C: Server - Other, P: Major, T: Bugfix

#4864 [client] Replace sprintf with snprintf
  api/boinc_api.cpp
  api/graphics_lib.cpp
  api/mac_icon.cpp
  api/ttfont.cpp
  client/acct_setup.cpp
  client/app_control.cpp
  client/app_graphics.cpp
  client/app_start.cpp
  client/check_security.cpp
  client/client_state.cpp
  client/file_names.cpp
  client/gpu_nvidia.cpp
  client/gpu_opencl.cpp
  client/gui_rpc_server.cpp
  client/gui_rpc_server_ops.cpp
  client/hostinfo_unix.cpp
  client/hostinfo_unix_test.cpp
  client/http_curl.cpp
  client/mac_address.cpp
  client/result.cpp
  client/sim.cpp
  client/sim_util.cpp
  client/switcher.cpp
  lib/coproc.h
  lib/filesys.cpp
  lib/gui_rpc_client_ops.cpp
  lib/mac/mac_backtrace.cpp
  lib/msg_log.cpp
  lib/procinfo_unix.cpp
  lib/remote_submit.cpp
  lib/stackwalker_win.cpp
  lib/str_util.cpp
  lib/unix_util.cpp
Labels: C: Client - Daemon, P: Trivial, T: Enhancement, C: Library, PR: Review required

#4866 [vboxwrapper] Replace sprintf with snprintf
  samples/vboxwrapper/vbox_vboxmanage.cpp
  samples/vboxwrapper/vboxwrapper.cpp
Labels: P: Trivial, T: Enhancement, C: Apps - VboxWrapper, PR: Reviewed

#4868 Fix pragma warning
  clientgui/DlgDiagnosticLogFlags.cpp
  clientgui/DlgHiddenColumns.cpp
Labels: C: Manager, P: Trivial, T: Bugfix, PR: Reviewed

#4867 Fix gcc compiler warnings
  clientgui/MainDocument.cpp
Labels: C: Manager, P: Trivial, T: Enhancement, PR: Reviewed

#4869 Increase buffer size
  clientgui/sg_TaskPanel.cpp
Labels: C: Manager, P: Trivial, T: Enhancement, PR: Reviewed

#4874 Revoke previous change
  client/file_names.cpp
Labels: C: Client - Daemon, P: Major, T: Bugfix, PR: Reviewed

#4875 Mac: compute non-BOINC CPU usage in a more accurate way
  client/app.cpp
  lib/procinfo_mac.cpp
  lib/procinfo_unix.cpp
Labels: C: Client - Daemon, P: Minor, T: Enhancement, PR: Reviewed

#4881 [Windows] Fix Debug build
  win_build/unittests_vs2019.vcxproj
Labels: P: Major, C: Build System, T: Bugfix

#4889 [CI] Add scripts to build libboinc and samples for linux arm64.
  .github/workflows/linux.yml
  .gitignore
  deploy/prepare_deployment.py
  linux/arm64/build_curl_arm64.sh
  linux/arm64/build_example_arm64.sh
  linux/arm64/build_libraries_arm64.sh
  linux/arm64/build_openssl_arm64.sh
Labels: P: Minor, T: Enhancement, C: Apps - Wrapper, C: Build System, PR: Review required

#4891 Mac wrapper: build Universal M1 / x86_64 binary
  samples/wrapper/BuildMacWrapper.sh
Labels: P: Minor, T: Enhancement, C: Build System, PR: Reviewed

#4894 [wrapper] Update version
  configure.ac
  version.h
  win_build/wrapper.vcxproj
  win_build/wrapper_vs2013.vcxproj
  win_build/wrapper_vs2019.vcxproj
Labels: P: Trivial, T: Enhancement, C: Apps - Wrapper

#4901 Fix set-verion.py script to update version.h.in file as well.
  set-version.py
Labels: P: Minor, C: Build System, T: Bugfix

#4905 Fix build of server utils with gcc12.
  sched/db_dump.cpp
  sched/message_handler.cpp
  sched/sched_locality.cpp
  sched/sched_main.cpp
  sched/sched_resend.cpp
  sched/sched_result.cpp
  sched/sched_types.cpp
  sched/sched_util.cpp
  sched/trickle_echo.cpp
  sched/update_stats.cpp
  sched/validator.cpp
Labels: C: Server - Scheduler, P: Minor, T: Bugfix

#4908 Fix a typo
  .github/workflows/linux.yml
Labels: P: Trivial, C: Build System, T: Bugfix, PR: Reviewed

#4907 Client: don't crash when <exclude_gpu> has bad device #
  lib/cc_config.cpp
Labels: C: Client - Daemon, P: Minor, T: Bugfix, PR: Reviewed

#4897 [Manager] Add check if new columns are to be visible by default
  clientgui/BOINCListCtrl.cpp
Labels: C: Manager, P: Minor, T: Enhancement, PR: Reviewed

#4898 Add estimated completion date and completion before deadline columns to Tasks tab
  clientgui/MainDocument.cpp
  clientgui/MainDocument.h
  clientgui/ViewWork.cpp
  clientgui/ViewWork.h
Labels: C: Manager, P: Minor, T: Enhancement, PR: Reviewed
