Repository BOINC/boinc, pull requests merged in 2022-09, with the labels that each got.

#4912 [Manager] Freeze view when modifying columns
  clientgui/BOINCListCtrl.cpp
Labels: C: Manager, P: Minor, T: Bugfix, PR: Reviewed

#4920 Fix null pointer dereferences
  clientgui/ViewWork.cpp
Labels: C: Manager, P: Trivial, T: Bugfix, PR: Reviewed

#4915 client: close file descriptors if Curl initialization fails.
  client/http_curl.cpp
  client/http_curl.h
Labels: C: Client - Daemon, P: Minor, T: Bugfix, PR: Reviewed

#4922 update project list
  win_build/installerv2/redist/all_projects_list.xml
Labels: C: Client - Setup, P: Trivial, T: Enhancement, PR: Reviewed

#4911 Reset progress percentage to last checkpoint when task is initialized
  client/app.cpp
  client/app_start.cpp
Labels: C: Client - Daemon, P: Minor, T: Bugfix, PR: Reviewed

#4924 update project list (for sidock)
  win_build/installerv2/redist/all_projects_list.xml
Labels: C: Client - Build, P: Minor, T: Enhancement, PR: Reviewed

#4871 Add not-in-use computing prefs
  client/app.cpp
  client/app_control.cpp
  client/client_state.cpp
  client/client_state.h
  client/cpu_sched.cpp
  client/cs_benchmark.cpp
  client/cs_prefs.cpp
  client/cs_scheduler.cpp
  client/gui_rpc_server_ops.cpp
  client/rr_sim.cpp
  client/rrsim_test.cpp
  client/sim.cpp
  client/work_fetch.cpp
  clientgui/DlgAdvPreferences.cpp
  clientgui/DlgAdvPreferences.h
  clientgui/DlgAdvPreferencesBase.cpp
  clientgui/DlgAdvPreferencesBase.h
  html/inc/prefs.inc
  html/user/add_venue.php
  lib/prefs.cpp
  lib/prefs.h
Labels: C: Client - Daemon, C: Client - Scheduler Policy, C: Manager, C: Web - Other, T: Enhancement, PR: Reviewed

#4923 scheduler: calculate max disk usage based on user prefs correctly.
  sched/sched_config.cpp
  sched/sched_config.h
  sched/sched_send.cpp
Labels: C: Server - Scheduler, P: Minor, T: Bugfix, PR: Review required

#4943 Add RecyclerView to ProjectControlsListAdapter
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectControlsRecyclerViewAdapter.kt
  android/BOINC/app/src/main/res/layout/dialog_list.xml
  android/BOINC/app/src/main/res/layout/projects_controls_listitem_layout.xml
  android/BOINC/app/src/test/java/edu/berkeley/boinc/adapter/ProjectControlsRecyclerViewAdapterTest.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement, PR: Reviewed, hacktoberfest-accepted
