Repository BOINC/boinc, pull requests merged in 2022-07, with the labels that each got.

#4820 Update translations
  android/BOINC/app/src/main/res/values-de/strings.xml
  html/languages/translations/es.po
  locale/he/BOINC-Client.mo
  locale/he/BOINC-Client.po
  locale/he/BOINC-Manager.mo
  locale/he/BOINC-Manager.po
  locale/ko/BOINC-Client.mo
  locale/ko/BOINC-Client.po
  locale/ko/BOINC-Manager.mo
  locale/ko/BOINC-Manager.po
Labels: C: Client - Documentation, C: Manager - Localization, P: Trivial, T: Enhancement, C: Android - Localization

#4823 [wasm][ci] Fix wasm vcpkg cache
  .github/workflows/wasm.yml
Labels: P: Minor, C: Build System, T: Bugfix, PR: Reviewed

#4822 [osx][ci] Add vcpkg cache
  .github/workflows/osx.yml
Labels: P: Minor, C: Build System, T: Bugfix, PR: Reviewed

#4830 client: fix bug in work fetch logic for case of zero resource share and zero work buf.
  client/work_fetch.cpp
Labels: C: Client - Scheduler Policy, P: Minor, T: Bugfix, PR: Reviewed

#4828 client: if bandwidth limit is removed (up or down), remove limit from active transfers.
  client/file_xfer.cpp
  client/file_xfer.h
Labels: C: Client - Daemon, P: Trivial, T: Bugfix, PR: Reviewed

#4835 [Bugfix] Switch skin when manager is not connected
  clientgui/sg_BoincSimpleFrame.cpp
  win_build/boinc_finalize.targets
Labels: P: Trivial, C: Manager - Simple View, T: Bugfix, PR: Reviewed

#4660 [Manager] Added limits to validating doubles in preferences
  clientgui/DlgAdvPreferences.cpp
  clientgui/sg_DlgPreferences.cpp
Labels: C: Manager, P: Minor, T: Bugfix, PR: Reviewed

#4818 [Linux][Manager] Updating wxwidgets to v3.2.0
  3rdParty/buildLinuxDependencies.sh
Labels: P: Trivial, T: Enhancement, C: Build System, PR: Reviewed

#4840 [vcpkg] Update vcpkg wxwidgets to compile with -DwxBUILD_DEBUG_LEVEL=0
  3rdParty/vcpkg_ports/configs/msbuild/ARM64/vcpkg.json
  3rdParty/vcpkg_ports/configs/msbuild/x64/vcpkg.json
  linux/update_vcpkg_manager.sh
Labels: C: Client - Build, P: Trivial, C: Build System, T: Bugfix, PR: Reviewed

#4838 [CI] Fix deploy log on osx
  .github/workflows/osx.yml
Labels: P: Trivial, C: Build System, T: Bugfix, PR: Reviewed

#4839 [CI] Remove edgarrc/action-7z from ci
  .github/workflows/mingw.yml
  .github/workflows/wasm.yml
Labels: P: Trivial, T: Enhancement, C: Build System, PR: Reviewed

#4837 [OSX] Move get command exit code from eval string.
  mac_build/BuildMacBOINC.sh
Labels: P: Minor, C: Build System, T: Bugfix, PR: Reviewed

#4842 [CI][OSX] Specify to build FreeType library without brotli support
  mac_build/buildfreetype.sh
Labels: P: Trivial, C: Build System, T: Bugfix, PR: Reviewed

#4841 [CI][osx] Add mac osx logs files
  deploy/prepare_deployment.py
Labels: P: Trivial, T: Enhancement, C: Build System, PR: Reviewed

#4844 [OSX][CI] Enable ss_app build on CI.
  mac_build/buildMacBOINC-CI.sh
Labels: P: Minor, C: Build System, T: Bugfix, PR: Reviewed

#4825 [Manager] [Boinccmd] Add estimated time remaining for file transfers
  client/pers_file_xfer.cpp
  client/pers_file_xfer.h
  clientgui/ViewTransfers.cpp
  clientgui/ViewTransfers.h
  lib/gui_rpc_client.h
  lib/gui_rpc_client_ops.cpp
  lib/gui_rpc_client_print.cpp
Labels: C: Manager, P: Minor, T: Enhancement, C: Apps - boinccmd, PR: Reviewed

#4850 fix resource leakage in stage_file in writing to gzip
  tools/stage_file_native.cpp
Labels: C: Server - Other, P: Minor, T: Bugfix, PR: Reviewed

#4855 [CI][Windows][linux] Fix build with wxWidgets 3.2.0
  .github/workflows/linux.yml
  linux/ci_configure_manager.sh
  win_build/boincmgr_vs2019.vcxproj
Labels: P: Blocker, C: Build System, T: Bugfix

#4854 Ensure to compile switcher only for Macintosh
  client/Makefile.am
  deploy/prepare_deployment.py
Labels: P: Minor, C: Build System, T: Bugfix, PR: Reviewed

#4856 [CI] Remove redundant packages from the list
  .github/workflows/linux.yml
Labels: P: Trivial, C: Build System, T: Bugfix, PR: Reviewed

#4857 Remove redundant test in if-statement
  client/http_curl.cpp
Labels: C: Client - Daemon, P: Trivial, T: Enhancement, PR: Reviewed

#4858 Revise column ID order.
  clientgui/ViewTransfers.cpp
Labels: C: Manager, P: Major, T: Bugfix, PR: Reviewed
