Repository BOINC/boinc, pull requests merged in 2022-05, with the labels that each got.

#4740 [l10n] Update localization templates
  locale/templates/BOINC-Client.pot
  locale/templates/BOINC-Manager.pot
  locale/templates/BOINC-Project-Generic.pot
  locale/templates/BOINC-Setup.pot
Labels: C: Manager - Localization, C: Web - Localization, P: Trivial, T: Enhancement

#4739 [Bugfix] Fix condor app to compile with curl vcpkg
  mingw/ci_make_apps.sh
  samples/condor/Makefile
Labels: P: Trivial, C: Build System, T: Bugfix, PR: Reviewed, C: Apps - Samples

#4741 [Windows] windows wxwidgets 3.1.6
  win_build/boincmgr_vs2019.vcxproj
Labels: P: Major, C: Build System, T: Bugfix, PR: Reviewed

#4751 Android openssl atomic bugfix with ndk update
  android/buildAndroidBOINC-CI.sh
  android/build_boinc_arm.sh
  android/build_boinc_arm64.sh
  android/build_boinc_x86.sh
  android/build_boinc_x86_64.sh
  android/ci_build_libs_cmake.sh
  android/ndk_common.sh
  android/vcpkg_config_apps/vcpkg.json
  android/vcpkg_config_client/vcpkg.json
  android/vcpkg_config_libs/vcpkg.json
  lib/vcpkg_config_android/vcpkg.json
Labels: P: Major, C: Android - Build, T: Bugfix, PR: Reviewed

#4731 Add utilities to update version of client, vboxwrapper and wrapper
  set-vboxwrapper-version.py
  set-version
  set-version.py
  set-wrapper-version.py
Labels: P: Trivial, T: Enhancement, C: Build System, PR: Reviewed

#4752 [Android] Update android dependencies
  android/BOINC/.idea/misc.xml
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/AndroidManifest.xml
  android/BOINC/build.gradle
  android/BOINC/gradle/wrapper/gradle-wrapper.properties
Labels: C: Android - Manager, P: Trivial, T: Enhancement, C: Android - Build, PR: Reviewed
