Repository BOINC/boinc, pull requests merged in 2022-03, with the labels that each got.

#4665 [Android] Fix issue with empty log when any flags enabled.
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/MessagesParser.kt
Labels: C: Android - Manager, P: Minor, T: Bugfix, PR: Reviewed

#4669 [Windows] Fix failing Debug build because of the lzma library rename
  win_build/boincmgr_vs2019.vcxproj
Labels: C: Client - Build, P: Major, T: Bugfix

#4672 Update dependencies
  .github/workflows/android.yml
  android/BOINC/.idea/compiler.xml
  android/BOINC/.idea/misc.xml
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/AndroidManifest.xml
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/DeviceStatus.java
  android/BOINC/build.gradle
  android/BOINC/gradle/wrapper/gradle-wrapper.properties
Labels: P: Trivial, T: Enhancement, C: Android - Build, PR: Reviewed

#4673 Mac: Fix screensaver preferences dialog compatibility with MacOS 12 Monterey
  clientscr/Mac_Saver_ModuleView.m
  clientscr/res/BOINCSaver.nib/classes.nib
  clientscr/res/BOINCSaver.nib/designable.nib
  clientscr/res/BOINCSaver.nib/info.nib
  clientscr/res/BOINCSaver.nib/keyedobjects.nib
  clientscr/res/BOINCSaver.xib
  mac_build/boinc.xcodeproj/project.pbxproj
Labels: C: Client - Screen Saver, T: Bugfix, PR: Reviewed

#4664 [Manager][Windows] Make Manager DPI unaware to let wxWidgets and Windows scale GUI elements properly
  clientgui/AccountManagerInfoPage.cpp
  clientgui/AccountManagerProcessingPage.cpp
  clientgui/AccountManagerPropertiesPage.cpp
  clientgui/AdvancedFrame.cpp
  clientgui/BOINCTaskCtrl.cpp
  clientgui/DlgAdvPreferences.cpp
  clientgui/DlgAdvPreferencesBase.cpp
  clientgui/DlgDiagnosticLogFlags.cpp
  clientgui/DlgEventLog.cpp
  clientgui/DlgHiddenColumns.cpp
  clientgui/MainDocument.cpp
  clientgui/MainDocument.h
  clientgui/ProjectInfoPage.cpp
  clientgui/ProjectProcessingPage.cpp
  clientgui/ProjectPropertiesPage.cpp
  clientgui/SkinManager.cpp
  clientgui/TermsOfUsePage.cpp
  clientgui/sg_BoincSimpleFrame.cpp
  clientgui/sg_DlgMessages.cpp
  clientgui/sg_DlgPreferences.cpp
  clientgui/sg_PanelBase.cpp
  clientgui/sg_PanelBase.h
  clientgui/sg_ProjectPanel.cpp
  clientgui/sg_TaskPanel.cpp
Labels: C: Manager, P: Minor, T: Enhancement

#4661 Computing prefs dialog: use %f instead of %g
  clientgui/DlgAdvPreferences.cpp
Labels: C: Manager, P: Minor, T: Bugfix, PR: Reviewed

#4666 Systemd service order
  client/scripts/boinc-client.service.in
Labels: P: Minor, C: Client - Linux, T: Bugfix, PR: Reviewed

#4576 Add pkg-config files
  .gitignore
  api/Makefile.am
  api/libboinc_api.pc.in
  api/libboinc_graphics2.pc.in
  api/libboinc_opencl.pc.in
  configure.ac
  lib/Makefile.am
  lib/libboinc.pc.in
  lib/libboinc_crypt.pc.in
  lib/libboinc_fcgi.pc.in
  zip/Makefile.am
  zip/libboinc_zip.pc.in
Labels: P: Trivial, T: Enhancement, C: Library, PR: Reviewed

#4674 [CI] Clean deploy python script
  deploy/prepare_deployment.py
Labels: P: Trivial, T: Enhancement, C: Build System, PR: Reviewed

#4675 [Windows] Fix detection of Windows product
  client/hostinfo_win.cpp
Labels: P: Minor, T: Enhancement, C: Client - Windows, PR: Review required

#4676 [Windows][linux] Align build versions
  configure.ac
  win_build/example_app_multi_thread_vs2019.vcxproj
  win_build/htmlgfx_vs2019.vcxproj
  win_build/sleeper_vs2019.vcxproj
  win_build/vboxwrapper_vs2019.vcxproj
  win_build/worker_vs2019.vcxproj
  win_build/wrapper_vs2019.vcxproj
  win_build/wrappture_example_vs2019.vcxproj
Labels: P: Trivial, T: Enhancement, C: Build System, PR: Review required

#4658 [vboxwrapper] Get rid of COM implementation in favor of more stable generic implementation
  samples/vboxwrapper/vbox42.tlb
  samples/vboxwrapper/vbox43.tlb
  samples/vboxwrapper/vbox50.tlb
  samples/vboxwrapper/vbox51.tlb
  samples/vboxwrapper/vbox52.tlb
  samples/vboxwrapper/vbox60.tlb
  samples/vboxwrapper/vbox_mscom42.cpp
  samples/vboxwrapper/vbox_mscom42.h
  samples/vboxwrapper/vbox_mscom43.cpp
  samples/vboxwrapper/vbox_mscom43.h
  samples/vboxwrapper/vbox_mscom50.cpp
  samples/vboxwrapper/vbox_mscom50.h
  samples/vboxwrapper/vbox_mscom51.cpp
  samples/vboxwrapper/vbox_mscom51.h
  samples/vboxwrapper/vbox_mscom52.cpp
  samples/vboxwrapper/vbox_mscom52.h
  samples/vboxwrapper/vbox_mscom60.cpp
  samples/vboxwrapper/vbox_mscom60.h
  samples/vboxwrapper/vbox_mscom_impl.cpp
  samples/vboxwrapper/vbox_mscom_impl.h
  samples/vboxwrapper/vbox_vboxmanage.h
  samples/vboxwrapper/vboxwrapper.cpp
  samples/vboxwrapper/vboxwrapper_win.aps
  win_build/vboxwrapper.vcxproj
  win_build/vboxwrapper_vs2013.vcxproj
  win_build/vboxwrapper_vs2019.vcxproj
Labels: P: Minor, T: Enhancement, C: Apps - VboxWrapper, PR: Review required

#4679 [Windows Installer] Remove dlls from the installer.
  win_build/installerv2/BOINCx64.ism
  win_build/installerv2/BOINCx64_vbox.ism
Labels: P: Minor, T: Enhancement, C: Installer - Windows, PR: Review required

#4680 [CI] Simplify AWS S3 usage for vcpkg cache
  .github/workflows/android.yml
  .github/workflows/flutter-ubuntu.yml
  .github/workflows/flutter-windows.yml
  .github/workflows/linux.yml
  .github/workflows/maintenance.yml
  .github/workflows/mingw.yml
  .github/workflows/windows.yml
  android/buildAndroidBOINC-CI.sh
  linux/update_vcpkg_apps.sh
  linux/update_vcpkg_client.sh
  linux/update_vcpkg_libs.sh
  mingw/update_vcpkg.sh
  win_build/vcpkg_3rdparty_dependencies_vs2019.vcxproj
Labels: P: Trivial, T: Enhancement, C: Build System

#4683 [CI] Remove unused aws s3 custom deploy scripts
  deploy/cleanup_vcpkg_archive_cache.py
  deploy/manage_vcpkg_archive_cache.py
  deploy/s3.py
Labels: P: Trivial, T: Enhancement, C: Build System

#4684 Fix bug in new version check
  client/current_version.cpp
  client/gui_rpc_server_ops.cpp
Labels: C: Client - Daemon, P: Minor, T: Bugfix, PR: Review required
