Repository BOINC/boinc, pull requests merged in 2022-02, with the labels that each got.

#4610 [Android][Gui] Display disk usage on project tab
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
  android/BOINC/app/src/main/res/layout/projects_layout_listitem.xml
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Manager, P: Minor, T: Enhancement, PR: Waiting for author response

#4622 [CI] Add *.yml files to the hash while resolving cache, remove restore-key
  .github/workflows/android.yml
  .github/workflows/coverity.yml
  .github/workflows/flutter-macos.yml
  .github/workflows/flutter-ubuntu.yml
  .github/workflows/flutter-windows.yml
  .github/workflows/linux.yml
  .github/workflows/osx.yml
  .github/workflows/windows.yml
Labels: P: Major, C: Build System, T: Bugfix, PR: Review required

#4589 Add option to hide menu bar icon (macOS-only)
  clientgui/BOINCGUIApp.cpp
  clientgui/BOINCGUIApp.h
  clientgui/BOINCTaskBar.cpp
  clientgui/DlgOptions.cpp
  clientgui/DlgOptions.h
Labels: C: Manager, P: Minor, T: Enhancement, PR: Review required

#4636 [Windows][CI] Upload PDB files
  .github/workflows/windows.yml
Labels: P: Minor, T: Enhancement, C: Build System, PR: Review required

#4639 set vboxwrapper version
  version.h
Labels: P: Trivial, T: Enhancement, C: Apps - VboxWrapper, PR: Reviewed

#4603 [vboxwrapper]Enable vboxwrapper to use multiattach mode disk images
  samples/vboxwrapper/vbox_vboxmanage.cpp
  samples/vboxwrapper/vboxjob.cpp
  samples/vboxwrapper/vboxjob.h
Labels: P: Minor, T: Enhancement, C: Apps - VboxWrapper, PR: Review required

#4630 Configure more vram to avoid VMs get stuck during boot
  samples/vboxwrapper/vbox_vboxmanage.cpp
  samples/vboxwrapper/vboxjob.cpp
  samples/vboxwrapper/vboxjob.h
Labels: P: Major, T: Enhancement, C: Apps - VboxWrapper, PR: Reviewed

#4631 forward rtc setting from host to guest
  samples/vboxwrapper/vbox_vboxmanage.cpp
  samples/vboxwrapper/vbox_vboxmanage.h
Labels: P: Minor, T: Enhancement, C: Apps - VboxWrapper, PR: Reviewed

#4632 Make sata/IntelAHCI the default virtual disk controller
  samples/vboxwrapper/vboxjob.cpp
Labels: T: Enhancement, C: Apps - VboxWrapper, PR: Reviewed

#4646 Change error message
  samples/vboxwrapper/vbox_common.cpp
Labels: P: Trivial, T: Enhancement, C: Apps - VboxWrapper, PR: Reviewed

#4653 [CI][Windows] Build using 'windows-2019' image on CI
  .github/workflows/flutter-windows.yml
  .github/workflows/windows.yml
Labels: P: Trivial, C: Build System, T: Bugfix
