Repository BOINC/boinc, pull requests merged in 2022-10, with the labels that each got.

#4938 Client: Update cpu/gpu resources when app_config is re-read
  client/client_state.h
  client/cs_statefile.cpp
  client/gui_rpc_server_ops.cpp
  client/result.cpp
  client/result.h
Labels: C: Client - Daemon, P: Minor, T: Enhancement, PR: Reviewed

#4944 Convert ProjectsListAdapter to Kotlin
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/adapter/ProjectsListAdapter.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/adapter/ProjectsListAdapterTest.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement, PR: Reviewed, hacktoberfest-accepted

#4942 Remove unused variables from #4897 and #4912
  clientgui/BOINCListCtrl.cpp
Labels: C: Manager, P: Trivial, T: Enhancement, PR: Reviewed

#4947 [Android] Fix deprecations #4946
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/AndroidManifest.xml
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectDetailsFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/ProjectsFragment.kt
  android/BOINC/build.gradle
  android/BOINC/gradle/wrapper/gradle-wrapper.properties
Labels: C: Android - Manager, P: Trivial, T: Enhancement, C: Android - Build, PR: Reviewed, hacktoberfest-accepted

#4949 Convert RpcClient to Kotlin
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.java
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/RpcClient.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/Logging.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/rpc/RpcClientTest.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement, PR: Reviewed, hacktoberfest-accepted

#4941 [Manager] Convert ProcessorTab in Preferences dialog from wxPanel to wxScrolledWindow to show all content on small screens (e.g. 1024x768).
  clientgui/DlgAdvPreferences.cpp
  clientgui/DlgAdvPreferencesBase.cpp
  clientgui/DlgAdvPreferencesBase.h
Labels: C: Manager, P: Minor, T: Bugfix, PR: Reviewed

#4954 [Android] Remove unused piece of code
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
Labels: C: Android - Manager, P: Trivial, T: Bugfix

#4959 [CI] Fix Manager build using vcpkg for linux.
  clientgui/Makefile.am
  linux/ci_configure_manager.sh
  linux/update_vcpkg_manager.sh
Labels: P: Minor, C: Build System, T: Bugfix

#4961 server status page: 'last 100' -> 'recent'
  html/user/server_status.php
Labels: C: Server - Other, P: Trivial, T: Bugfix, PR: Review required

#4958 Fix most of the deprecations introduced by API level 33
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SplashActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/BatchProcessingActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/ProjectInfoFragment.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/Project.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectRelatedClasses.kt
Labels: C: Android - Manager, P: Minor, P: Trivial, T: Enhancement, PR: Reviewed, hacktoberfest-accepted

#4972 [CI] Update actions to fix deprecations
  .github/workflows/android.yml
  .github/workflows/coverity.yml
  .github/workflows/flutter-macos.yml
  .github/workflows/flutter-ubuntu.yml
  .github/workflows/flutter-windows.yml
  .github/workflows/linux.yml
  .github/workflows/mingw.yml
  .github/workflows/osx.yml
  .github/workflows/source-code-check.yml
  .github/workflows/wasm.yml
  .github/workflows/windows.yml
  3rdParty/vcpkg_ports/configs/msbuild/ARM64/vcpkg.json
  3rdParty/vcpkg_ports/configs/msbuild/x64/vcpkg.json
  mac_build/buildfreetype.sh
Labels: P: Minor, T: Enhancement, C: Build System, PR: Reviewed

#4975 4946 Fix ClientNotificationTest and readSerialization() deprecations
  android/BOINC/app/src/main/java/edu/berkeley/boinc/rpc/ProjectRelatedClasses.kt
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/ClientNotificationTest.kt
  android/BOINC/build.gradle
Labels: C: Android - Manager, P: Minor, T: Enhancement, C: Android - Build, PR: Reviewed, hacktoberfest-accepted

#4978 [Manager] Revise link from http to https under Exclusive Applications
  clientgui/DlgExclusiveApps.cpp
Labels: C: Manager, P: Trivial, T: Enhancement, PR: Reviewed

#4980 [Android] Suppress immutable missing warning
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/NoticeNotification.kt
Labels: C: Android - Manager, P: Trivial, T: Enhancement

#4982 [CI][Windows] Always generate full PDBs
  .github/workflows/windows.yml
  win_build/boinc.props
Labels: P: Major, C: Build System, T: Bugfix

#4985 Moved the About dialog to an activity
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/AndroidManifest.xml
  android/BOINC/app/src/main/java/edu/berkeley/boinc/BOINCActivity.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/attach/AboutActivity.kt
  android/BOINC/app/src/main/res/layout/activity_about.xml
  android/BOINC/app/src/main/res/layout/dialog_about.xml
  android/BOINC/app/src/main/res/values-ar/strings.xml
  android/BOINC/app/src/main/res/values-az/strings.xml
  android/BOINC/app/src/main/res/values-b+sr+Latn/strings.xml
  android/BOINC/app/src/main/res/values-bg/strings.xml
  android/BOINC/app/src/main/res/values-ca/strings.xml
  android/BOINC/app/src/main/res/values-cs/strings.xml
  android/BOINC/app/src/main/res/values-da/strings.xml
  android/BOINC/app/src/main/res/values-de/strings.xml
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values-es/strings.xml
  android/BOINC/app/src/main/res/values-eu/strings.xml
  android/BOINC/app/src/main/res/values-fi/strings.xml
  android/BOINC/app/src/main/res/values-fr/strings.xml
  android/BOINC/app/src/main/res/values-he/strings.xml
  android/BOINC/app/src/main/res/values-hu/strings.xml
  android/BOINC/app/src/main/res/values-it-rIT/strings.xml
  android/BOINC/app/src/main/res/values-iw/strings.xml
  android/BOINC/app/src/main/res/values-ja/strings.xml
  android/BOINC/app/src/main/res/values-ka/strings.xml
  android/BOINC/app/src/main/res/values-ko/strings.xml
  android/BOINC/app/src/main/res/values-lt/strings.xml
  android/BOINC/app/src/main/res/values-lv/strings.xml
  android/BOINC/app/src/main/res/values-nb/strings.xml
  android/BOINC/app/src/main/res/values-nl/strings.xml
  android/BOINC/app/src/main/res/values-pl/strings.xml
  android/BOINC/app/src/main/res/values-pt-rBR/strings.xml
  android/BOINC/app/src/main/res/values-pt-rPT/strings.xml
  android/BOINC/app/src/main/res/values-ro/strings.xml
  android/BOINC/app/src/main/res/values-ru/strings.xml
  android/BOINC/app/src/main/res/values-sk/strings.xml
  android/BOINC/app/src/main/res/values-sv/strings.xml
  android/BOINC/app/src/main/res/values-th/strings.xml
  android/BOINC/app/src/main/res/values-tr/strings.xml
  android/BOINC/app/src/main/res/values-uk/strings.xml
  android/BOINC/app/src/main/res/values-vi/strings.xml
  android/BOINC/app/src/main/res/values-zh-rCN/strings.xml
  android/BOINC/app/src/main/res/values-zh-rTW/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
  android/BOINC/app/src/test/java/edu/berkeley/boinc/adapter/NavDrawerListAdapterTest.kt
Labels: C: Android - Manager, P: Minor, T: Enhancement, PR: Reviewed, hacktoberfest-accepted
