Repository BOINC/boinc, pull requests merged in 2023-09, with the labels that each got.

#5363 Use 'enum' instead of int/#define for PREEMPT_TYPE and SCHEDULER_STATE.
  client/app.cpp
  client/app.h
  client/cpu_sched.cpp
  lib/common_defs.h
  lib/diagnostics.cpp
  lib/gui_rpc_client.h
  lib/gui_rpc_client_ops.cpp
  py/Boinc/boinc_db.py
  py/Boinc/setup_project.py
  py/db_def_to_py
Labels: C: Client - Daemon, P: Trivial, T: Enhancement, C: Library, PR: Review required

#5365 client: add app testing feature
  client/Makefile.am
  client/Makefile.linux
  client/app_control.cpp
  client/app_start.cpp
  client/app_test.cpp
  client/client_state.cpp
  client/client_state.h
  client/cs_cmdline.cpp
  client/file_names.cpp
  client/project.cpp
  client/project.h
  client/work_fetch.cpp
  lib/msg_queue.cpp
  mac_build/boinc.xcodeproj/project.pbxproj
  win_build/boinc_cli.vcxproj
Labels: C: Client - Daemon, P: Major, T: Enhancement, PR: Reviewed

#5370 Mac: Fix build break introduced by commit 8ea2aba1d8
  mac_build/boinc.xcodeproj/project.pbxproj
Labels: P: Major, C: Build System, T: Bugfix, PR: Reviewed

#5371 Mac: Use higher resolution menubar icon.
  clientgui/BOINCTaskBar.cpp
Labels: P: Trivial, T: Bugfix, PR: Reviewed, C: Manager - Macintosh

#5377 Web: when delete a user, delete team_admin entries for that user.
  html/inc/delete_account.inc
  html/inc/forum_email.inc
  html/inc/team.inc
  html/user/team_admins.php
Labels: C: Server - Other, C: Web - Forums, P: Minor, T: Enhancement, PR: Reviewed

#5381 [CI] Fix failing linux and mingw vcpkg builds due to the change in the brotli library name (now without '-static' suffix)
  samples/example_app/Makefile
  win_build/boinc_ss.vcxproj
  win_build/slide_show.vcxproj
  win_build/uc2_graphics.vcxproj
Labels: P: Critical, C: Build System, T: Bugfix

#5373 Correctly detect CPU cores when cpuset cgroup is used
  client/hostinfo_unix.cpp
Labels: C: Client - Daemon, P: Minor, T: Bugfix, PR: Review required
