Repository BOINC/boinc, pull requests merged in 2023-10, with the labels that each got.

#5385 Client: add sporadic app feature
  android/buildAndroidBOINC-CI.sh
  api/boinc_api.cpp
  api/boinc_api.h
  client/Makefile.am
  client/Makefile.linux
  client/app.cpp
  client/app.h
  client/app_control.cpp
  client/app_start.cpp
  client/app_test.cpp
  client/client_state.cpp
  client/client_state.h
  client/client_types.cpp
  client/client_types.h
  client/coproc_sched.cpp
  client/coproc_sched.h
  client/cpu_sched.cpp
  client/cs_scheduler.cpp
  client/cs_sporadic.cpp
  client/log_flags.cpp
  client/project.cpp
  client/project.h
  client/result.cpp
  client/result.h
  client/rr_sim.cpp
  client/scheduler_op.cpp
  deploy/prepare_deployment.py
  lib/Makefile.linux
  lib/app_ipc.h
  lib/cc_config.cpp
  lib/cc_config.h
  lib/common_defs.h
  mac_build/boinc.xcodeproj/project.pbxproj
  samples/Makefile.am
  samples/sporadic/Makefile
  samples/sporadic/sporadic.cpp
  win_build/boinc.sln
  win_build/boinc_cli.vcxproj
  win_build/sim.vcxproj
  win_build/sporadic.vcxproj
Labels: C: Client - Daemon, P: Major, T: Enhancement, C: Library, PR: Review required, C: Apps - Samples

#5393 Change doc URLs from trac wiki to github wiki in source code and project files
  android/build_androidtc_armv6.sh
  android/build_boinc_arm.sh
  android/build_boinc_arm64.sh
  android/build_boinc_armv6.sh
  android/build_boinc_x86.sh
  android/build_boinc_x86_64.sh
  android/build_component.sh
  android/build_libraries_arm.sh
  android/build_libraries_arm64.sh
  android/build_libraries_armv6.sh
  android/build_libraries_x86.sh
  android/build_libraries_x86_64.sh
  android/ci_build_vcpkg_apps.sh
  android/ci_build_vcpkg_client.sh
  android/ci_build_vcpkg_libraries.sh
  android/ci_build_vcpkg_manager.sh
  api/libboinc_api.pc.in
  api/libboinc_graphics2.pc.in
  api/libboinc_opencl.pc.in
  lib/submit_api.py
  mac_build/BuildMacBOINC.sh
  mac_installer/CE-ReadMe.rtf
  mac_installer/GR-ReadMe.rtf
  mac_installer/PTP-ReadMe.rtf
  mac_installer/wcgrid-ReadMe.rtf
  samples/nvcuda/cuda.cpp
  samples/nvcuda/cuda.h
  samples/nvcuda/cuda_config.h
  samples/openclapp/openclapp.cpp
  samples/vboxmonitor/vboxmonitor.cpp
  samples/vboxwrapper/vboxjob.h
  samples/vboxwrapper/vboxwrapper.cpp
  samples/wrapper/wrapper.cpp
  sched/assimilator.cpp
  sched/makefile_validator_test
  tools/boinc_submit
  tools/manage_privileges
  tools/update_versions
  tools/update_versions_v6
Labels: C: Client - Documentation, C: Server - Documentation, P: Trivial, T: Informational, PR: Reviewed

#5390 Add Biometric authentication for GUI Authentication Key
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/java/edu/berkeley/boinc/SettingsFragment.kt
  android/BOINC/app/src/main/res/layout/authenticationkey_preference_dialog.xml
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
  android/BOINC/app/src/main/res/xml/root_preferences.xml
Labels: C: Android - Manager, P: Minor, PR: Fix required, hacktoberfest-accepted

#5397 complete #5123: client and server: increase p_features size from 1024 to 8192
  db/boinc_db_types.h
  sched/plan_class_spec.cpp
Labels: C: Server - Other, P: Minor, T: Bugfix, PR: Reviewed

#5400 Improve text related to weak auth (account key)
  db/boinc_db_types.h
  html/inc/user.inc
  html/user/edit_email_form.php
  html/user/edit_passwd_form.php
  html/user/weak_auth.php
Labels: C: Web - Project, P: Trivial, T: Enhancement, PR: Reviewed

#5406 wxWidgets 3.2 now depends on libxkbcommon
  configure.ac
Labels: P: Major, C: Build System, T: Bugfix

#5408 make_project: fix bug in creation of schedulers.txt
  py/Boinc/setup_project.py
Labels: C: Server - Setup, P: Minor, T: Bugfix, PR: Reviewed

#5410 Make wrappers work with sporadic apps
  api/boinc_api.cpp
  api/boinc_api.h
  client/app_control.cpp
  client/app_test.cpp
  client/cpu_sched.cpp
  client/cs_cmdline.cpp
  client/cs_sporadic.cpp
  samples/sporadic/sporadic.cpp
  samples/vboxwrapper/vboxwrapper.cpp
  samples/wrapper/wrapper.cpp
Labels: C: BOINC - API, C: Client - Daemon, P: Major, T: Enhancement, C: Apps - Wrapper, PR: Review required

#5411 Mac screensaver: update for MacOS 14.0 Sonoma
  clientscr/Mac_Saver_Module.h
  clientscr/Mac_Saver_ModuleView.h
  clientscr/Mac_Saver_ModuleView.m
  clientscr/gfx_cleanup.mm
  clientscr/gfx_switcher.cpp
  clientscr/mac_saver_module.cpp
  clientscr/res/mac_restrict_access.sb
  mac_installer/PostInstall.cpp
Labels: C: Client - Screen Saver, P: Major, T: Bugfix, PR: Reviewed

#5413 web: forum rules tweak
  html/inc/forum.inc
Labels: C: Web - Forums, P: Trivial, T: Enhancement, PR: Reviewed
