Repository BOINC/boinc, pull requests merged in 2023-03, with the labels that each got.

#5123 client and server: increase p_features size from 1024 to 8192.
  client/hostinfo_unix.cpp
  db/boinc_db_types.h
  lib/hostinfo.h
  sched/plan_class_spec.cpp
Labels: C: Client - Daemon, C: Server - Other, P: Minor, T: Bugfix, PR: Reviewed

#5125 Mac Installer & Uninstaller: Fix display of name of helper apps
  lib/mac/mac_util.mm
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_build/buildMacBOINC-CI.sh
  mac_installer/AddRemoveUser.cpp
  mac_installer/PostInstall.cpp
  mac_installer/finish_install.cpp
  mac_installer/release_boinc.sh
  mac_installer/release_brand.sh
  mac_installer/uninstall.cpp
Labels: P: Minor, C: Installer - Macintosh, T: Bugfix, PR: Reviewed

#5136 [OSX][CI] Refactor CI to decrease cache build time and avoid unnecessary cache invalidation
  .github/workflows/osx.yml
Labels: P: Trivial, T: Enhancement, C: Build System

#5135 boinc_cmd: add --get_task_summary command.
  client/boinc_cmd.cpp
Labels: P: Trivial, T: Enhancement, C: Apps - boinccmd, PR: Reviewed

#5142 Mac CI: Simplify and generalize logic in the Mac CI build script
  mac_build/BuildMacBOINC.sh
  mac_build/buildMacBOINC-CI.sh
Labels: P: Minor, T: Enhancement, C: Build System, PR: Reviewed

#5144 client, Win: add a cc_config.xml option <no_rdp_check>.
  client/cpu_sched.cpp
  client/log_flags.cpp
  client/sandbox.cpp
  lib/cc_config.cpp
  lib/cc_config.h
Labels: C: Client - Scheduler Policy, P: Minor, T: Enhancement, PR: Reviewed

#5127 [ci] Fix: vcpkg will clone from $VCPKG_LINK
  android/bootstrap_vcpkg_cmake.sh
  wasm/update_emsdk_vcpkg.sh
Labels: P: Trivial, C: Build System, T: Bugfix, PR: Reviewed

#5149 Web: remove XSS vulnerability.
  html/inc/util.inc
  html/user/team_members.php
  html/user/top_hosts.php
  html/user/top_teams.php
  html/user/top_users.php
Labels: C: Web - Project, P: Critical, T: Bugfix, PR: Review required

#5150 Update Transifex config to the latest version
  .tx/config
Labels: P: Trivial, T: Enhancement, C: Build System

#5153 fix potential bug in building process tree on Win
  lib/procinfo.cpp
  lib/procinfo.h
  lib/procinfo_win.cpp
Labels: C: Client - Daemon, P: Minor, T: Bugfix, PR: Reviewed

#5156 [CI][Android] Deprecated android native in ci
  .github/workflows/android.yml
  android/buildAndroidBOINC-CI.sh
  android/build_apps.sh
  android/build_boinc_arm.sh
  android/build_boinc_arm64.sh
  android/build_boinc_armv6.sh
  android/build_boinc_x86.sh
  android/build_boinc_x86_64.sh
  android/build_client.sh
  android/build_component.sh
  android/build_curl_arm.sh
  android/build_curl_arm64.sh
  android/build_curl_armv6.sh
  android/build_curl_x86.sh
  android/build_curl_x86_64.sh
  android/build_example_arm.sh
  android/build_example_arm64.sh
  android/build_example_armv6.sh
  android/build_example_x86.sh
  android/build_example_x86_64.sh
  android/build_libraries_arm.sh
  android/build_libraries_arm64.sh
  android/build_libraries_armv6.sh
  android/build_libraries_x86.sh
  android/build_libraries_x86_64.sh
  android/build_openssl_arm.sh
  android/build_openssl_arm64.sh
  android/build_openssl_armv6.sh
  android/build_openssl_x86.sh
  android/build_openssl_x86_64.sh
  android/ci_build_apps.sh
  android/ci_build_client.sh
  android/ci_build_libraries.sh
  android/ci_build_manager.sh
  android/ci_build_vcpkg_apps.sh
  android/ci_build_vcpkg_client.sh
  android/ci_build_vcpkg_libraries.sh
Labels: P: Trivial, T: Enhancement, C: Android - Build, PR: Reviewed

#5157 [Android] Remove hard coded Android manifest string
  android/BOINC/app/build.gradle
Labels: P: Trivial, C: Android - Build, T: Bugfix, PR: Reviewed

#5158 [CI][Windows] Add vcpkg link also for windows
  3rdParty/vcpkg_ports/vcpkg_link.bat
  3rdParty/vcpkg_ports/vcpkg_link.sh
  win_build/vcpkg_3rdparty_dependencies.vcxproj
  windows/bootstrap_vcpkg_cmake.bat
Labels: P: Trivial, T: Enhancement, C: Build System, PR: Reviewed

#5160 web: fix problems with download page on project sites
  html/inc/util.inc
  html/user/download_software.php
Labels: C: Web - Project, P: Major, T: Bugfix, PR: Reviewed

#5162 [Windows] Fix build error after wxWidgets update
  win_build/boincmgr.vcxproj
Labels: P: Blocker, C: Build System, T: Bugfix

#5163 Fix some compile warnings on Win (VS 2022).
  api/boinc_api.cpp
  client/client_state.cpp
  client/client_types.cpp
  client/cs_notice.cpp
  client/hostinfo_win.cpp
  client/project.h
  client/sim.cpp
  lib/boinc_stdio.h
  lib/boinc_win.h
  lib/str_replace.h
  tools/backend_lib.cpp
  tools/create_work.cpp
Labels: C: BOINC - API, P: Trivial, T: Enhancement, C: Library, C: Client - Windows, PR: Reviewed

#5169 client, Win: fix typo in writing cc_config.xml "no_rdp_check" entry
  lib/cc_config.cpp
Labels: C: Client - Daemon, P: Major, T: Bugfix, PR: Reviewed

#5167 client: improve file checking on task start
  client/app_start.cpp
  client/client_state.cpp
  client/client_state.h
  client/client_types.h
  client/cs_apps.cpp
  client/cs_files.cpp
  client/project.cpp
  client/project.h
  client/scheduler_op.cpp
  lib/boinc_stdio.h
  lib/error_numbers.h
  lib/str_util.cpp
Labels: C: Client - Daemon, P: Minor, T: Enhancement, PR: Reviewed

#5170 [Windows Installer] Prevent handle leaks
  clientsetup/win/launcher.cpp
Labels: P: Minor, C: Installer - Windows, T: Bugfix, PR: Reviewed

#5171 [Wrapper] Add logging of child process PID, plus minor fixes for Windows
  samples/wrapper/wrapper.cpp
Labels: P: Trivial, C: Apps - Wrapper, T: Bugfix, PR: Reviewed

#5172 client: print log message (conditioned on log_flags.task) when an exclusive app or exclusive GPU app starts or stops.
  client/app.cpp
Labels: C: Client - Logging, P: Trivial, T: Enhancement, PR: Reviewed

#5173 Client, Win: include kernel time in non-BOINC CPU usage
  lib/procinfo.cpp
  lib/procinfo_win.cpp
Labels: P: Minor, C: Client - Windows, T: Bugfix, PR: Reviewed

#5175 client: when using a dynamic AM and checking for idle devices, include CPU
  client/acct_mgr.cpp
  client/rr_sim.cpp
  client/rr_sim.h
Labels: C: Client - Daemon, P: Major, T: Bugfix, PR: Reviewed

#5174 [Manager][Windows] Prevent close request on minimized window exiting the app
  clientgui/BOINCBaseFrame.cpp
Labels: C: Manager, P: Minor, T: Bugfix, PR: Reviewed
