Repository BOINC/boinc, pull requests merged in 2023-08, with the labels that each got.

#5322 Fix Mac crash bug introduced by commit e0ffbf106d
  clientgui/BOINCGUIApp.cpp
  clientgui/DlgEventLog.cpp
  clientgui/DlgOptions.cpp
Labels: P: Critical, T: Bugfix, PR: Reviewed, C: Manager - Macintosh

#5323 Scheduler: add <min_libc_version> option to plan_class_spec.xml
  sched/plan_class_spec.cpp
  sched/plan_class_spec.h
Labels: C: Server - Scheduler, P: Minor, T: Enhancement, PR: Reviewed

#5326 [Android][ci] Separate Android client build from the Android Manager build to speed-up CI
  .github/workflows/android.yml
  android/build_component.sh
  android/ci_build_vcpkg_client.sh
  android/ci_build_vcpkg_manager.sh
Labels: P: Trivial, T: Enhancement, C: Build System

#5327 Update translations
  android/BOINC/app/src/main/res/values-vi/strings.xml
  locale/it_IT/BOINC-Drupal.po
  locale/ja/BOINC-Manager.mo
  locale/ja/BOINC-Manager.po
  locale/lv/BOINC-Manager.mo
  locale/lv/BOINC-Manager.po
Labels: C: Manager - Localization, P: Trivial, T: Enhancement, C: Android - Localization

#5333 [Android] Show Battery Optimization settings when:
  android/BOINC/app/src/main/AndroidManifest.xml
  android/BOINC/app/src/main/java/edu/berkeley/boinc/TasksFragment.kt
Labels: C: Android - Manager, P: Minor, T: Enhancement

#5337 Mac: Fix Automatic language detection
  clientgui/BOINCGUIApp.cpp
Labels: P: Minor, T: Bugfix, PR: Reviewed, C: Manager - Macintosh

#5338 [Android] Revert back to target API 21
  android/BOINC/.idea/misc.xml
  android/BOINC/app/build.gradle
  android/BOINC/app/src/main/aidl/edu/berkeley/boinc/client/IMonitor.aidl
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/AppPreferences.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/ClientNotification.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/Monitor.kt
  android/BOINC/app/src/main/java/edu/berkeley/boinc/client/MonitorAsync.kt
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
  android/BOINC/app/src/main/res/xml/root_preferences.xml
  android/BOINC/app/src/test/java/edu/berkeley/boinc/client/ClientNotificationTest.kt
Labels: C: Android - Manager, P: Major, T: Bugfix

#5340 [Android][CI] Split Android Manager builds to decrease total build time.
  .github/workflows/android.yml
  android/ci_build_vcpkg_manager.sh
Labels: P: Trivial, T: Enhancement, C: Android - Build

#5342 server (all components that use DB): don't use MYSQL_OPT_RECONNECT if deprecated
  db/db_base.cpp
Labels: C: Server - Setup, P: Major, T: Enhancement, PR: Reviewed

#5344 [Android] Increase Target SDK Version API to 28.
  android/BOINC/app/build.gradle
Labels: P: Major, C: Android - Build, T: Bugfix

#5345 [Android] Fix GPU detection
  client/gpu_opencl.cpp
  lib/cl_boinc.h
  lib/opencl_boinc.h
Labels: P: Major, C: Client - Android, T: Bugfix, PR: Review required
