Repository BOINC/boinc, pull requests merged in 2023-04, with the labels that each got.

#5178 [Manager] Sort requests to suspend/resume/abort multiple tasks
  clientgui/MainDocument.cpp
  clientgui/MainDocument.h
  clientgui/ViewWork.cpp
  lib/gui_rpc_client.h
Labels: C: Manager, P: Minor, T: Bugfix, PR: Reviewed

#5181 [Bugfix][cmake] Change to DVCPKG_INSTALLED_DIR in cmake builds
  android/ci_build_libs_cmake.sh
  linux/ci_configure_libs_cmake.sh
  mingw/ci_configure_libs_cmake.sh
  osx/ci_build_libs_cmake.sh
  windows/ci_build_libs_cmake.bat
Labels: P: Trivial, T: Enhancement, C: Build System, PR: Reviewed

#5182 Mac: upgrade tp wxWidgets 3.1.6
  clientgui/BOINCTaskBar.cpp
  clientgui/BOINCTaskBar.h
  mac_build/Mac_SA_Secure.sh
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_build/buildWxMac.sh
  mac_build/buildc-ares.sh
  mac_build/buildcurl.sh
  mac_build/buildopenssl.sh
  mac_build/dependencyNames.sh
  mac_installer/uninstall.cpp
Labels: P: Minor, T: Enhancement, C: Build System, PR: Reviewed

#5188 client: write GPU detection warnings to stderr
  client/gpu_amd.cpp
  client/gpu_detect.cpp
  client/gpu_detect.h
  client/gpu_nvidia.cpp
  client/gpu_opencl.cpp
  client/main.cpp
Labels: C: Client - Daemon, P: Minor, T: Enhancement, PR: Reviewed

#5186 [Client] Correct limit check in throttler thread
  client/app.cpp
Labels: C: Client - Daemon, P: Major, T: Bugfix, PR: Reviewed

#5190 client: don't hang if detection processes hang
  client/app.cpp
  client/app_control.cpp
  client/auto_update.cpp
  client/client_state.cpp
  client/client_state.h
  client/cs_platforms.cpp
  client/gpu_detect.cpp
  client/gui_rpc_server_ops.cpp
  client/main.cpp
  clientgui/AdvancedFrame.cpp
  clientgui/BOINCClientManager.cpp
  clientgui/BOINCGUIApp.cpp
  clientgui/MainDocument.cpp
  clientscr/screensaver.cpp
  clientsetup/win/CACreateProjectInitFile.cpp
  clientsetup/win/stdafx.h
  clientsetup/win/utils.cpp
  lib/filesys.cpp
  lib/filesys.h
  lib/parse.h
  lib/proc_control.cpp
  lib/proc_control.h
  lib/str_util.h
  lib/util.cpp
  lib/util.h
  lib/win_util.cpp
  mac_installer/PostInstall.cpp
  samples/vboxwrapper/vbox_vboxmanage.cpp
  sched/sched_types.cpp
Labels: C: Client - Daemon, P: Minor, T: Enhancement, PR: Reviewed

#5179 client: don't change user CPID if detach from oldest project
  client/acct_mgr.cpp
  client/acct_setup.cpp
  client/boinc_cmd.cpp
  client/client_state.cpp
  client/client_state.h
  client/client_types.cpp
  client/client_types.h
  client/cs_account.cpp
  client/cs_cmdline.cpp
  client/cs_scheduler.cpp
  client/cs_statefile.cpp
  client/gui_rpc_server_ops.cpp
  clientgui/AsyncRPC.cpp
  clientgui/AsyncRPC.h
  clientgui/ProjectProcessingPage.cpp
  lib/gui_rpc_client.h
  lib/gui_rpc_client_ops.cpp
Labels: C: Client - Daemon, P: Minor, T: Enhancement, PR: Reviewed

#5196 Mac CI: Verify cached library versions match those in Xcode project
  mac_build/boinc.xcodeproj/project.pbxproj
  mac_build/buildMacBOINC-CI.sh
  mac_build/checkDependentLibraryVersions.sh
  mac_build/dependencyNames.sh
Labels: P: Minor, T: Enhancement, C: Build System, PR: Reviewed

#5198 [Linux][vcpkg] Detect vcpkg freeglut for linux
  3rdParty/vcpkg_ports/configs/manager/linux/vcpkg.json
  configure.ac
  linux/ci_configure_apps.sh
  linux/ci_configure_manager.sh
Labels: P: Trivial, C: Build System, T: Bugfix, PR: Reviewed

#5191 [Lib] Improve Windows diagnostics
  lib/diagnostics.cpp
  lib/diagnostics.h
  lib/diagnostics_win.cpp
  lib/diagnostics_win.h
  lib/stackwalker_imports.h
  lib/stackwalker_win.cpp
Labels: P: Trivial, T: Enhancement, C: Library, PR: Reviewed

#5201 [Lib][Windows] Correct flags for `FormatMessage()`
  lib/win_util.cpp
Labels: P: Trivial, C: Library, T: Bugfix, PR: Reviewed

#5206 web: when update venue, call it a "computer" rather than a "host".
  html/user/host_venue_action.php
Labels: C: Web - Project, P: Trivial, T: Enhancement, PR: Reviewed

#5207 Work around uselocale() apparently broken in MacOS 13.3.1
  lib/gui_rpc_client.h
Labels: C: Manager, P: Critical, T: Bugfix, PR: Reviewed

#5211 Safer work around uselocale() apparently broken in MacOS 13.3.1
  lib/gui_rpc_client.h
  lib/parse.cpp
  lib/parse.h
Labels: P: Critical, C: Installer - Macintosh, T: Bugfix, PR: Reviewed

#5212 Add more error messages for directory locking
  client/main.cpp
Labels: C: Client - Daemon, T: Bugfix, The SCI Campaign

#5213 Mac: Fix automatic launch on login under MacOS 13.3.1
  clientscr/screensaver.cpp
  mac_installer/AddRemoveUser.cpp
  mac_installer/PostInstall.cpp
  mac_installer/finish_install.cpp
  mac_installer/release_boinc.sh
  mac_installer/uninstall.cpp
Labels: P: Critical, C: Installer - Macintosh, T: Bugfix
