Repository BOINC/boinc, pull requests merged in 2024-05, with the labels that each got.

#5608 Fix 'File name too long' on Darwin
  samples/vboxwrapper/vbox_vboxmanage.cpp
Labels: P: Major, C: Apps - VboxWrapper, T: Bugfix, PR: Reviewed

#5611 Fix screensaver on MacOS 14
  api/graphics2_unix.cpp
  api/macglutfix.m
  api/x_opengl.h
  clientscr/Mac_Saver_Module.h
  clientscr/Mac_Saver_ModuleView.h
  clientscr/Mac_Saver_ModuleView.m
  clientscr/gfx_cleanup.mm
  clientscr/gfx_switcher.cpp
  clientscr/mac_saver_module.cpp
  clientscr/screensaver.cpp
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/AddRemoveUser.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/BOINC_Client.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Build_All.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Install_BOINC.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/PostInstall.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/ScreenSaver.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/SetUpSecurity.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/SetVersion.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/Uninstaller.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/api_libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_finish_install.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/boinc_opencl.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/cmd_boinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/detect_rosetta_cpu.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx2libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx_cleanup.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/gfx_switcher.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/jpeg.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/libboinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/mgr_boinc.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/setprojectgrp.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/ss_app.xcscheme
  mac_build/boinc.xcodeproj/xcshareddata/xcschemes/switcher.xcscheme
  mac_installer/PostInstall.cpp
Labels: C: BOINC - Graphics API, C: Client - Screen Saver, P: Major, T: Bugfix, PR: Reviewed

#5610 In exporting of project's news as RSS (rss_main.php), remove time limit.
  html/inc/forum_rss.inc
  html/user/rss_main.php
Labels: C: Web - Project, P: Trivial, T: Enhancement, PR: Reviewed

#5615 [CI] Update actions
  .github/workflows/android.yml
  .github/workflows/linux.yml
  .github/workflows/windows.yml
Labels: P: Trivial, T: Enhancement, C: Build System

#5619 Remove slack links. Put discord links instead.
  CONTRIBUTING.md
Labels: P: Trivial, T: Informational

#5625 [drupal] fix regression in 73fba3369
  drupal/sites/default/boinc/modules/boincwork/includes/boincwork.helpers.inc
Labels: C: Server - Other, C: Web - Other, P: Minor, E: 1 day, T: Bugfix

#5626 [CI] Update actions
  .github/workflows/test-report.yml
Labels: P: Trivial, T: Enhancement, C: Build System, PR: Reviewed

#5620 web: add option for making user name unique
  db/constraints.sql
  html/inc/bootstrap.inc
  html/inc/forum.inc
  html/inc/friend.inc
  html/inc/more.inc
  html/inc/pm.inc
  html/inc/user.inc
  html/inc/user_util.inc
  html/inc/util.inc
  html/project.sample/project.inc
  html/user/account_finish_action.php
  html/user/create_account_action.php
  html/user/edit_forum_preferences_action.php
  html/user/edit_forum_preferences_form.php
  html/user/edit_user_info_action.php
  html/user/friend.php
  html/user/login_action.php
  html/user/login_form.php
  html/user/openid_login.php
  html/user/pm.php
  html/user/stats.php
  html/user/team_founder_transfer_action.php
  html/user/team_join.php
  html/user/team_quit_action.php
  html/user/team_search.php
  html/user/user_agreetermsofuse_action.php
  html/user/user_search.php
Labels: C: Web - Forums, C: Web - Private Messages, C: Web - Project, P: Minor, T: Enhancement, PR: Reviewed

#5630 [linux] fix install scripts to handle upgrade cases.
  .github/workflows/linux-package.yml
  packages/deb/postinst
  tests/linux_package_tests/integration_tests.py
Labels: P: Major, T: Bugfix, C: Installer - Linux

#5631 Correct typo in hostinfo_win.cpp
  client/hostinfo_win.cpp
Labels: C: Client - Daemon, P: Trivial, T: Bugfix, PR: Reviewed

#5632 [linux][client] Fix check whether the client is configured to run as a daemon.
  clientgui/BOINCClientManager.cpp
  clientgui/DlgExitMessage.cpp
Labels: C: Manager, P: Minor, T: Enhancement, C: Client - Linux

#5633 [windows] update 7zip cli tool used internally to build BOINC on Windows
  win_build/vcpkg_3rdparty_dependencies.vcxproj
Labels: P: Trivial, T: Enhancement, C: Build System

#5634 [linux][Manager] Allow shutting down local client when run outside of BOINC Manager but not as a daemon
  clientgui/AdvancedFrame.cpp
  clientgui/BOINCClientManager.cpp
Labels: C: Manager, P: Minor, T: Bugfix

#5636 [linux] add 'all_projects_list.xml' to the linux installation package
  .github/workflows/debrepo/package_prepare.sh
  .github/workflows/rpmrepo/package_prepare.sh
  deploy/prepare_deployment.py
  tests/linux_package_tests/integration_tests.py
Labels: P: Minor, T: Enhancement, C: Installer - Linux

#5637 delete_spammers.php: handle case of link with misspelled URL
  html/ops/delete_spammers.php
Labels: C: Web - Project, P: Minor, T: Enhancement, PR: Reviewed
