Repository BOINC/boinc, pull requests merged in 2024-01, with the labels that each got.

#5478 [CI] Remove custom vcpkg openssl port
  3rdParty/vcpkg_ports/ports/openssl/asm-comments.patch
  3rdParty/vcpkg_ports/ports/openssl/declspec-align.patch
  3rdParty/vcpkg_ports/ports/openssl/install-pc-files.cmake
  3rdParty/vcpkg_ports/ports/openssl/openssl.pc.in
  3rdParty/vcpkg_ports/ports/openssl/portfile.cmake
  3rdParty/vcpkg_ports/ports/openssl/qt-msvc.patch
  3rdParty/vcpkg_ports/ports/openssl/script-prefix.patch
  3rdParty/vcpkg_ports/ports/openssl/unix/android-cc.patch
  3rdParty/vcpkg_ports/ports/openssl/unix/configure
  3rdParty/vcpkg_ports/ports/openssl/unix/disable-quicserver.patch
  3rdParty/vcpkg_ports/ports/openssl/unix/move-openssldir.patch
  3rdParty/vcpkg_ports/ports/openssl/unix/no-empty-dirs.patch
  3rdParty/vcpkg_ports/ports/openssl/unix/no-static-libs-for-shared.patch
  3rdParty/vcpkg_ports/ports/openssl/unix/portfile.cmake
  3rdParty/vcpkg_ports/ports/openssl/unix/remove-deps.cmake
  3rdParty/vcpkg_ports/ports/openssl/usage
  3rdParty/vcpkg_ports/ports/openssl/vcpkg-cmake-wrapper.cmake.in
  3rdParty/vcpkg_ports/ports/openssl/vcpkg.json
  3rdParty/vcpkg_ports/ports/openssl/windows/install-layout.patch
  3rdParty/vcpkg_ports/ports/openssl/windows/install-pdbs.patch
  3rdParty/vcpkg_ports/ports/openssl/windows/portfile.cmake
Labels: P: Trivial, T: Enhancement, C: Build System

#5479 Change 'eMail' to 'email address'
  android/BOINC/app/src/main/java/edu/berkeley/boinc/utils/BOINCErrors.kt
  android/BOINC/app/src/main/res/values-en/strings.xml
  android/BOINC/app/src/main/res/values/strings.xml
Labels: C: Android - Manager, P: Trivial, T: Enhancement, PR: Reviewed

#5481 [CI][OSX] Upload build artifacts
  .github/workflows/osx.yml
  deploy/prepare_deployment.py
Labels: P: Trivial, T: Enhancement, C: Build System

#5483 client: fix non-CPU-intensive logic
  client/project.cpp
  client/project.h
  client/scheduler_op.cpp
Labels: C: Client - Daemon, P: Major, T: Bugfix, PR: Reviewed

#5482 client: handle changes to project master URLs
  client/cs_account.cpp
  client/cs_files.cpp
  client/cs_scheduler.cpp
Labels: C: Client - Daemon, P: Minor, T: Enhancement, PR: Reviewed

#5484 client: when not requesting work for a resource, show correct message
  client/work_fetch.cpp
Labels: C: Client - Daemon, P: Minor, T: Bugfix, PR: Reviewed

#5485 [GUI] When another instance of the BOINC Manager is already running - show the corresponding message to the user
  clientgui/BOINCGUIApp.cpp
Labels: C: Manager, P: Trivial, T: Enhancement

#5486 Wrapper (Unix): use SIGSTOP instead of SIGTSTP to suspend subprocesses
  lib/proc_control.cpp
  lib/proc_control.h
  samples/wrapper/wrapper.cpp
Labels: P: Major, C: Apps - Wrapper, T: Bugfix, PR: Reviewed

#5487 web: add option to use Unix 'mail' command to send emails
  html/inc/email.inc
Labels: C: Web - Project, P: Minor, T: Bugfix, PR: Reviewed

#5488 vbox app demo: fix some filenames. Shouldn't affect anything else.
  samples/vboxwrapper/boinc_resolve
  samples/worker/vbox_job_worker_1.xml
  samples/worker/vm_version.xml
Labels: C: Server - Setup, P: Minor, T: Enhancement, PR: Reviewed

#5489 [worker] Add missed WORKER_RELEASE entry to the version.h.in file
  version.h
  version.h.in
Labels: P: Major, C: Build System, T: Bugfix

#5493 web: showing PHP errors on web pages is optional
  gl
  gl.py
  html/inc/db_ops.inc
  html/inc/util.inc
  html/inc/util_basic.inc
  html/inc/util_ops.inc
  html/project.sample/project.inc
  html/user/job_file.php
  html/user/lammps.php
  html/user/manage_app.php
  html/user/sandbox.php
  html/user/submit.php
  html/user/submit_example.php
  html/user/submit_rpc_handler.php
  html/user/submit_status.php
  html/user/tree_threader.php
Labels: C: Web - Project, P: Minor, T: Bugfix, PR: Reviewed

#5495 Web: sanitize user URLs to prevent XSS attacks
  html/inc/user.inc
  html/inc/util.inc
  html/user/edit_user_info_action.php
Labels: C: Web - Project, P: Major, T: Bugfix, PR: Reviewed

#5496 [ci][linux][arm] update openssl to 3.2.0 and curl to 8.5.0
  linux/arm64/build_curl_arm64.sh
  linux/arm64/build_openssl_arm64.sh
Labels: P: Major, C: Build System, T: Bugfix

#5502 Mac: fix Apple Silicon GPU errors after MacOS update
  client/check_security.cpp
  clientgui/mac/SetupSecurity.cpp
Labels: P: Major, C: Installer - Macintosh, C: Client - Macintosh, T: Bugfix
