Repository BOINC/boinc, pull requests merged in 2024-03, with the labels that each got.

#5523 client: enforce dont_check_file_sizes option
  client/cs_files.cpp
  samples/worker/run_worker_1.sh
Labels: C: Client - Daemon, P: Minor, T: Enhancement, PR: Reviewed, C: Apps - Samples

#5524 Add 64x64 xpm application icon
  clientgui/SkinManager.cpp
  clientgui/SkinManager.h
  clientgui/res/boinc64.xpm
Labels: C: Manager, P: Trivial, T: Enhancement

#5527 Client: fix non-compute-intensive logic
  client/app.h
  client/client_state.cpp
  client/project.cpp
  client/project.h
  client/result.h
Labels: C: Client - Daemon, P: Major, T: Bugfix, PR: Reviewed

#5530 [Linux] Don't start and/or stop the BOINC client that is configured as a systemd service
  clientgui/AdvancedFrame.cpp
  clientgui/BOINCClientManager.cpp
Labels: C: Manager, P: Major, T: Bugfix, PR: Review required

#5531 [Linux] Fix blank windows in Simple GUI.
  clientgui/sg_DlgMessages.cpp
  clientgui/sg_DlgPreferences.cpp
Labels: P: Major, C: Manager - Simple View, T: Bugfix, PR: Review required

#5532 [Linux] When user closes BOINC Manager window with the EventLog open, close properly the application
  clientgui/AdvancedFrame.cpp
Labels: C: Manager, P: Minor, T: Bugfix, PR: Review required

#5534 Mac: Update build instructions for Xcode 15.3
  mac_build/HowToBuildBOINC_XCode.pdf
  mac_build/HowToBuildBOINC_XCode.rtf
Labels: P: Major, T: Informational, PR: Reviewed

#5535 [Locale] Update templates
  locale/templates/BOINC-Client.pot
  locale/templates/BOINC-Manager.pot
  locale/templates/BOINC-Project-Generic.pot
  locale/templates/BOINC-Setup.pot
Labels: C: Client - Documentation, C: Manager - Localization, C: Web - Localization, P: Minor, T: Enhancement, C: Android - Localization

#5540 project setup: remove extraneous " from schedulers.txt
  py/Boinc/setup_project.py
Labels: C: Server - Setup, P: Minor, T: Bugfix, PR: Reviewed

#5542 Replace deprecated VBoxManage command
  samples/vboxwrapper/vbox_vboxmanage.cpp
Labels: P: Minor, T: Enhancement, C: Apps - VboxWrapper, PR: Reviewed

#5545 form_select_multiple(): optional arg is list of selected values
  html/inc/bootstrap.inc
Labels: C: Web - Project, P: Trivial, T: Enhancement, PR: Reviewed

#5547 Avoid compiler warning in vboxwrapper.cpp
  samples/vboxwrapper/vboxwrapper.cpp
Labels: P: Trivial, T: Enhancement, C: Apps - VboxWrapper, PR: Reviewed

#5556 vboxwrapper: fix bug that caused VB version detection to fail
  samples/vboxwrapper/vbox_common.cpp
Labels: C: Apps - VboxWrapper, T: Bugfix, PR: Reviewed

#5559 web: add optional arg to grid(), passed to the top/left/right functions
  html/inc/bootstrap.inc
Labels: C: Web - Project, P: Trivial, T: Enhancement, PR: Reviewed

#5562 Fix permissions of the files installed by DEB package
  .github/workflows/linux-package.yml
  tests/linux_package_tests/integration_tests.py
Labels: P: Major, T: Bugfix, C: Installer - Linux

#5566 [CI] Add custom liblzma port
  3rdParty/vcpkg_ports/ports/liblzma/add_support_ios.patch
  3rdParty/vcpkg_ports/ports/liblzma/build-tools.patch
  3rdParty/vcpkg_ports/ports/liblzma/fix_config_include.patch
  3rdParty/vcpkg_ports/ports/liblzma/portfile.cmake
  3rdParty/vcpkg_ports/ports/liblzma/usage
  3rdParty/vcpkg_ports/ports/liblzma/vcpkg-cmake-wrapper.cmake
  3rdParty/vcpkg_ports/ports/liblzma/vcpkg.json
  3rdParty/vcpkg_ports/ports/liblzma/win_output_name.patch
Labels: P: Blocker, C: Build System, T: Bugfix
